[2018-03-05 15:00] SherSpock commented on #352
@keathley I think that would be super. Some folks might want it toggleable and I don't see much wrong with that. From our side, I think yeah it's worth exploring returning the full or abbreviated content of a matching element

[2018-03-05 15:04] keathley commented on #352
Yeah, we're going to have to truncate it in some cases. The "text" of each element includes text of any children elements. We could end up spitting a large amount of content into the users terminal. I guess a small improvement might be to do a levenshtein distance on the text or something. I'll need to think through the ergonomics of that.

[2018-03-05 15:12] SherSpock commented on #352
Awesome!

[2018-03-06 14:32] SherSpock commented on #352
One of my partners on the project brought #266 to our attention today. The two issues seem to have some overlap. Perfect world -- and I'm just saying this in passing --- it might be nice to see a feature tree related to cleanly rendering the DOM contents, and have this be toggleable on test failure.

That's excessive for the current case (show me the text in the element being asserted on) but I'm

[2018-03-12 14:10] tansaku opened #353 ""Can't find variable: Set" error when trying to include jitsi in a system under wallaby test"
Hi there, we're stuck on this error when trying to include jitsi in a system under wallaby test:

https://github.com/AgileVentures/Paironauts/tree/jitsi_working_with_acceptance_tests

It works on two of our developers machines, but not on two others.  We've gone through locking everyone to the same version of elixir (1.6.3), node (9.4) phantomjs (2.1.1) and adding a package-lock.json, but to no av

[2018-03-12 14:43] keathley commented on #353
Can you vendor the package instead of pulling from the cdn? That might help eliminate some of the variables. Otherwise, I'm not sure what the issue would be. I've never used that JS library.

[2018-03-12 16:31] elbow-jason opened #354 "Wallaby startup is crashing and error is vague"
This crash is preventing the app from starting up and the error message `{:error, {:crashed, 1}}` does not provided actionable information.

[code]

This looks like it could be a poolboy issue, but I wanted to include Wallaby since the error is being caused through `Wallaby.start/2`

I have tried this on:

+ Elixir 1.5.2 and Elixir 1.6.2.
+ OTP 20.0.
+ Phantom 2.1.1 and 2.1.16.
+ Node 8.7.0.

We a

[2018-03-12 18:22] PragTob commented on #353
This looks more like an actual JS error with the library that should also occur in normal browser usage versus a wallaby error. Wallaby just reports that a JS error happens. The most likely case as to why it wouldn't occur in a normal browser would be that it relies on some feature that phantomjs doesn't support yet.

Also, loading race conditions or whatever seem likely.

[2018-03-12 18:27] PragTob commented on #354
Wow that's rough :|

Of the top of my head, I have no idea - sorry but I'm also not that familiar with that part of the code base. I think one would need to debug into that place and see why/what crashes :( Hard to do without your app.

[2018-03-12 18:38] keathley commented on #354
@elbow-jason can you [enable sasl logs](https://hexdocs.pm/logger/Logger.html#module-error-logger-configuration) so we can get a better picture about whats going on?

[2018-03-13 08:45] opsb opened #356 "Format using elixir code formatter"
Would be convenient for future PRs :) I'd have PR'd it myself but it would have skewed my contribution stats somewhat ;)

[2018-03-13 09:23] opsb commented on #356
Yeah, I agree there areas where the formatting could be a little nicer (it's not quite on par with elm-format yet), on balance though having consensus easily trumps those niggles for me (my 2 cents).

[2018-03-13 09:25] PragTob commented on #356
Sadly true :)

[2018-03-13 09:25] tansaku commented on #353
thanks @PragTob - there's no error in the browser, the jitsi all works perfectly fine with no errors in consoles across several browsers.

Note also that wallaby reports no errors at all on two of our developer machines (one OSX, one ubuntu), but does on two others (both OSX).  Phantomjs is the same version on all machines, so we are looking for sources of variance across those machines.  They are

[2018-03-13 13:17] keathley commented on #353
I’m sure y’all have done this but you’ve tried removing all node modules, re-downloading, and ensured that everything is recompiled before testing? That might help to eliminate variables.

[2018-03-13 13:53] keathley commented on #356
I'm fine if someone else wants to run the formatter on wallaby but I have no intention to do it myself. As of right now I think the formatter generates less consistent and less understandable code then the majority of people contributing to this project. I trust all of y'alls ability and so far I've found all of your code very readable 😄 . If someone else feels strongly about it I'm certainly not

[2018-03-13 16:52] elbow-jason commented on #354
@PragTob Honestly, even with the app it's hard. I've got at least 3 other dev's that have the same exact (AFAICT) versions of NodeJS, PhantomJS, Elixir, and Erlang; and they are not having any issues.

[2018-03-13 16:58] elbow-jason commented on #354
@keathley  Here is the error log with `handle_sasl_reports: true` in the `config/test.exs` of the project.
[code]

[2018-03-13 16:58] elbow-jason commented on #354
Additionally, here are my versions via bash and CLI:
[code]

[2018-03-13 19:07] PragTob commented on #354
Some package managers split up the erlang vm weirdly and relatively standard parts might be missing... so that might be one avenue. I never noticed it with wallaby though... would be interesting which modules the apply in `(stdlib) proc_lib.erl:247: :proc_lib.init_p_do_apply/3` - in general I'm not so good with debugging the whole supervision trees someone else might be better :)

[2018-03-13 20:05] keathley commented on #354
@elbow-jason can you check the permissions for phantomjs?

[2018-03-14 12:08] tansaku commented on #353
@keathley yeah, done that a few time ... :-/

[2018-03-14 13:25] keathley commented on #353
How are you installing phantomjs? Are there any sort of issues that might cause the cdn to be unreachable for some of those machines? If you vendor the library does that make the problem go away? If vendoring the library works then we can at least pinpoint the problem to the network / cdn and not to some other variable.

[2018-03-15 12:39] coop opened #357 "Iterating over multiple elements - timeout error"
I'm sorry if this is the wrong place for support questions but I couldn't find a link to a slack / irc so I thought I'd post here - if this is not appropriate please let me know where I should ask questions.

I am receiving timeout errors (first from postgres and then from exunit) when trying to navigate and fill in forms. Specifically I have the following structure:

index page (lists blog posts)

[2018-03-15 13:45] keathley commented on #357
Does clicking the link navigate the browser to a new page?

[2018-03-15 15:13] keathley commented on #357
Sorry, I'll add more clarity here. In your `Enum.each` the `element` is a specific reference to a DOM element on the page. If the link is navigating to a new page (as opposed to just doing something with JS) then that specific element isn't present on your page. So you can't use it in your `click(Query.button("Save")` call.

[2018-03-15 15:49] sphinxc0re opened #358 "Switch to puppeteer"
https://github.com/GoogleChrome/puppeteer seems to be much better maintained and stable than PhantomJS

[2018-03-15 15:57] PragTob commented on #358
We already have experimental support for headless chrome itself... I don't see much benefit from using puppeteer then or am I missing something?

[2018-03-15 16:01] sphinxc0re commented on #358
Oh, I did not know that. Is there any documentation regarding that?

[2018-03-15 16:06] PragTob commented on #358
it's right in the README https://github.com/keathley/wallaby#experimental-driver-support

[2018-03-15 21:07] keathley opened #359 "Make our test suite more reliable in CI"
Right now we get a lot of failing CI tests because our test build isn't very reliable. I propose that we drop support for all elixir and erlang versions other then the latest. I don't think we've ever found an issue in one elixir version and not in another. We can flex on that rule if it makes sense to do so for specific use cases but as of right now I think we're just inviting more issues.

I als

[2018-03-15 21:08] keathley commented on #358
At some point we may try to support the underlying DevTools api. But in true Google fashion its specific only to chrome and isn't apart of any standard so we can't use it for all browsers. Puppeteer seems like a fine library if you're using JS but isn't very useful for our purposes atm.

[2018-03-15 21:08] #358 closed

[2018-03-15 21:23] coop commented on #357
@keathley you are correct that `element` is on the index page, clicking "view post' navigates to a new page.

So how do I rewrite this so it "works"? I have tried passing in `session` instead of of `element` to `click(Query.button("Save"))` like so:

[code]

This still gives me the same error. In fact I get the error just by clicking on "view post":

[code]

I guess that sort of makes sense as it'

[2018-03-15 21:42] keathley commented on #357
Without more context here's how I would probably structure it:

[code]

[2018-03-15 21:53] coop commented on #357
Ok, I seem to have answered question [1] - when navigating to a new page you need to pass in `session` not the result of `click(Query.link(...))` like so:

[code]

It wasn't obvious that I needed to reset the session when visiting a new page. Your [example](https://github.com/keathley/wallaby/issues/357#issuecomment-373532287) was a great help. I have modified your example to support an unknown nu

[2018-03-15 21:53] #357 closed

[2018-03-22 14:33] Papipo opened #360 "Interacting with opened windows/popups"
Hi!

I don't really know how to tackle an OAuth authentication step that happens on a popup. With Capybara, for example, you can access the driver and from there its windows. I haven't found a way to do that with Wallaby.

Apart from that, this is an awesome library, thanks!

[2018-03-22 15:12] keathley commented on #360
@Papipo Thanks! Is the popup an alert or confirmation dialog? If so then you might look at these functions: https://github.com/keathley/wallaby/blob/v0.19.2/lib/wallaby/browser.ex#L760.

Let me know if I'm not understanding your specific use case correctly.

[2018-03-22 15:26] Papipo commented on #360
I was talking about windows openened with things like `window.open()`. Although right now I am not entirely sure about this approach. I think that it could be better to use something like [bypass](https://github.com/PSPDFKit-labs/bypass) and stub the result of the Oauth flow.

[2018-03-22 15:40] keathley commented on #360
Are you using something like uberauth?

[2018-03-22 15:45] Papipo commented on #360
Yes, that's what I plan to use, and I saw on their issue tracker a mention to bypass. I don't know if there is any other option.

[2018-03-22 16:06] keathley commented on #360
Typically with uberauth I use the identity provider in development and test and have users log in through that.

[2018-03-23 12:01] Papipo commented on #360
I don't think that fits my use case. I really want to use my ueberauth configuration for each provider. I still don't know how to mock this. Only if I could redirect /auth/provider to /auth/provider/callback on my tests...

[2018-03-23 13:45] keathley commented on #360
So the core issue is that your trying to log in and it’s opening a new window instead of redirecting the page, and you need a way to interact with that new window?

[2018-03-23 14:16] Papipo commented on #360
Yes, that was the original problem, how to interact with a new window with Wallaby.

For now, I have come up with a solution that I don't like in order to be able to redirect requests to /auth/provider to /auth/provider/callback:

1. configure the ueberauth strategy host to be localhost + some port
2. use Bypass on that port.
3. Repeat with different ports for different strategies

The problem is

[2018-04-02 15:59] FDiskas opened #361 "create-react-app documentation issue"
Reproduce:
1. `npm i -g create-react-app`
1. `create-react-app wallaby-error`
1. `cd wallaby-error`
1. `code .` (open IDE)
1. create new file **wallaby.js**
1. copy example from https://wallabyjs.com/docs/integration/react-jsx.html#create-react-app
1. Run wallaby

**Errors:**
[code]

[2018-04-02 16:34] PragTob commented on #361
Sorry there, this is the wrong wallaby - we're an elixir integration testing tool. [Their org is over here](https://github.com/wallabyjs).

[2018-04-02 16:34] #361 closed

[2018-04-05 12:56] stevegraham commented on #164
It looks like Wallaby does the following:

- Query elements
- Check visibility
- Interact with element. This is two requests to fillable fields, clear, and set_value.
- Log

Are all of these necessary? Would there be a problem with adding a visibility check to the Path query? I have removed the clear field and log calls from an experimental fork with no adverse consequence. What's the rationale fo

[2018-04-06 14:09] keathley commented on #164
@stevegraham What do you mean when you say "adding a visibility check to the Path query"? I generated some flame graphs a while ago and wallaby spends the majority of its time checking for visibility of elements. This is because checking for visibility is pretty hard. Its not enough to check the element itself. The algorithm also needs to check each of the elements parent elements. I'm nervous to

[2018-04-06 14:11] stevegraham commented on #164
I'm not making any assumptions. I'm asking questions.

[2018-04-06 14:12] keathley commented on #164
Sorry! I didn't mean to imply that you were making assumptions. More that *I've* made assumptions and those assumptions might be wrong. You're totally correct to ask those questions. I wrote this code a while ago and I can't quite remember why I made all of the decisions that I made :heart:

[2018-04-20 20:20] stephaniewilkinson opened #365 "(RuntimeError) Wallaby had an internal issue with HTTPoison"
## Issue

When I switch to using Chrome, I get this error:

[code]

Versions:
`elixir: "~> 1.4",
`

## Test Code & HTML

Here's my test:

[code]

Here's my FeatureCase:
[code]

Here's my HTML:

`  <h1 class="header center">Welcome to School!</h1>
`
Thanks for any help you can give!

[2018-04-20 20:29] keathley commented on #365
Thanks for the report @stephaniewilkinson. Can you confirm what version of chrome and chromedriver you have installed?

[2018-04-20 20:36] stephaniewilkinson commented on #365
My Chrome is Version 66.0.3359.117 (Official Build) (64-bit)
My ChromeDriver is 2.37.544337 (8c0344a12e552148c185f7d5117db1f28d6c9e85)
I had previously tried on Chrome 65 with the same result.

For phantomjs I didn't customize the version, just ran this:

`npm install -g phantomjs-prebuilt
`

[2018-04-20 22:01] keathley commented on #365
Thanks! All of that looks correct to me. We get those httppoison errors when there’s an issue communicating with chromedriver. Based on the stack trace it looks like it’s not able to create a new session which typically indicates an issue with wallabys ability to talk to chromedriver or chromedrivers ability to talk to chrome.

[2018-04-20 22:28] stephaniewilkinson commented on #365
Thanks! any ideas what to try next?

[2018-04-20 22:58] keathley commented on #365
What OS are you using? Are both chrome and chromedriver in your path? Other things to try might be trying out the latest elixir and otp version.

[2018-04-25 15:20] johnmosesman opened #366 "Don't fail (or ignore) on JS warnings?"
Is it possible to configure wallaby to ignore JS warnings, but not errors? Due to an aggressive React warning on a valid element (HTML 5 video `<source>` tag) our tests are failing.

[code]

[2018-04-25 16:39] keathley commented on #366
You can add `js_errors: false` to to your wallaby config in order to disable errors causing test failures. Let me know if that doesn't solve your issue :+1:.

[2018-04-25 16:39] #366 closed

[2018-04-25 16:41] johnmosesman commented on #366
Hmm ideally there would be a way to differentiate between warnings and errors--as an unexpected error is probably something worthy of failing on--but I can see how that would be difficult to determine.

[2018-04-25 16:48] keathley commented on #366
Ah, sorry, I was probably too hasty and didn't fully understand the issue. The errors are captured here: https://github.com/keathley/wallaby/blob/master/lib/wallaby/phantom/logger.ex#L5. We might be able to reliably determine if the message is a warning or an error there.

[2018-05-07 16:25] tansaku commented on #353
thanks @keathley - jitsi didn't seem to easily go for vendoring.  We seem to have fixed the issue by using a more recent beta version of phantomjs that supports ES6 https://www.npmjs.com/package/phantomjs25-beta - thanks to @bcb37 for working this out ...

[2018-05-07 16:45] keathley commented on #353
Rad, glad you got it sorted out 👍.

[2018-05-07 16:45] #353 closed

[2018-05-08 18:01] kissonde opened #367 "ChromeDriver Zombie Processes"
## Issue

Running wallaby on elixir with chromedriver is leaving zombie processes.

We're running the application from within a docker instance.

## Test Code & HTML

The following code:
use Wallaby.DSL
import Wallaby.Query

{:ok, s} = Wallaby.start_session()

try do

...

after
  Wallaby.end_session(s)
end

Is executed every 30 minutes, using a Quantum Job on Elixir. After every execution we're l

[2018-05-08 18:20] kissonde commented on #367
After fiddling around on alpine, the $(ps pid,pgid | ...) command doesn't return the same as within the host.

Problem is with running this on docker instance from alpine.

[2018-05-08 18:20] #367 closed

[2018-05-12 11:16] josuehenrique opened #368 "How can I alter tab using chrome headless?"
`      :wallaby, "~> 0.19.2"
      :elixir, "~> 1.6.0"
`

[2018-05-13 17:04] keathley commented on #368
Hey @josuehenrique. Can you provide more information about what you're trying to achieve here?

[2018-05-24 15:51] keathley commented on #368
I'm going to go ahead and close this for now. If you want to re-open with more information please do.

[2018-05-24 15:51] #368 closed

[2018-05-29 09:06] dsdshcym commented on #331
I ran into the same issue today.

And setting `base_url` to http://foo:bar@example.com can pass the basic auth correctly.

But I'm not sure how to use `accept_prompt/3` to enter the username/password. If my understanding is correct, `accept_prompt/3` only accepts one input value, instead of two.

[2018-06-02 16:36] mhanberg commented on #152
I will take a crack at this.

[2018-06-05 08:29] carl-al opened #372 "save_and_open_page a missing feature of capybara"
Hi

I have a series of helpers that I would like to share however want to start with a simple tool we use a lot. That is the `save_and_open_page` feature inspired by the same feature in capybara for ruby which can be found here:

https://github.com/teamcapybara/capybara/blob/e8b49b6eed31547ab3138b6c18ecc423b1ae5405/lib/capybara/session.rb#L691

We have it as a helper but thought if you wanted to a

[2018-06-07 03:27] brandonparsons opened #373 "Ignore {:error, :obscured} ?"
I'm using Wallaby `0.20.0`.

I have started getting a pile of `{:error, :obscured}` failures in my feature tests. These used to pass, but have started failing for cases where I'm trying to interact with an element in a modal popup.

I'm not sure why Wallaby thinks these are obscured (I've taken screenshots and the fields are there). Is there any way to tell Wallaby to go ahead and interact with el

[2018-06-07 18:47] keathley commented on #373
I'll look through the changelog to see if there's anything specific that would have caused this. could you give me a sample test? That way I can bisect and see whats going on?

[2018-06-09 14:32] brandonparsons commented on #373
Unfortunately I'm not going to be able to pin down for you exactly when this error would have started showing up (i.e. it's not a result of `0.19` -> `0.20`).

Development of our app slowed way down when we went to focus on usage growth -- I haven't been running a lot of feature tests recently. Also, I have it set up to specifically require that I run feature tests (not on `mix test`), so previous

[2018-06-10 13:25] nelson687 opened #375 "Phantomjs - Wallaby had an internal issue with HTTPoison"
I'm using wallaby to scrape different links from a page, and I'm trying to do this in parallel using Task.async and Task.await, in total there are 38 links I want to spawn in parallel, but in order to test I started with only 2:

[code]
and
[code]

this works, but when I change `Enum.slice(0, 2)` to more than 2, I get this error
[code]

I have phantomjs 2.1.1 installed, Elixir 1.5.1 and Erlang 20

[2018-06-10 14:42] nelson687 commented on #375
Just tried without spawning new processes for each link and it works
[code]

so it seems the issue is when running multiple Wallaby browser sessions

[2018-06-12 04:07] dsdshcym commented on #365
Got an similar error:

[code]

Not sure if it's the same issue though.

I'm running macOS 10.13.5, Chrome 67.0.3396.79, ChromeDriver 2.40.565386, Elixir 1.6.5 (compiled with OTP 20).

[2018-06-12 14:02] keathley commented on #372
Thanks @carl-al. I think this looks like a worthwhile feature. If you want to open a PR we can discuss implementation details there. One thing to think is if this should be a "chainable" action. In which case we'll want to return the session from this function so that it can be joined with other actions in a pipeline like so:

[code]

Thanks 👍!

[2018-06-12 14:02] #372 closed

[2018-06-12 14:06] keathley commented on #375
Typically this happens when we overrun the webdriver with requests as happens when running lots of requests in parallel. I've been trying to make this more reliable with retries. But we probably need to include backoff and jitter in wallaby's request handling to make this more robust.

[2018-06-12 14:08] keathley commented on #373
Is the page rendered with JS? Does it have any sort of fancy css? What browser are you using?

[2018-06-12 14:09] keathley commented on #365
We need to add more backoff and jitter to our http client. We see these issues when chromedriver starts to get overwhelmed with requests.

[2018-06-13 02:08] carl-al commented on #359
@keathley Agree with this. Surely supporting 2-3 minor versions behind, with latest patches is enough? With latest support and 3 patches to the latest?  So on this note, we should support Elixir

v1.6.5 OTP 20
v1.6.4 OTP 20  _**optional_
v1.5.3 OTP 20
v1.4.5 OTP 20

v1.6.5 OTP 19
v1.5.3 OTP 19
v1.4.5 OTP 19

**Selenium**
Second, Selenium version 2 is riddled with issues and lack of support for tod

[2018-06-13 14:30] keathley commented on #359
@aaronrenner would be the person to talk to about dropping selenium 2 support. I don't have a strong opinion on it one way or the other.

I have a lot of experience with circle ci and I'm not against moving there. But we'll still need to do the work of building docker containers that include our drivers, etc. regardless of where we run our tests.

[2018-06-13 18:30] keathley commented on #373
Just a thought, but it may be that we aren't retrying correctly if we get the obscured element error. I'll have to look through the code to see if thats the case though.

[2018-06-14 13:37] brandonparsons commented on #373
@keathley Thanks! Let me know if you find anything. I promise you the field is there and can be interacted with in a real browser. I'd like to keep feature tests around, so anything you can come up with would be greatly appreciated.

[2018-06-14 13:49] keathley commented on #373
I suspect it has something to do with when chrome driver is attempting to interact with the modal combined with how the modal is opening. It may be something that we aren't handling correctly internally. I'll try to dig around.

[2018-06-19 06:13] daveed commented on #359
First iteration @keathley and @aaronrenner for the build on CircleCI using elixir 1.6.5 and phantom.
My fork is at https://github.com/daveed/wallaby/pull/1 and CircleCI at https://circleci.com/gh/daveed/wallaby/2
Will add elixir versions using `asdf` and CircleCI Workflows to test different elixir versions and web drivers and more.

[2018-06-19 12:32] jeroenhouben commented on #375
Why is the httpoison dep still on 0.x ?

It's already at 1.2.0 https://github.com/edgurgel/httpoison/blob/master/mix.exs

[2018-06-19 12:45] keathley commented on #375
@jeroenhouben see https://github.com/keathley/wallaby/pull/369

[2018-06-19 14:30] nelson687 commented on #375
Is this a webdriver issue or something specific to this library? I mean, are we constraint by webdriver or is there any space for improvement?

[2018-06-19 16:24] keathley commented on #375
@nelson687 We get these errors because the different webdrivers can't handle the amount of concurrent requests we throw at them. We can help this by doing backoff with jitter in our retry logic.

[2018-06-28 21:29] thmzlt commented on #373
I'm also getting this error when trying to manipulate a page with zero javascript using `chromedriver`. Let me know how I can help.

[2018-06-29 05:56] evax commented on #373
I've been seeing the same thing with chromedriver for elements that are out of the current viewport, and work around it explicitly scrolling the element into view before interacting with it.

[2018-07-02 14:51] keathley commented on #373
@evax what are you doing to scroll the element into view?

[2018-07-02 15:46] evax commented on #373
@keathley I'm calling javascript for now

[code]

[2018-07-10 01:10] calvinkw1 commented on #365
@keathley any update here? Am running into the same issue:

[code]

[2018-07-10 01:13] calvinkw1 commented on #365
@keathley any update here? Am running into the same issue:

[code]
I have chromedriver 2.36.540469 installed, Elixir 1.6.4 (compiled with OTP 20), Mac OS 10.13.5

[2018-07-10 16:15] keathley commented on #365
I'm working on tracking down the root cause but so far no luck. Without a way to reliably re-produce this issue locally its very difficult to ensure we have a proper fix. If you have a test case that you can provide that would greatly assist the effort here.

[2018-07-10 17:46] keathley commented on #365
I've opened a PR that _may_ help to reduce some of the issues that folks are seeing. If you would like to test out that branch locally that would be very useful.

[2018-07-10 17:47] keathley commented on #375
I've opened a PR that _may_ help to alleviate some of these issues. Otherwise I'm going to close this for now and move the discussion to #365. At this time I believe that they are related issues.

[2018-07-10 17:47] #375 closed

[2018-07-10 17:48] keathley commented on #373
@evax, @thmzlt can either of you provide a failing test case so I can reproduce this locally?

[2018-07-11 13:33] keathley commented on #360
This is theoretically possible to do with this functionality: https://www.w3.org/TR/webdriver/#dfn-switch-to-window. We already support getting window handles internally in chrome. We would just need to extend this functionality. This is NOT supported by phantom so I'm not sure how we should handle this from an api perspective.

[2018-07-11 13:34] keathley commented on #359
@daveed Are you still interested in pursuing this?

[2018-07-11 13:35] keathley commented on #356
Closing this for now. I think at this point its happening file by file as people are doing development.

[2018-07-11 13:35] #356 closed

[2018-07-11 13:37] keathley commented on #354
I'm not sure if I have anything else to go on so I'm going to close this issue for now. Feel free to re-open if you have any new insights into this problem.

[2018-07-11 13:37] #354 closed

[2018-07-11 13:39] keathley commented on #352
I think we can solve a lot of this with #266 so I'm going to close this issue for now and pursue that.

[2018-07-11 13:39] #352 closed

[2018-07-11 13:42] #351 closed

[2018-07-11 13:44] #350 closed

[2018-07-11 13:46] keathley commented on #349
We're going to be adding better support for external drivers in 1.0.

[2018-07-11 13:46] #349 closed

[2018-07-11 13:49] keathley commented on #346
I think the solution here is to add something to the README or wiki about this issue. The correct fix should be upstream in chromedriver. We already have an open PR on this here #348 so I think we can close this and manage the fix there.

[2018-07-11 13:49] #346 closed

[2018-07-11 13:51] #341 closed

[2018-07-11 13:54] keathley commented on #335
#377 should help solve this.

[2018-07-11 13:54] #335 closed

[2018-07-11 13:55] marnen commented on #351
Not sure why this was closed, given that the docs were never updated...

[2018-07-11 13:57] keathley commented on #331
Using the URL for basic auth is the preferred method.

[2018-07-11 13:57] #331 closed

[2018-07-11 14:02] keathley commented on #305
@aaronrenner Is this still something that we need to address or can we close this issue for now?

[2018-07-11 14:04] keathley commented on #299
As much as I'd like to do this I don't have time or energy to support it at the moment. If someone else wants to take a crack at it then that would be great. I'm going to close for now though.

[2018-07-11 14:04] #299 closed

[2018-07-11 14:07] keathley commented on #351
If you would like to submit a PR that updates the docs then that would be great. Otherwise we're planning on moving to chrome as the default driver since phantom is deprecated so this problem will be lessened.

[2018-07-11 14:08] #278 closed

[2018-07-11 14:08] marnen commented on #351
Oh, OK. If this is moot then I won’t bother, but I’ll try to add a sentence or two.

[2018-07-11 14:14] keathley commented on #274
We should confirm that this isn't broken in chrome. There are known sanitization issues with phantom but I'm planning on replacing phantom with chrome as the default driver. If chrome does not share this issue then I think we're safe to close it.

[2018-07-11 14:16] keathley commented on #256
This is related to #306 and #344 so I'm going to close this and continue the discussion there.

[2018-07-11 14:16] #256 closed

[2018-07-11 14:17] #216 closed

[2018-07-11 14:19] keathley commented on #180
Going to close this for now. It might be nice to do this in the future but currently I don't have bandwidth to support it. Feel free to re-open if anyone gets inspired.

[2018-07-11 14:19] #180 closed

[2018-07-11 14:20] keathley commented on #152
@mhanberg were you able to find anything?

[2018-07-11 14:22] keathley commented on #102
I'm going to close this for now since I don't have any other actionable steps to take. If anyone has further information please feel free to re-open.

[2018-07-11 14:22] #102 closed

[2018-07-11 15:01] mhanberg commented on #152
I have been exploring how the different drivers work and getting a feel for the codebase, but haven't yet written any code yet.

[2018-07-12 14:50] keathley commented on #35
There isn't a great way to manage this currently without adding deeper hooks into a given framework which I'm leery to do currently. I'm going to close this for now since I'm not sure we have a good solution or that this needs to be fixed at a driver level.

[2018-07-12 14:50] #35 closed

[2018-07-12 14:52] keathley commented on #38
Some of these features have been included since this was opened and there are specific issues for further improving our error messages. Going to close this in favor of continuing the discussion there.

[2018-07-12 14:52] #38 closed

[2018-07-12 14:58] keathley commented on #44
I'm not sure of a reliable way for us to simulate this so I'm going to close this issue for now. If anyone knows of a way to do this feel free to re-open the issue.

[2018-07-12 14:58] #44 closed

[2018-07-12 15:02] keathley commented on #43
I think the way we'd have to do this is with the perform actions endpoint: https://www.w3.org/TR/webdriver/#dfn-perform-actions.

We'd have to construct the list of actions internally and then execute them. I'm not sure what the level of effort would be to construct the actions since I'm not exactly sure what format the actions have to be in or if they would work with our existing functionality.

[2018-07-12 15:07] keathley commented on #109
@viniciussbs has the correct answer here. Going to close this.

[2018-07-12 15:07] #109 closed

[2018-07-12 15:10] keathley commented on #365
The PR is now on master so if you'd like to test with that it would be very appreciated.

[2018-07-12 15:18] keathley opened #378 "Browser should only accept sessions and queries"
I propose that we should remove the ability to pass an element to any of the `Browser` functions. Doing this removes an entire class of race conditions since queries block until they become true. This also makes the api more consistent and should help to reduce issues with chaining. We already support `Element` so if people want to find a specific element and then pass that element to the `Element

[2018-07-12 18:42] daveed commented on #359
I am @keathley

[2018-07-13 00:06] calvinkw1 commented on #365
Sorry.. didn't work. Getting a similar error:

[code]

This seems to be only for me.. works fine on Circle CI and on other colleagues' machines. Not sure why this is.

I can provide whatever you need but note that I'm an Elixir newb...

[2018-07-13 00:06] calvinkw1 commented on #365
Sorry.. didn't work. Getting a similar error:

[code]

This seems to be only for me.. works fine on Circle CI and on other colleagues' machines. Not sure why this is.

I can provide whatever you need but note that I'm an Elixir newb...

[2018-07-13 07:44] evax commented on #365
I've been having a similar issue and realized that a lot of chrome and chromedriver processes had been accumulating - killing those fixes it for me.

[2018-07-13 13:45] keathley commented on #365
@evax Like they're being orphaned after running tests?

@calvinkw1 Can you provide any other insights into what might be different on your machine? Different OS, chromedriver version, chrome version, etc.? Based on the error you posted it looks like chromedriver isn't even starting, hence the `:econnrefused`. Are you sure that chromedriver is in your path? If we can narrow down why thats happening

[2018-07-13 14:52] evax commented on #365
@keathley yes, though in that case if that helps I wasn't running the full test suite but giving `mix test` the path of the test file as an argument, in an umbrella.

[2018-07-13 15:17] keathley commented on #365
I wonder if the cleanup script isn't being run correctly because of the umbrella or something similar.

[2018-07-13 16:01] keathley opened #379 "Query composition api"
We should be able to compose queries together. My concerns are on the API at the moment and not implementation. There are 2 specific problems that I want to solve: 1) easily augmenting an existing query and 2) nesting queries.

## Problem 1: Augmenting existing queries

Our current query implementation requires that you specify all of the parameters when the query is created like so:

[code]

If y

[2018-07-13 16:06] keathley opened #380 "Add selected to query api"
There is currently no way to specify if a value is "selected" at the query level. This means if you want to assert an element is selected you need to do this:

[code]

This is error prone since its no longer declarative and has race conditions.

We need to add `selected` to our list of query attributes.

[2018-07-13 16:08] keathley opened #381 "Add "value" query attribute"
Similar to #380, there is currently no way to specify an elements value in a query. If you want to assert that an element has a specific value then you need to do something like this:

[code]

This breaks the declarative nature of the api and is prone to race conditions. We should add a `:value` attribute to Query.

[2018-07-13 16:41] evax commented on #365
It could be because the path is relative to the app, so when you have multiple apps in an umbrella, it will likely only work for one app, the others display: `Test patterns did not match any file: path/to/testfile_test.exs`

[2018-07-13 17:14] calvinkw1 commented on #365
Ah shoot. This is probably something I should have mentioned as well. I was passing in a specific file path rather than running the entire test suite. Running the entire test suite passes without issue.

[code]

Watching `htop`, I don't see a `chromedriver` process run when I only pass in a file path, but I do when I run the full suite.

Also, if it matters, I work on a Ruby project that has `Chro

[2018-07-13 18:39] keathley commented on #365
@calvinkw1 The only thing I can think in that case would be that its not running the test_helper.exs when you run that specific file. Or that file isn't using the correct `FeatureCase` or something similar.

[2018-07-19 14:26] schnittchen opened #382 "Still seeing stray phantomjs processes in 0.20.0"
## Issue

As the title says.

Interesting to notice: neither killing the wrapper script nor phantomjs itself helps. killing with `-9` is necessary to get rid of the processes.

Environment:

Docker container derived from elixir:1.6.6-slim, phantomjs installed via

[code]

[2018-07-30 00:35] mhanberg opened #383 "Seeing %MatchError{term: {:error, :obscured}} when calling execute_script with certain kinds of JavaScript"
## Issue

[code]

When attempting to use `await` with the `execute_script` function, I have experienced a `%MatchError{term: {:error, :obscured}}`.

[code]

This line of code works in the dev console on Chrome.

I have been told that `%MatchError` but might the incorrect error for this case.

---

I was able to work my way around this without needing to use `await`.

[2018-07-30 14:42] keathley commented on #383
I think the issue is here: https://github.com/keathley/wallaby/blob/master/lib/wallaby/httpclient.ex#L70.

This was called out in an earlier issue but now I'm not sure what that issue was or why this wasn't fixed before. We should remove that status check and find a better way to surface errors. Returning the actual error text from the http response would be a good start and help illuminate whats

[2018-07-31 00:25] keathley commented on #383
@mhanberg Do you have a minimal test case we can use to re-produce this locally?

[2018-07-31 00:59] mhanberg commented on #383
@keathley The test case can be found here: https://github.com/mhanberg/wallaby_bug_demo.

[2018-08-06 13:27] keathley commented on #383
@mhanberg Does this fail pretty reliably for you? I'm not seeing any errors. I just checked and it seems I'm running chromedriver 2.4 (same chrome version as you). Can you confirm that this error is present after updating to the latest chromedriver?

[2018-08-06 22:29] mhanberg commented on #383
@keathley  I upgraded to chromedriver 2.41 and the error persists.

Also, to clarify, the test case I provided may have been misleading, as it asserted that the MatchError _would_ be raised, so a passing test indicates the problem is there. Sorry about that.

I have updated the test to fail when a MatchError is throw.

[2018-08-06 23:46] danbee commented on #354
I'm seeing the same errors consistently trying to build my app on Codeship Pro. This is a dockerized environment and I'm building the Elixir image from the `elixir:1.6.6-alpine` base image.

I'm happy to post my Dockerfile and other relevant configuration if it will help?

[code]

[2018-08-07 13:02] keathley commented on #383
Oh! Thats my fault. Should have looked closer at the test itself. Thats what I get for trying to rush around. Thanks for the clarity :+1:.

[2018-08-13 01:49] sublimecoder opened #385 "New maintainer for wallaby."
I know Elixir school expressed interest in maintaining the project, and I think they’d be a wonderful home for wallaby, but I’d also like to throw my hat in the ring as well. I’ve used wallaby on several projects and love it. I’m happy to assist with the project or take over full maintainership, just want to make sure this project continues and gets the love it deserves.

[2018-08-13 09:05] PragTob commented on #385
:wave:

Hi there, thanks for the support means the world :heart: :heart: :heart:

Did @keathley already post his blog post? It also doesn't mean that there needs to be one or the other, we operated as a team and no reason not to do that in the future. I'll also stick around to some degree :)

[2018-08-14 14:03] keathley commented on #385
@sublimecoder Thanks so much! I'm talking with the elixirschool folks about creating a place for projects like Wallaby. But I don't think that precludes anyone from wanting to jump in and becoming a contributor or maintainer. The good news is that we have a decent start to a roadmap for 1.0 so if you wanna start taking a look at the different issues then feel free to. You can also reach out to me

[2018-08-16 16:07] mschae opened #386 "Session ID is nil after creating session"
To preface: We are trying to use Wallaby inside a docker container, talking to selenium in a different container.

## Issue

When invoking `Wallaby.start_session/2` it returns `nil` for the session ID.

## Test Code & HTML

`config/test.exs`:
[code]

`test/support/integration_test.ex`:
[code]

Result:
[code]

I logged the response of the selenium server and it is as follows:
[code]

[2018-08-16 19:09] keathley commented on #386
Looks like you're trying to drive a chrome browser. Is that correct? Do you have chromedriver installed in the selenium docker container?

[2018-08-16 19:13] mschae commented on #386
You are correct, I’m trying to remote-control Chrome via selenium. I don’t have anything installed in the app container and I’m talking to the webdriver Server in the selenium/chrome container.

It works with hound but I was trying to switch to wallaby because I saw that you are putting more effort into this project recently and hound seems stale at the moment.

[2018-08-16 19:14] mschae commented on #386
BTW I’m using the „official“ selenium chrome-standalone docker image: https://hub.docker.com/r/selenium/standalone-chrome/

[2018-08-16 19:33] keathley commented on #386
My only theory is that we're not sending the correct capabilities or something to selenium. But I'm not sure what that would be specifically. @aaronrenner knows more about selenium then I do. We should also be returning an error here if this fails. We shouldn't end up in a situation where we think a session has been created when it hasn't been.

[2018-09-05 13:41] joelbyler commented on #385
@keathley still looking for help?  I'll look thru some issues and see if I can help out.  I'm not sure I'll be able to take the lead on this or anything but glad to do what I can to help clear the backlog of issues.  Are there any that you feel are particularly good to get started on and maybe a little more important than others?  If not, I'll go ahead and look thru them to see what where I might

[2018-10-03 17:51] mjankowski commented on #365
After using chromedriver+wallaby successfully on an elixir test suite for a while, I saw this issue for first time today. I remembered that last week while working on other projects I had fiddled around with my chromedriver install - I had a few ruby projects and wound up using the `chromedriver-helper` gem in them to get local and CI working well together.

Anyway - I have the same chromedriver v

[2018-10-09 14:12] #381 closed

[2018-10-20 19:28] mhanberg commented on #383
It looks like the message that comes with this error is

[code]

Which makes sense to me after reading PR #374

@keathley I have gone ahead and made a PR #389 to keep the error message instead of `:obscure`. Let me know what you think.

[2018-10-22 23:49] keathley commented on #383
Thanks @mhanberg I'll take a look :+1:

[2018-10-30 03:08] mhanberg commented on #373
This might be able to be closed due to #389.

[2018-10-30 03:08] mhanberg commented on #383
Fixed in #389

[2018-10-30 03:08] #383 closed

[2018-10-30 03:10] mhanberg commented on #280
This might be able to be closed due to #389.

[2018-10-30 03:11] mhanberg commented on #305
This was addressed in #392

[2018-10-30 12:38] #305 closed

[2018-10-30 12:46] keathley commented on #280
Yup. I think we can close this now. At least we'll be returning real errors now.

[2018-10-30 12:46] #280 closed

[2018-10-30 14:09] mhanberg commented on #266
I'm going to take a look at this. Was there a direction that was settled on? I feel like the `Element.inspect` path is a solid choice.

[2018-10-30 14:34] keathley commented on #266
Lets start there and get the functionality working. We can always update the name later if need be.

[2018-10-31 13:08] keathley commented on #373
@brandonparsons Would you mind testing on master to see if this has solved your problem?

[2018-10-31 13:09] keathley commented on #386
We've recently made some improvements to the error handling. These are in master. If you'd like to test them out that would be greatly appreciated.

[2018-10-31 14:07] brandonparsons commented on #373
I'll give it a shot today. I'm not positive all my feature tests will still
work (I've let them slide due to false negatives), but if most of them pass
that would probably be indicative of the problem being fixed.

On Wed, Oct 31, 2018 at 7:08 AM Chris Keathley <notifications@github.com>
wrote:

[2018-10-31 18:06] brandonparsons commented on #373
@keathley I'm getting the same number of test failures, but a different failure message that may be more helpful.

[code]

I don't know what to do with this, but perhaps it helps you?

[2018-10-31 18:16] keathley commented on #373
Thanks @brandonparsons this is definitely a lot more helpful

[2018-10-31 18:59] mhanberg commented on #373
@brandonparsons what version of Chrome and ChromeDriver are you using?

[2018-10-31 21:17] brandonparsons commented on #373
@mhanberg I can't check right now, but is that not it right in the error message?

`(Session info: headless chrome=70.0.3538.77)\n  (Driver info: chromedriver=2.34.522932 (4140ab217e1ca1bec0c4b4d1b148f3361eb3a03e),platform=Mac OS X 10.13.6 x86_64)`

[2018-10-31 21:52] mhanberg commented on #373
😅 I need to learn to read. Thanks. Could you try updating chromedriver? I believe that the current version is `2.43`.

At some point, chromedriver moved from `brew` to `brew cask`, so you may need to run `brew uninstall chromdriver` and `brew cask install chromedriver`.

@brandonparsons

thanks

[2018-11-01 00:54] keathley commented on #373
I have a suspicion that something in chromedriver has changed and our internal contract has broken. Its probably something we need to investigate further.

[2018-11-01 03:17] brandonparsons commented on #373
@mhanberg @keathley Upgrading chromedriver actually seemed to really help. Went from 14 failures to 2, and those two could actually be legitimate failures given that I haven't been taking very good care of my feature tests!

[2018-11-01 03:39] mhanberg commented on #152
This can be closed due to #390

[2018-11-01 12:59] keathley commented on #373
Awesome! Sorry it caused you some pain but glad to hear that it's working now. We'll go ahead and close this for now but if you encounter more issues let us know 👍

[2018-11-01 12:59] #373 closed

[2018-11-11 22:05] mhanberg commented on #344
I am going to start looking into this.

[2018-11-15 19:05] #266 closed

[2018-11-16 00:09] #344 closed

[2018-11-16 00:20] mhanberg commented on #380
I'm going to start working on this

[2018-11-17 21:11] #152 closed

[2018-12-21 21:17] germsvel commented on #136
I took a stab at this in #401 . Let me know if this wasn't the way to go with this. Happy to amend or close the PR. Thanks for maintaining Wallaby!

[2018-12-22 03:08] #136 closed

[2018-12-28 11:37] germsvel commented on #380
I was doing some preliminary research on this, and I had a couple of questions. Sorry for the long questions; let me know if they're not clear, and I can elaborate more.

---

The first one is just a clarifying question:

Is the intention of this to create something like this? (just want to confirm before diving in)

[code]

---

The second question is about the argument being passed into `Query.s

[2019-01-04 17:33] keathley commented on #380
Sorry for the delay @germsvel and thanks for looking into this.

As for the first question I was originally thinking of something like this: `css("#option-1", selected: true)`. That way we can use our existing queries but determine if they are selected or not. As for implementation I think we may have to do something similar to how we check for visibility. The way that works is we find all the ele

[2019-01-04 20:43] germsvel commented on #380
No delay at all! I know you're trying to step down from maintaining Wallaby, and I know it takes a lot to respond to all of the issues that come in. So thank you so much for taking the time! I really do appreciate it.

And thanks for the clarification. That makes it super clear, and I'm glad I asked the question. I was totally going the wrong way. I'll take a stab at it, and see where it goes.

[2019-01-07 11:36] germsvel commented on #380
I took a stab at this in https://github.com/keathley/wallaby/pull/402. Let me know if it makes sense or if I should change stuff. Hope this helps, and thanks again for your time!

[2019-01-10 12:02] germsvel commented on #379
Adding my thoughts here. Hope they're helpful.

## Problem 1: Augmenting existing queries

* I think the piping looks great. `css(".class") |> text("Grace") |> visible(true)`
* I prefer the `visible(Query.t, boolean) :: Query.t` approach to the `hidden` one. I think it strikes the right balance of adding composition but also it maps 1-1 to the name of the option passed in, so it's easy to remember

[2019-01-11 22:41] keathley commented on #379
My main concern with `within` is that it'll be impossible to remember the order. I need to think about the idea of passing a `within` option. I wonder if we should come up with some other name like `nested_under` since it would explain the order that the arguments need to be passed in.

[2019-01-12 14:52] #380 closed

[2019-01-14 14:15] keathley opened #404 "Add functions for all query options"
Based on #379 we want to create functions that can be used to augment queries. We should start with all of our existing options. These functions should take a query and return a query so that they are composable with other query functions.

The initial functions we should create are:

* `count(query, term())`
* `visible(query, bool)`
* `selected(query, bool())`
* `text(query, String.t())`
* `at(qu

[2019-01-14 14:16] keathley commented on #379
I've split off everything in problem 1 since its unrelated to the composition or nesting of queries. We can work on nesting as a separate task.

[2019-01-14 14:41] germsvel commented on #379
Yeah, I think you bring a good point that `within` makes the order of the arguments ambiguous. I have been mulling over the `nested_under`, and it's been growing on me. I especially like the `nested` part since I think it's closer to the language people use when talking about html structure.

I also think it helps with the ambiguity but it doesn't completely remove it. At least, it's not super cle

[2019-01-14 21:48] keathley commented on #379
I've been thinking about this more. I think we want to use something like `nested_under` or `nested_in` or `child_of`. The form should be `nested_under(my_query, the_parent)`. The reason is because if we were to do `nested_under(the_parent, my_query)` then this would 1) not chain correctly and 2) increase the "depth" of the query. Let me see if I can illustrate what I mean:

Lets say that we have

[2019-01-15 18:30] michallepicki commented on #386
Hi @mschae
Did you have any progress with resolving the issue?

I just had a similar problem (`session.id` was `nil`) using the Selenium driver and in my case passing capabilities to options when starting session helped:

[code]

[2019-01-17 13:58] germsvel commented on #379
Yeah, I'm 100% with you in terms of that property of the api. I really like how well that last bit that you wrote composes,

[code]

As for the actual name `nested_under`, I too am unsure. I tried thinking of other names, but the only things I can come up with (aside from `nested_in`) are `contained_in` and `included_in`. I'm not sure those are better, but I'm putting them here in case you like on

[2019-01-17 14:52] keathley commented on #379
After thinking about it a bit I think we should go with `child_of`. I think thats the most semantically correct word. It communicates what the relationship is between these two queries.

[2019-01-22 11:42] germsvel commented on #379
My only concern with `child_of` is that it might be confusing since a "child" css selector is the immediate descendant, not just any descendant. I know the query struct is not tied to the "child" css selector, but since it's sort of in the same domain, I wonder if it might convey that meaning. That's not the aim of this query though, is it?

[2019-01-22 15:24] keathley commented on #386
@michallepicki do you know what the underlying issue was?

[2019-01-22 15:26] keathley commented on #379
Ah I see what you're saying...ok, `nested_under` is the best alternative that I've come up with so far. I suppose we could make it more explicit by saying `nested(selector, under: parent)` which would help indicate the arguments to people.

[2019-01-22 16:46] michallepicki commented on #386
@keathley I'm not sure, but as I said, I can easily reproduce this using both `selenium-server-standalone-3.141.59.jar` or `3.141.59-europium` docker images.

[code]

This doesn't happen with minimal capabilities with browser specified passed to `start_session`

[code]

[2019-01-30 12:14] germsvel commented on #404
I started working on an implementation for this, and I ran into a possible issue. The `text(query, String.t())` function might cause confusion with [`text(selector, opts \\ [])` ](https://hexdocs.pm/wallaby/Wallaby.Query.html#text/2) since both of them are `Query.text/2` functions.

We can pattern match on `%Query{}` in the implementation to know which of those is being called, but I thought I'd a

[2019-02-01 15:45] keathley opened #410 "Update elixir versions we test against in travis"
We need to bump our versions of elixir in travis since we're running a few versions behind at this point

[2019-02-02 20:56] germsvel commented on #404
That sounds good. I took a stab in https://github.com/keathley/wallaby/pull/411. Let me know what you think, and if there are any changes you'd like to the PR, I'd be glad to make them!

Thanks again for all your time spent on this!

[2019-02-03 19:52] #404 closed

[2019-02-04 11:40] schnittchen commented on #382
I'm now using chromedriver

[2019-02-04 11:40] #382 closed

[2019-02-09 15:00] #410 closed

[2019-02-12 13:33] germsvel commented on #379
Sorry I didn't come back here to respond sooner!

I think `nested_under` is pretty good, though I do like the notion of child or descendant, since that's how the W3 spec talks about the [content model](https://www.w3.org/TR/html5/dom.html#content-model).

Since `child` has the issues of being the immediate descendant, maybe one of the following?

[code]
They're more verbose, but maybe that's fine?

[2019-02-13 12:17] marcelolebre commented on #354
Having the same issue with GitLab CI

[2019-02-13 14:45] keathley commented on #354
@marcelolebre are you also using the phantom driver with the same elixir versions?

[2019-02-13 14:46] marcelolebre commented on #354
Elixir 1.8

[2019-02-13 14:48] keathley commented on #354
What erlang version?

[2019-02-13 14:49] marcelolebre commented on #354
21

[2019-02-13 14:53] keathley commented on #354
Cool thanks. I'm working on trying to figure out the root cause of this. We're in the middle of deprecating the phantom driver and moving towards using chrome driver as the default. I realize that's not an ideal solution to this but in the meantime that might be the best way forward.

[2019-02-13 14:56] marcelolebre commented on #354
Yeah I also tried with the chromedriver but no luck under the same conditions:
[code]

[2019-02-13 15:04] keathley commented on #354
Alright so it looks like there are a few things that can go wrong here with starting phantom. Most of them have to do with creating temporary directories for storing phantom state in and those sorts of things. Its just a hypothesis but it may be that running in these environments limits wallaby's ability to set up this environment correctly. If we can find a way to reproduce this locally that woul

[2019-02-13 15:07] keathley commented on #354
For the specific issue with Chromedriver it looks like we're failing inside of our version check. That might indicate that the format for the chrome driver output has changed and our regex needs to be updated, or some other issue is occurring. The relevant lines are here: https://github.com/keathley/wallaby/blob/master/lib/wallaby/experimental/chrome.ex#L36

[2019-02-14 15:22] tjshipe commented on #272
I ran into this as well. Has anyone figured out how to access a hidden file input with Wallaby?

[2019-02-14 15:41] keathley commented on #272
@tjshipe Does it work if you add `visible: false` to the selector you're using?

[2019-02-14 17:38] sublimecoder opened #415 "accept_dialogs function not found after upgrading to 0.21.0"
## Issue

accept_dialogues showing as missing function after upgrading from 0.20.0 to 0.21.0.

[code]

## Test Code & HTML

[code]
It never gets to where its trying to parse the code. Elixir just seems to thinkk accept_dialogs just doesn't exist anymore.

[2019-02-17 11:36] popo63301 opened #416 "Zombie process still there"
Hello world!

I'm using wallaby 0.21.0 and I have PhantomJS zombie processes. I know there have been some PR for fixing this but it seems that processes are not being killed after the work. What should I do?

[2019-02-18 15:13] keathley commented on #416
Hey @popo63301 sorry to hear that this is still a problem. We're actively trying to move people away from phantom towards using the headless chrome driver. I know that's not a very satisfying answer but to be honest I'm not sure we're ever going to fully solve these problems with phantom especially since phantom is eol.

[2019-02-18 15:13] #416 closed

[2019-02-18 15:15] keathley commented on #415
Hey @sublimecoder sorry for the inconvenience. I broke my own rule about not doing breaking api changes and I'm sorry about that. These functions were removed in wallaby 0.21 in favor of using the more specific `accept_dialog`. `accept_dialogs` was really only there in order to deal with some phantom issues early on.

[2019-02-18 15:45] popo63301 commented on #416
Hi @keathley  ! Thank you for your answer.

For the moment, I decided to move to Rails for a specific project but I plan to get back to Elixir ASAP and use Wallaby as a solution for feature testing, so not having a solution yet is okay. I wish I could contribute as well on this project (when I will get more time). By the way, why did you chose chrome driver? is it because it is faster or simply th

[2019-02-18 15:52] keathley commented on #416
Its the most lightweight alternative to phantom IMO.

[2019-02-18 19:10] sublimecoder commented on #415
Ah ok. Thanks for clarifying that.

[2019-02-18 19:29] #415 closed

[2019-02-22 11:07] hubertlepicki commented on #385
We are heavily using Wallaby at AmberBit too, and especially heavy user is @michallepicki who does a lot of multi-browser testing at the moment. I'm not sure if @keathley you want to still pass over maintenance of this project, but we would definitely be happy to get involved more, pushing things forward.

[2019-02-26 14:08] keathley commented on #385
@hubertlepicki That sounds great. Happy to chat more.

[2019-02-26 15:05] mhanberg commented on #274
It looks like this is fine in chrome: https://github.com/mhanberg/wallaby_test

Tested with elixir 1.7, wallaby 0.22 and chromedriver 2.46.628411

[2019-02-28 15:02] mhanberg commented on #142
@keathley,

Last night I took a stab at implementing this, but I think I may need some guidance.

Some problems I ran into:

1) Calling Ecto and Phoenix functions in the test case
2) How to know the name of the user's project (e.g., translate MyApp.Repo into <Actual app anme>.Repo>

I think I understand what information would be captureable to to enhance screenshots, but I'm curious what other inf

[2019-03-02 16:13] benbot opened #417 "Start to move toward puppeteer"
#358 was opened last year with a similar message, but the situation has changed a bit. PhantomJS's development has been suspended and it hasn't had a single commit added since September last year.

Maybe we should just take a quick look and see if a change to puppeteer is worth the effort.

[2019-03-02 16:33] keathley commented on #417
We’re working on moving to chrome headless as the default and drop phantom support. If someone wants to provide a puppeteer interface to chrome I’m happy to support that and merge the PR but I don’t currently have bandwidth to do that work

[2019-03-02 16:45] keathley commented on #142
@mhanberg Can you open up a draft PR for this? I can try to take a look at the code and see what's going on. I'm not sure why a custom case would break our ability to call phoenix and ecto functions.

[2019-03-02 16:46] keathley commented on #385
@michallepicki If you're interested in this reach out to me on elixir slack or IRC and I can add you as a contributor.

[2019-03-07 21:08] #417 closed

[2019-03-08 21:56] fregas commented on #417
Is this happening?  I'm trying to find something that doesn't rely on phantomjs.

[2019-03-09 02:24] keathley commented on #417
You can use headless chrome with wallaby now. It’s not dependent on phantom.

[2019-03-10 15:02] keathley opened #418 "Move to CircleCI"
Let's move our CI setup to circle and off of travis. We should attempt to make our builds more reliable so that we don't spend a bunch of time dealing with false positives because selenium couldn't be installed or something similar.

[2019-03-12 09:45] michallepicki commented on #418
What are the advantages of CircleCI over Travis in regards to reliablity?

We've been using CircleCI for running Selenium tests at work. For Selenium we're using the official docker images: https://github.com/SeleniumHQ/docker-selenium and a custom bash script for waiting for it to start up. Docker caches seem to work reliably for us so there's no way selenium "couldn't be installed" this way.

Ov

[2019-03-12 14:16] keathley commented on #418
I picked circle out of general familiarity. Overall its been more reliable then I've ever seen travis be. We've been considering a move for a while and Travis is under new management now so the timing seemed right.

[2019-03-20 13:39] tjshipe commented on #354
As of yesterday all of my CircleCi builds started failing on Wallaby. I think it has something to do with Circle upgrading to the new versioning of Chromedriver.

[code]

[2019-03-20 13:41] mhanberg commented on #354
This may have to do with chromedriver switching it version system to match chromes (2.xx -> 73.xxxxxxxxxx).

I was going to look into it but it seems to work for me locally still so i figured it wasn't an issue.

[2019-03-20 13:41] tjshipe opened #419 "Wallaby failing to start on CircleCi with new chromedriver version"
As of yesterday all of my CircleCi builds are failing when trying to start up Wallaby. I think this has something to do with a new version or versioning system for Chromedriver.

[code]

[2019-03-20 13:45] tjshipe commented on #354
Yeah I think you're on to something. It still works for me locally as well. It's only failing in CI for me.

[2019-03-20 13:47] mhanberg commented on #419
What docker container are you using for your Circle CI builds?

Mine seem to be fine. I'm using `circleci/elixir:1.8-node-browsers`

[2019-03-20 13:49] tjshipe commented on #419
Hm, strange. I'm using that same container. It looks like there were a couple issues on circleci-images that could be related...

https://github.com/circleci/circleci-images/issues/355

[2019-03-20 13:51] tjshipe commented on #419
I just upgrade my chromedriver locally `chromedriver 2.46 -> 73.0.3683.68` and I'm now seeing the error locally.

[code]

[2019-03-20 13:53] mhanberg commented on #419
Also, I am realizing there is a chance that I haven't upgraded yet. I use two different macs and can't remember which one I have upgraded recently.

Tonight I will be able to confirm and see if I can reproduce locally.

[2019-03-20 13:58] michallepicki commented on #354
Just for reference let me note this: I can see you've opened a new issue - let's continue the discussion there:
https://github.com/keathley/wallaby/issues/419

[2019-03-20 18:27] #419 closed

[2019-03-20 18:31] tjshipe commented on #419
Well, I goofed. I was unknowingly running an older version of Wallaby. If anyone else comes across this issue, wallby version 0.22 fixes the Chromedriver version issue.

[2019-03-26 01:00] michallepicki commented on #360
This is what I've been using for switching windows with Selenium:
[code]

[2019-03-27 14:06] yonst opened #422 "The function refute_has didn't wait for the element to disappear"
## Issue

Unlike the assert_has function, when the element is not found it performs retry and waits to see if the element will appear, the refute_has function returns an immediate error.
This is because both functions use the same auxiliary function -
execute_query that returns an error to retry only if the element is not found.

Fix suggestion: add an opposite function to execute_query that retur

[2019-03-27 14:26] keathley commented on #422
Hey @yonst! Thanks for the suggestion. We've actually talked about removing `refute_has` altogether for exactly this reason. Generally the better idea is to specify that there should be 0 of an element or that the element should be invisible in the query and continue to use `assert_has`. I think long term that will lead to less surprises and a better interface. Thanks for the suggestion though :+1

[2019-03-27 14:26] #422 closed

[2019-04-05 18:08] AndroidOatmeal opened #423 "Wallaby >= 0.19.2 crashes with poolboy timeout at startup"
## Issue

After bumping my wallaby version from 0.19.1 to 0.19.2, I began to see consistent poolboy timeout errors during wallaby's startup.

The error message is:
[code]

This error always occurs and prevents me from running my acceptance test suite. As mentioned above, there are no issues for me on wallaby 0.19.1.

## Environment

[code]

To make this easier to reproduce, I created a minimal pho

[2019-04-05 18:14] AndroidOatmeal commented on #423
I was able to get a bit more information by enabling `handle_otp_reports: true` and `handle_sasl_reports: true` in my logger config. I'm attaching the full version of the timeout
[full_wallaby_error.log](https://github.com/keathley/wallaby/files/3049137/full_wallaby_error.log)
 error.

[2019-04-06 17:32] keathley commented on #423
Thanks for the detailed report @AndroidOatmeal. I can hopefully take a look at this soon to see if I can figure out what's going on. We've been seeing more and more issues with phantom driver recently and I'm not sure if we changed something or if phantom changed something. It's also complicated because we're trying to steer folks towards chromedriver since it tends to have less issues. Regardless

[2019-04-09 19:06] btbinhtran commented on #169
So I tried using the `accept_confirm` function to handle a confirm box after clicking a "delete" link on a user, but the item does not get deleted. I am using Wallaby 0.22 and `Wallaby.Experimental.Chrome` driver.

However if I use @padde original work around
[code]

before clicking the link, everything works as expected.

Here's a test I'm writing. (The commented code would make the last `assert`

[2019-04-12 11:09] ayrat555 opened #424 "going away from phantomjs"
phantomjs is not maintained anymore.

Do you guys consider something else? (https://github.com/dhamaniasad/HeadlessBrowsers)

PS I'm having problems with es6 using wallaby

[2019-04-12 11:13] keathley commented on #424
Yes we’re well aware of this. Chrome headless is already supported and we suggest everyone uses that over phantom. The readme needs to be updated to reflect this.

[2019-05-03 18:05] jc00ke opened #427 "Semi-random failure to start Wallaby on Heroku CI"
## Issue

Description of the issue. Please include browser you're using (phantomjs,
chrome, etc.) elixir and erlang version and any relevant stack traces.

- Erlang 21.1
- Elixir 1.8.1
- Wallaby 0.21 (haven't seen so far on 0.22)

I've been running Wallaby on Heroku CI with Chrome for months now with no issues. Last week, I started seeing errors when booting up Wallaby. I tried to see if there was

[2019-05-03 18:19] jc00ke commented on #427
Shoulda looked through the `CHANGELOG` and PRs first... #403 :pray:

[2019-05-03 18:19] #427 closed

[2019-05-08 13:16] AndroidOatmeal opened #430 "Ability to set host header with Chromedriver"
Our team would like to make the switch from phantomjs to chromedriver, due to ongoing issues with the wallaby phantom driver (see [this issue](https://github.com/keathley/wallaby/issues/423)).

Our app is multi-tenant with a different subdomain per tenant. With the phantom driver, we were able to set a custom host header with a function like this:

[code]

However, this function doesn't work for t

[2019-05-08 14:22] michallepicki commented on #430
I also was researching this topic for usage with Selenium, and the only solutions I could find were using custom browser extensions or HTTP proxies.

[2019-05-08 19:30] michallepicki commented on #43
Selenium JSON Wire Protocol has some touch-related commands (see [Selenium Wiki](https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#sessionsessionidtouchscroll) and I am currently using `touch_scroll` like this:

[code]

We could look into whether this is also supported on chromedriver and add these commands to Wallaby

[2019-05-09 12:25] keathley commented on #43
That sounds good to me. I believe that chromedriver had something similar so we can probably take advantage of that.

[2019-05-09 15:05] keathley commented on #430
@AndroidOatmeal I agree with @michallepicki. I'm not sure we can do this with chromedriver or selenium. I was thinking about it a bit and was wondering how you set the host header under normal usage. I wonder if we can solve your problem in a slightly different way.

[2019-05-09 18:11] AndroidOatmeal commented on #430
@keathley We have a plug in our router called `FetchTenant`. This plug parses the subdomain from  `conn.host`, and puts the tenant in the conn's assigns. This way any request that hits one of our subdomains will correctly assign the correct tenant.

[2019-05-09 19:36] keathley commented on #430
Is it possible to just always tell wallaby to go to a specific tenant? It looks like you're already doing that in your test setup. I think I'm missing some information here. Shouldn't you just need to tell wallaby what url to go to?

[2019-05-09 21:31] AndroidOatmeal commented on #430
Sorry for the confusion. Let me explain more clearly.

Let's say I'm writing a local acceptance test to ensure that some data is not shared across tenants. I want to do something like:

[code]

We have some pre-existing special entries in `/etc/hosts` to facilitate this:
[code]

We need to handle these requests differently based on what "host" they're trying to access. Under the hood, there is sti

[2019-05-10 08:34] michallepicki commented on #430
@AndroidOatmeal Why is your plug based on headers and not just the domain?

[2019-05-10 11:35] AndroidOatmeal commented on #430
@michallepicki Our plug doesn't do anything with headers directly. We just grab the `host` field from our `%Plug.Conn{}` and use a regex to parse out the subdomain. Then we look up that subdomain in the database to find the corresponding tenant, or we display an error if no such tenant exists. Nothing fancy there.

Here's a simplified version of what we're doing, in case it helps.

[code]

[2019-05-10 11:46] michallepicki commented on #430
@AndroidOatmeal Can you use `Wallaby.Browser.visit` passing the absolute path (full URL containing the subdomain)? Would this work instead of setting the header?

[2019-05-10 11:52] keathley commented on #430
@AndroidOatmeal I was going to mention the same thing that @michallepicki did. If you pass the full url to `visit` Wallaby will use that instead of whatever base url you've specified.

In your test you could do something like this:

[code]

If you've already updated your `/etc/hosts` file then this should work out. Otherwise you'll probably have to get a little fancier in your setup. But I suspect

[2019-05-20 16:27] AndroidOatmeal commented on #430
@keathley @michallepicki Thanks so much for your input guys. This solution hadn't occurred to me. I tried it out and it worked perfectly.

Some feedback: it might be nice for Wallaby to support multi-tenancy as a first-class feature. Your proposed solution works for us, but we still need to juggle separate URLs and sessions whenever we use `visit/2`. I could imagine providing an optional `base_url

[2019-05-20 16:54] michallepicki commented on #430
I'm glad we were able to help! :)

I'm not currently testing multi-tenant apps, but you can configure the `base_url` in Wallaby already:
[code]

Instead of using `YourApplication.Endpoint.url` you could read from system environment variables or have other Elixir code for setting it.

In my case I need to slightly change the base url depending on which test is running, so I'm doing something more s

[2019-05-20 16:54] #430 closed

[2019-05-29 22:44] sparta-developers commented on #365
We also see

[code]

when running Wallaby tests in our two apps. In one app, we can set the test concurrency to 2 and the error goes away. In the other app, we always get the error unless we slow things down by increasing the jitter by [forking Wallaby](https://github.com/sparta-science/wallaby/blob/longer-retry-jitter/lib/wallaby/httpclient.ex#L10)  and by passing in our own implementation of `cr

[2019-05-30 14:00] keathley commented on #365
I suspect that chromedriver just can't keep up with the amount of traffic we're sending it at the same time. We could try to force this to behave better by setting limits on the hackney pool so that we don't overwhelm chromedriver as often.

[2019-05-30 14:01] keathley commented on #365
I haven't tried this but I wonder if the new puppet api thing that google has would allow for more performance and be more reliable then the current chromedriver setup.

[2019-05-30 18:10] sparta-developers commented on #365
@keathley we tried setting hackney's pool size to 1, which unfortunately did not help. (It's possible that we're doing it wrong, but we checked a few different ways that it was using our pool size.)

We have learned that we're getting the "connection refused" messages because chromedriver crashes but we haven't yet found anything useful in its logs.

Do you mean [Puppeteer](https://github.com/Goog

[2019-05-30 18:18] keathley commented on #365
I'd be in favor of moving to puppeteer for chrome only and using webdriver for selenium. We don't have a ton of issues with selenium handling the webdriver stuff.

[2019-06-10 08:37] #424 closed

[2019-06-10 08:40] ayrat555 opened #432 "wallaby does not work with the latest version of chromedriver"
## Issue

Wallaby fails on our ci with chromedriver `75.0.3770.8`. Everything's ok with `74.0.3729.6`

[2019-06-10 12:04] mhanberg commented on #432
Could you add some more specifics about what is not working?

I ran into this yesterday but hadn't been able to find the cause yet.

Thanks for the report.

As for me, I Wallaby is not able to click links or buttons, but doesn't fail the test, it just moves forward until a line that runs an assertion.

[2019-06-10 12:36] mhanberg commented on #432
This is the response I'm seeing from chromedriver when sending the click event

[code]

[2019-06-10 12:37] michallepicki commented on #432
Hi! I'm working with Wallaby using Selenium and looks like I can shed some light on this issue:

Looking at the chromedriver [Downloads](http://chromedriver.chromium.org/downloads) page, under ChromeDriver 75 there's a note:

Currently, the Wallaby WebDriver client uses the old Selenium WebDriver protocol for most of the commands (documented [here](https://github.com/SeleniumHQ/selenium/wiki/JsonW

[2019-06-10 12:42] mhanberg commented on #432
Good catch, I spent some time looking for the changelog and it didn't cross my mind to check the downloads page 😅 🤦‍♂ .

I agree.

I would say the immediate workaround is to downgrade your chromedriver to v74, pending more permanent fixes.

[2019-06-10 23:42] mhanberg commented on #432
I was able to fix my capybara setup at work by passing `w3c: false` in the `chromeOptions`, but I haven't had success getting that to work with Wallaby yet.

[2019-06-12 20:06] VEkh commented on #432
I also had the same issue and downgrading worked. This, however, can't be a good long term solution.

[2019-06-13 17:37] keathley commented on #432
@VEkh I dont' think anyone is suggesting downgrading as the final solution.

[2019-06-13 21:26] jc00ke commented on #432
I'm using Heroku CI with the [chromedriver buildpack](https://github.com/heroku/heroku-buildpack-chromedriver) and setting `CHROMEDRIVER_VERSION="74.0.3729.6"` did the trick for me.

[2019-06-14 11:42] rickclare commented on #432
Chromedriver has now been updated to **v75.0.3770.90**
https://sites.google.com/a/chromium.org/chromedriver

Upgrading my local Chromedriver from v75.0.3770.8 to v75.0.3770.90 seems to have fixed the issue for me.

Perhaps one of the issues listed as fixed here has resolved the problem?
https://chromedriver.storage.googleapis.com/75.0.3770.90/notes.txt

[2019-06-14 11:46] mhanberg commented on #432
Are you meaning that Wallaby works out of the box with v75.0.3770.90 or it works when passing `w3c:false` in the chrome options?

Either way this is promising and explains why I thought I was going crazy, thanks for the update!

[2019-06-14 11:52] rickclare commented on #432
Hi @mhanberg,  to clarify, my tests were failing under Chromedriver v75.0.3770.8, but are now passing under Chromedriver v75.0.3770.90   I didn't pass any chrome-options or modify the Wallaby source-code.

[2019-06-14 11:59] mhanberg commented on #432
@rickclare ok, thanks.

I can also confirm that by only clicking “rebuild” on CI, my test sweet is also now passing!

I am confused as to why tho, because the changelog still says that it should be running in w3c compliant mode by default. ¯\_(ツ)_/¯

[2019-06-14 12:25] rickclare commented on #432
Looks like the upgrade from .8 to .90 contained only the following changes:

https://groups.google.com/forum/#!searchin/chromedriver-users/ChromeDriver$2075.0.3770.90%7Csort:date/chromedriver-users/OiwvmaPbLAs/nlib05UYAgAJ

[2019-06-14 13:57] mhanberg commented on #432
This was the line that I found the most promising:

it's interesting that it still works without passing `w3c: false`.

[2019-06-14 15:06] jc00ke commented on #432
Maybe `LATEST` wasn't updated in the chromedriver index, but after specifying `75.0.3770.90`, my tests started to pass again. `.90++`

[2019-06-14 16:29] mhanberg commented on #432
@jc00ke This is the way CircleCI installs chrome and chromedriver. (just an FYI, not sure what CI setup you are using)

[2019-06-14 16:33] jc00ke commented on #432
@mhanberg [I'm on HerokuCI](#issuecomment-501885100) where the buildpack gives me some flexibility on what version I want to install.

[2019-06-21 18:31] 7stud opened #433 "Instructions for setting up wallaby for an umbrella app don't work"
## Issue

**phantomJS**:
I installed the latest phantomJS with npm:
[code]
**Versions:**
[code]

When I run `mix text`, I get this error:

[code]

The docs start off nicely using two names to distinguish between the two apps in an umbrella app:

But then comes this:

The name `YourApp` is indeterminate and could be either of these three things:

1. MyUmbrellaApp
2. MyWebApp
3. MyPersistenceApp

Or

[2019-06-21 18:32] keathley commented on #433
Is there a question here? Can you explain your situation and what exactly isn't working?

[2019-06-21 18:36] 7stud commented on #433
No, there is no question, but I did post an error I got.  I will never use Wallaby again because I don't have time to deal with poorly documented packages.  I don't care how great a programmer you are--if you can't explain how to use your genius create works, then your software is worthless.

If you don't care about the error message, then we are even.

[2019-06-21 18:36] #433 closed

[2019-06-21 18:42] keathley commented on #433
You posted a critique of the documentation without providing any other actionable feedback. The error message you gave doesn't contain nearly enough information for me to help you. You chose to be antagonistic. If you want help and respect you have to be willing to give a little of both yourself.

[2019-06-27 22:56] AndroidOatmeal commented on #365
Any updates on this issue? This problem unfortunately causes my test suite to fail about 50% of the time right now.

[2019-07-01 06:46] michallepicki commented on #365
@AndroidOatmeal Could you provide more background, or are your stacktraces exactly the same as in the issue description? Does the provided example reproduce the issue with similar rate, or maybe you could provide a different minimal example? What are your Elixir, Chrome and Chromedriver versions?

[2019-07-01 16:07] AndroidOatmeal commented on #365
Sure, here are my versions

[code]
     ** (RuntimeError) Wallaby had an internal issue with HTTPoison:
     %HTTPoison.Error{id: nil, reason: :econnrefused}
     stacktrace:
       (wallaby) lib/wallaby/httpclient.ex:37: Wallaby.HTTPClient.make_request/5
       (wallaby) lib/wallaby/experimental/chrome.ex:79: Wallaby.Experimental.Chrome.start_session/1
       (wallaby) lib/wallaby.ex:80: Wallaby.

[2019-07-11 20:21] AndroidOatmeal commented on #365
@keathley @michallepicki @sparta-developers  Do you have any suggestions for debugging this issue? I'm not afraid to get my hands dirty to figure this out, I just don't know where in the Wallaby codebase to begin.

[2019-07-14 12:31] cysiegel opened #434 "create mouse hover action"
Thank you for all your work in creating this great library

Is it possible to add support to move the mouse over elements

Thanks

[2019-07-14 16:50] mhanberg commented on #432
Closing this issue as it seems to have worked itself out.

It looks like we should eventually look at creating a client for the newer w3c protocl.

[2019-07-14 16:50] #432 closed

[2019-07-14 22:09] mhanberg commented on #434
I’ve started work towards this, thanks for the suggestion!

[2019-07-15 07:56] michallepicki commented on #434
@mhanberg This is what I hacked together and have been using:
[code]

[2019-07-18 12:40] #434 closed

[2019-07-19 01:06] mhanberg opened #437 "Proposal: Deprecate PhantomJS"
## Proposal

PhantomJS has been [officially deprecated](https://github.com/ariya/phantomjs/issues/15344) and should not be the default driver/browser for Wallaby.

I propose to remove PhantomJS as a driver and promote Chrome and Selenium from "Experimental".

This will decrease the surface area of the code base and reduce the support burden.

## Implementation

- [x] Promote Chrome and Selenium as

[2019-07-19 09:15] michallepicki commented on #437
Should we release one version that emits a warning when starting a wallaby session with PhantomJS configured as the driver?

[2019-07-19 09:40] michallepicki commented on #437
Are there any features specific to phantomjs that we should try to implement in the webdriver backend first?

[2019-07-19 13:06] mhanberg commented on #437
I think we should.

I don't think so.

[2019-07-20 02:49] mhanberg commented on #418
In general I like CircleCI more than Travis, but i'm not sure it has a good support for the version matrix.

I feel like it is very useful for open source libraries to be able to easily test under different versions of the language, and Elixir especially since it relies on Erlang versions as well.

[2019-07-20 06:56] michallepicki commented on #359
Closing in favor of https://github.com/keathley/wallaby/issues/418

[2019-07-20 06:56] #359 closed

[2019-07-20 07:11] michallepicki commented on #196
We need to check if this also affects WebDriver. There's a plan to deprecate PhantomJS backend altogether (see #437)

[2019-07-20 07:21] michallepicki commented on #164
@hisapy @stevegraham We now have a way to skip checking element visibility with the `visible: :any` option. Additionally if tests are very slow when written in a declarative way, if there are multiple interactions with one element, and the element on the page is not modified in the DOM, a possible optimization is finding the element first and memoizing the Element struct instead of always passing

[2019-07-20 07:38] michallepicki commented on #110
I also wanted a similar feature (naming the screenshots with the test filename and timestamp). Additionally I have a lot of custom assertions and other hacks. Using the `:screenshot_on_failure` option was not feasible because my tests were failing and screenshots were not getting taken.

What I did is wrap my tests in a custom my_test macro that wraps the ExUnit test macro and adds this code:
[cod

[2019-07-21 14:31] kerryb commented on #365
I'm also seeing this error. It only happens when I run tests with `async: true` (I'm trying to migrate away from Cabbage, which only worked with `async: false`). Even with just two tests running concurrently, I get the error almost every time.

Also happy to help debug, if you point me in the right direction.

[2019-07-22 13:39] keathley commented on #365
I'd start by trying to trace the calls to HTTPClient and the Wallaby.Experimental.Chrome.Chromedriver process. That's the process that controls chromedriver through a port. My intuition is that we're causing chromedriver to crash or something similar.

@kerryb I think the reason that you're seeing issues when running in async: true mode is either 1) we're overwhelming chromedriver with the number

[2019-07-22 14:01] mhanberg commented on #365
@keathley would it be beneficial to actually surface HTTPoison errors to the user?

Why did you decide to swallow them in a wallaby error?

[2019-07-22 14:04] keathley commented on #365
@mhanberg Yeah we should totally be surfacing them. I'm not sure I had a reason for not surfacing them. Either way its something we should change now.

[2019-07-22 15:09] macabl opened #442 "Setting selenium hub url not documented."
I am trying to run my acceptance tests using docker-compose, but I am not sure how to set the selenium hub url.

I've tried configuring like this
[code]

but when I run the tests I get this error:
[code]

I am sure http://selenium points to my container running selenium because I can both ping and curl to it from my elixir container: web-test.

[2019-07-22 15:24] michallepicki commented on #442
Good point. We definitely need better docs for Chromedriver and Selenium.

You should be able to pass `remote_url` to `start_session`, like this:
[code]

[2019-07-22 19:10] eahanson commented on #365
@mhanberg the Wallaby code _does_ try to surface the HTTPoison errors, and it works in my experience:

https://github.com/keathley/wallaby/blob/6333301eb41dd63c03cf5ac2370087808c41cd8c/test/wallaby/http_client_test.exs#L75

When I experience this problem (which is always), it's because HTTPoison gets `:econnrefused` which (again in my experience) is because the chromedriver process has crashed. It

[2019-07-22 19:37] keathley commented on #365
@eahanson Yup that tracks with what I've seen in the past. I think we can try to limit the amount of in flight requests to chromedriver which should help it stay healthy. We might need to work out a better supervision strategy for our process that manages chromedrivers as well. We might have to fail a test case if a chromedriver crashes in the middle of it but we shouldn't need to fail the entire

[2019-07-23 13:40] mhanberg commented on #365
@eahanson I am seeing that support for surfacing the error was included a few months after this issue was opened.

@keathley @michallepicki I wonder if we should close this issue in favor of an issue regarding overwhelming chromedriver. What do you think?

[2019-07-23 13:43] mhanberg commented on #365
Also, to address the references to Puppeteer above:

Puppeteer is a Node.js library primarily made to write web scraping scripts.

[2019-07-23 14:32] michallepicki commented on #365
@mhanberg I think it would be possible to write a Wallaby driver using the Chrome Devtools Protocol through puppeteer... For example there's [taiko](https://taiko.gauge.org/) which is a testing tool that uses it directly.

[2019-07-23 14:40] keathley commented on #365
Like @michallepicki said, I think Wallaby could support the chrome devtools protocol for its chrome support. I think that's a good future direction personally but let's set that aside for a moment and see if we can fix the current issue. For now lets try to limit the number of requests hitting chromedriver simultaneously and see if that helps keep chromedriver healthy. If that solves the immediate

[2019-07-23 15:13] mhanberg commented on #365
@michallepicki My point being we wouldn't use Puppeteer, we would write a driver for the Chrome DevTools protocol. I am being pedantic but I want to clarify what I was saying.

[2019-07-24 09:25] PragTob commented on #164
@michallepicki I'm pretty sure it affects web driver as well as iirc the root cause I found is us making a lot of requests and the requests just taking its time. In my experience webdriver was even slower than phantomjs which is why I wasn't on the "deprecate phantom" wagon too early. I fear the only way to make it really fast would be a different architecture. Short term what you mentioned and/or

[2019-07-24 13:27] mhanberg commented on #365
FYI last night I started working on the supervision and http request strategy for chromedriver.

[2019-07-24 13:35] michallepicki opened #444 "Possibly move from Poison to Jason"
When upgrading to Elixir 1.8.2-otp-21 and OTP 21.3 as minumum versions used for Wallaby development and testing in #443, a new dialyzer warning surfaced:
[code]
It points to Logger:
[code]
`Poison.decode` has a spec of
[code]
where `Parser.t` is `nil | true | false | list | float | integer | String.t | map`. So for some reason dialyzer in newer Elixir/Erlang versions misreads the type for `Poison.

[2019-07-26 14:01] #360 closed

[2019-07-26 20:04] #444 closed

[2019-08-02 09:15] ulissesalmeida opened #449 "Wallaby not working for ChromeDriver 76.0.3809.68"
## Issue

Elixir version: 1.8.1
OTP: 21
Wallaby: 0.22.0
ChromeDriver: 76.0.3809.68

[code]

## Test Code & HTML

It's failing before reaching any HTML. It's not supporting the most recent ChromeDriver version.

[2019-08-02 09:19] michallepicki commented on #449
Can you try adding `w3c: false` to start_session `capabilities:` option?

[2019-08-02 09:50] michallepicki commented on #449
Hmm now I think this wouldn't work anyway as our module would try to add it to command-line args... This should be under `chromeOptions` [here](https://github.com/keathley/wallaby/blob/master/lib/wallaby/experimental/chrome.ex#L248), if it resolves the issue we could add that option to wallaby until we add support for the w3c protocol. But this could be another incompatibility, as well, we'll have

[2019-08-02 10:16] michallepicki commented on #449
I just tried with `Google Chrome 76.0.3809.87` and `ChromeDriver 76.0.3809.68` (the same one as you) and it's working fine. Can you try a different Chrome version?

[2019-08-03 13:53] ulissesalmeida commented on #449
I updated my Chrome and worked. Thank you. Sorry for any disturbance.

[2019-08-03 13:53] #449 closed

[2019-08-03 16:10] michallepicki commented on #449
@ulissesalmeida No worries! I'm glad I could help

[2019-08-09 09:25] PragTob opened #451 "Don't ship safe_travis.ex"
[code]

we shouldn't ship that task in the released hex.pm package.

Maybe I'll get to it but I have a busy weekend in front of me.

[2019-08-09 16:07] AndroidOatmeal opened #452 "Vague "invalid session id" error with no context"
Hello!

I am running a simple acceptance test that submits a form and updates a model. I think I have a bug somewhere in my controller/router logic, so this particular step in my test fails (which is fine, as I'm TDDing this feature.)

However, wallaby is blowing up with a very vague error at this step:

[code]

As I said, I believe the server is blowing up at this step for some legitimate reason

[2019-08-09 16:33] mhanberg commented on #452
So the reason why the GenServer exits is due to a bug that I believe is [fixed](https://github.com/keathley/wallaby/pull/435/commits/fe029b9c0519535b2228c69c1267975513bed915#diff-5ee880815641165ab2b6af0369289c31) on master.

This is indeed masking your actual error. Do you mind trying your test using master instead of v0.22.0 and sharing what that produces?

[2019-08-09 16:47] AndroidOatmeal commented on #452
@mhanberg Thanks so much for the quick reply! I tried master and it certainly did give me more information. Thanks for your help!

[2019-08-09 16:47] #452 closed

[2019-08-09 16:49] AndroidOatmeal commented on #452
@michallepicki Do you have any plans to release this fix as a patch version?

[2019-08-09 16:50] mhanberg commented on #452
@AndroidOatmeal we are definitely due for a release soon. This next version will probably be a minor version because it will include some new features as well.

[2019-08-10 11:48] mhanberg commented on #418
I ran across some documentation which shows how to create a build matrix using CircleCI workflows: https://discuss.circleci.com/t/build-matrix-configuration/14448

[2019-08-13 16:15] michallepicki opened #455 "Support W3C WebDriver protocol ("Selenium 4")"
Add support for the W3C WebDriver protocol.

Currently for Chromedriver and Selenium Wallaby uses endpoints and capabilities as specified in [Selenium WebDriver JsonWire Protocol](https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol).

The "new" [W3C WebDriver protocol](https://w3c.github.io/webdriver/) is supported by all major browser drivers (Chrome, Firefox, Edge, Appium) and even the

[2019-08-14 07:42] michallepicki commented on #276
This seems to be possible since https://github.com/keathley/wallaby/commit/4b444350ecc22ce451ef7a379ac2e4a6b8a071b8 by specifying `:binary` path option

[2019-08-14 07:42] #276 closed

[2019-08-14 14:10] mhanberg commented on #451
How would one accomplish this? I am about to cut the next release and would like to get this in there if possible.

[2019-08-14 14:33] michallepicki commented on #451
Looks like it's documented here: https://hexdocs.pm/hex/Mix.Tasks.Hex.Publish.html#module-package-configuration

[2019-08-14 14:48] mhanberg commented on #451
Yeah, that shows how to include files, but not exclude them.

[2019-08-14 14:50] michallepicki commented on #451
I'll try to figure it out and send a PR

[2019-08-14 15:40] #451 closed

[2019-08-14 18:43] wood-archer commented on #365
@mhanberg
Was this fixed in the last release? (https://github.com/keathley/wallaby/commit/231230585fefece65be1ca4f7760a6c893543810)

[2019-08-14 18:47] mhanberg commented on #365
@wood-archer Not explicitly, but it might occur less frequently now.

Do you mind upgrading and testing it out?

[2019-08-14 18:50] wood-archer commented on #365
Sure. will give it a try. Thanks!

[2019-08-20 11:31] michallepicki commented on #455
We got all chromedriver and selenium integration tests to pass on our branch, updated diff [here](https://github.com/keathley/wallaby/compare/keathley:2da1536...revzilla:27eaa4d). Capabilities format seems to have changed but we're still researching if passing capabilities through `firstMatch` array is required on all platforms.

Currently working on adding the `element/displayed` javascript atom

[2019-08-28 01:40] mhanberg opened #460 "Proposal: Enhance and standardize ability to configure WebDriver capabilities"
## Description

For Selenium, you can pass in the capabilities to the `start_session` function to use a custom configuration, but this is not possible using ChromeDriver.

ChromeDriver allows you to configure _some_ of the capabilities by exposing some elixir-level application configuration options.

I propose that we implement a consistent API that allows the user to pass in whatever capabilities

[2019-08-28 04:22] juddey opened #461 "Checkbox unselectable despite having set id and for attributes"
Thanks to the new maintainers for giving wallaby some :heart:.

I'm using wallaby to test a reactjs SPA (elixir as backend), but its failing to find a checkbox I have created with [material-ui](https://material-ui.com/components/checkboxes/#checkboxes).

Using:
[code]
## Test Code & HTML
The test code is quite simple
[code]

Results in this test failure:
[code]
Picture is worth 1000 words, so here

[2019-08-28 22:37] mhanberg commented on #461
@juddey I am not able to reproduce this on master.

What version of Wallaby are you using?

If you get the chance would you be able to provide a minimal reproduction repository that I could clone?

Thanks

[2019-08-28 22:41] juddey commented on #461
Im using version 0.22.0.  I'll give master a go and see what happens. I can do up a repo too, but that will take some time.

[2019-08-28 22:42] mhanberg commented on #461
I would try with version 0.23.0 at least (there isn't much on master that isn't on 0.23.0).

[2019-09-02 09:31] michallepicki commented on #460
Similarily to the `:binary` configuration, there's also `:headless` and `:user_agent` that are also being set in capabilities. I think these are useful common options that people may want to use and I think it wouldn't be too hard to keep them. I think we could first take user-provided capabilities with fallback to default capabilities, and then for each of configured/passed options modify capabil

[2019-09-02 14:28] yonst opened #462 "Element.text\Browser.text returns a empty string for invisible element"
## Issue

I need to get the text from invisible label but I get a empty string
elixir version 1.6.4

## Test Code & HTML

the html code:

[code]

the wallaby code:

[code]
I expected the output to be ```"test label"```, but the actual output is ```""```

[2019-09-02 14:37] michallepicki commented on #462
@yonst I believe this is the expected output, because `text` returns visible text. You could try `Element.attr(find(css("#test_test", visible: false)), "innerHTML")` or `Element.attr(find(css("#test_test", visible: false)), "outerHTML")`

[2019-09-02 15:05] yonst commented on #462
@michallepicki  Why ```text``` returns only the visible text if I specifically looking for invisible element?

you right,
[code]
got me the expected text.

[2019-09-03 11:31] wood-archer commented on #365
@mhanberg sorry for the long time to post back but it looks like the error `Wallaby had an internal issue with HTTPoison` is gone after updating from wallaby 0.20.0 to 0.23.0. Now I can only see the errors like `** (Wallaby.QueryError) Expected to find 1, visible element that matched the css '# ..` but most likely these are just on my end.

[2019-09-03 14:39] keathley commented on #462
@yonst I _believe_ what @michallepicki is saying is that the web browsers only returns visible text. We're using the `text` command for webdriver and that's how it works internally. There might still be some improvement to make here but that's the underlying reason iirc.

[2019-09-03 15:40] michallepicki commented on #462
@yonst @keathley I didn't want to get too in-depth on it but yeah right now for this feature Wallaby returns whatever the WebDriver gives us. Unfortunately I don't think we can do better than that. We could try to build a better interface on top of that but it would make Wallaby a bit slower and it would probably be a development effort that we can't afford right now (For example, we wouldn't know

[2019-09-03 16:39] keathley commented on #462
Adding to the docs or github wiki seems like a useful thing. I don't think we need to specifically code for this atm.

[2019-09-04 19:29] AndroidOatmeal commented on #365
For reference, I am still experiencing this issue often, even on `0.23.0`. :(

@mhanberg Any luck with on this? Do you need any help with it?

[2019-09-04 19:37] mhanberg commented on #365
@AndroidOatmeal I think I had some luck, but I (obviously) got distracted from this for some reason.

I'll push a branch tonight and then you can try out that branch.

Sorry about that!

[2019-09-04 23:45] mhanberg commented on #365
I have opened a PR that will hopefully help address this. #463

@AndroidOatmeal would you mind trying out that branch? Thanks!

[2019-09-04 23:46] mhanberg commented on #461
@juddey I am going to close this, if you continue to see the error I will reopen.

[2019-09-04 23:46] #461 closed

[2019-09-04 23:53] mhanberg commented on #423
@AndroidOatmeal are you still seeing this behavior while using the latest version?

[2019-09-04 23:56] mhanberg commented on #386
@michallepicki are you still able to reproduce this?

[2019-09-05 06:24] #442 closed

[2019-09-05 06:40] michallepicki commented on #461
@juddey as note, some js frameworks can have custom checkboxes that make the `input` element invisible with css and add their own custom visual check indicator... For this reason I sometimes had to click on the label instead

[2019-09-05 06:48] michallepicki commented on #386
@mhanberg Yes! Just start up selenium session not passing any capabilities. I think we should add default capabilities to the selenium driver. We can do it as part of #460

[2019-09-05 06:48] #386 closed

[2019-09-05 07:15] michallepicki commented on #455
Update: I simplified capabilities format and added an option to use `element/displayed` atom. We're testing things on a few platforms on Browserstack:
- window or iframe handling seems janky in Safari and in newer Appium on Android, in any case my PayPal payment flow tests are not passing right now. Investigating
- I still need to fix fetching logs from Chrome
- The `element/displayed` atom makes

[2019-09-05 07:25] michallepicki commented on #43
Update: @jangromko is working on adding some touch support to Wallaby, we're basing the API on what's available in [Selenium WebDriver Wire Protocol](https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#sessionsessionidtouchclick) and what works in Chrome (doesn't work in Firefox for some reason). Expect a PR with tests + new commands in a few weeks (similar to https://github.com/keathley/

[2019-09-05 12:33] wood-archer opened #465 "Missing action to select option?"
## Issue

Probably this has changed to a different module but I couldn't find it. We used to have `Wallaby.DSL.Actions.select/3` which is not available on version `0.23.0`. Just wondering how should I do not now to select an option from a select box.

## Test Code & HTML

[code]
That should work with
[code]

[2019-09-05 12:47] wood-archer commented on #465
Actually I figured it out that I can do something like:
[code]
maybe this should be documented on the README. all tutorials i found on the web still uses the old way.

[2019-09-05 12:47] #465 closed

[2019-09-05 13:54] mhanberg commented on #365
I merged #463. I will be able to cut a release tonight.

If you have run into this problem, please update and let me know if it fixes it for you!

[2019-09-05 18:17] AndroidOatmeal commented on #365
@mhanberg Thanks so much for putting time into this. My coworker and I tried the branch, but neither of us saw any noticeable change in the frequency of the errors on our respective machines. Bummer :(

I did an experiment where I ran our suite of 64 acceptance tests 100 times. The suite failed due to this error 43% of the time. When the suite failed, this error usually occurred on all 64 tests at

[2019-09-05 18:25] mhanberg commented on #365
@AndroidOatmeal is this happening on CI as well or only locally?

What Chrome and ChromeDriver versions are you using?

[2019-09-05 18:31] AndroidOatmeal commented on #365
@mhanberg Yes, this issue occurs on CircleCI as well.

[code]

[2019-09-05 18:59] AndroidOatmeal commented on #423
@mhanberg I have since switched from PhantomJS to Chromedriver. I'll close this for now. Thanks!

[2019-09-05 22:50] mhanberg commented on #365
@AndroidOatmeal Do you mind sharing the contents of some of your failing tests and your support code? I think I found you on the Elixir Slack, so you can share it with me there if you like. Thanks!

[2019-09-10 14:45] edouardmenayde opened #466 "Wallaby won't stop using Chromium when using assert_has after a click"
## Issue

After a click is made in a form redirecting the user if `assert_has` is used then the test won't stop by itself until its killed by timeout of ExUnit.
Chromium version and Chromedriver version: 76.0.3809.132
Elixir version: 1.9.1
Erlang/OTP version : 21

## Test Code & HTML
test.eex
[code]
login_page.html.eex
[code]

successful_redirect_page.html.eex
[code]

If a maintainer would like ac

[2019-09-11 00:35] mhanberg commented on #466
@edouardmenayde do you mind providing a screenshot of before and after the line `|> assert_has(css(".phx-hero"))`?

[code]

What is the error message you are seeing?

Are you on the latest version of Wallaby?

Feel free to add me to your repo if you want.

[2019-09-11 06:43] edouardmenayde commented on #466
@mhanberg I can only provide you with the screenshot of the first screenshot command since the second one is never made.
![1568183808446473635](https://user-images.githubusercontent.com/6023858/64673780-63109400-d46f-11e9-8d01-13667769c53d.png)

Here is the ExUnit error log :
[code]

I'm using wallaby 0.23.0 (from the mix.lock).
I will add you to the repo, the code will be in branch `develop`

[2019-09-12 02:35] mhanberg commented on #466
@edouardmenayde

You will need to write your test in either of the following ways.

Fill in form inside callback to find. The [non-callback version](https://hexdocs.pm/wallaby/0.23.0/Wallaby.Browser.html#find/2) returns the element, which becomes the parent to the other functions. by the time you get to assert_has, you are referring to the form that is no longer on the page.
[code]

Or skip findin

[2019-09-12 02:35] #466 closed

[2019-09-12 02:37] mhanberg commented on #466
For posterity, the reason why it was hanging was to do Chromedriver returning a StaleElementReference. (It was looking for the form element returned by `find`, but a new page had loaded since then).

We should probably emit a warning in this case.

[2019-09-12 07:15] michallepicki commented on #466
@mhanberg But isn't the issue in question a separate one? I'd want the browsers to be always cleaned up even if a test times out.

[2019-09-18 10:07] PragTob opened #468 "Random test failures with FunctionClauseError) no function clause matching in Wallaby.Experimental.Selenium.WebdriverClient.cast_as_element/2"
Howdy fellow wallabyers!

We have some tests that are stubbornly flaky on CI and sometimes locally and I can't for the live of me figure out why that might be happening.

I couldn't reproduce locally right now but on CI a colleague had to rerun the tests 5 times for them to pass.

## Error

[code]

## Test Code

Multiple tests are randomly failing, one of them being our easiest:

[code]

The other

[2019-09-18 10:17] michallepicki commented on #468
How many tests are being run in parallel? (what's the `--max-cases`/`:max_cases` ExUnit option?)

[2019-09-18 11:19] PragTob commented on #468
@michallepicki it's not set explicitly and I don't know how many cores the CI has off the top of my head and I don't have SSH access

[2019-09-19 07:13] PragTob commented on #468
After changing tests to run with `--max-cases 2` on CI we haven't seen the failures since. Will continue to observe. So, it might be that it's some sort of problem with overloading or state interfering. Question is just whether it's in wallaby or chromedriver or what not.

For whoever comes afterwards, a team member also had an issue where this occurred all the time but there the issue was non mat

[2019-09-19 07:26] PragTob opened #469 "fill_in in a huge selectbox selects the wrong element"
:wave:

Me again :)

We have a huge select box holding all the currency iso codes we know of. About 180 of them:

<details>

[code]
</details>

complete form HTML:

<details>

[code]

</details>

Now, we used to assign which one we used in a test randomly and it would always fail when selecting `"XXX"`. Upon further inspection/selection it just selected `"XUA"` instead, hence the test was failing.

[2019-09-24 14:45] #460 closed

[2019-10-09 14:51] tmepple opened #470 "[ChromeDriver] Tests failing with invalid argument: Unsupported locator strategy: null"
## Issue

Similar to #468 all of my previously working Wallaby tests are now failing locally on `cast_as_element/2`.  I felt like the newest Chromedriver was causing it by complaining about an "Unsupported locator strategy: null" but I downgraded to 2.46 and still seeing the issue.  Also downgraded Wallaby to 0.22 and still seeing it.

Using Wallaby 0.23, Chromedriver 77.0.3865.40, MacOS 10.14.6,

[2019-10-10 15:16] michallepicki commented on #437
@robotlovesyou mostly making sure we make it clear that Chromedriver is the primary backend in documentation, and documenting what's not documented in Chromedriver backend modules

[2019-10-11 11:55] mick352 commented on #302
@aaronrenner : nowadays, it seems to be `brew cask install chromedriver`

[2019-10-11 13:05] mrcasals opened #471 "screenshot_on_failure not being called for `assert_text/2`"
## Issue

Hi!

I'm trying to get the `screenshot_on_failure` feature working, but I can't get it to work with `assert_text/2`. This happens because the `/2` version of the function does not call the `take_screenshot` one, but the `/3` version does (via `find`):

https://github.com/keathley/wallaby/blob/e15c8b2cf8d4b444a4dea9fd1f33eca161348d15/lib/wallaby/browser.ex#L799-L806

I'll try to submit a

[2019-10-11 18:29] aaronrenner commented on #302
@mick352 Thanks posting this! ❤️

[2019-10-19 07:34] hfjallemark opened #473 "Chromedriver issue on Heroku CI"
## Issue

I am getting a weird error when running Wallaby with ChromeDriver on Heroku CI:

[code]

Locally everything works. I tried using both stable and beta channels for Chrome and ChromeDriver on Heroku. Also tried disabling all JavaScripts but still getting the same issue. Any ideas what I could be doing wrong?

## Test Code & HTML

Test:
[code]

Configuration:
[code]

[2019-10-23 13:11] aaronrenner commented on #473
Hi @hfjallemark. 👋

This is a tough issue because Chrome isn't sending back enough information in its error log message to be useful. It sounds like Chrome is running into a javascript error in CI, but we may need to do more investigation to see if Wallaby can raise a more complete error message.

In the meantime, you could temporarily update your config to

[code]

to get CI to pass until you fig

[2019-10-24 03:00] mhanberg commented on #437
I will be moving forward with this once #447 is completed.

[2019-10-24 03:14] mhanberg commented on #470
I am not able to reproduce this.

Are you still seeing this?

[2019-10-24 03:21] mhanberg commented on #469
Have you tried clicking the option instead of `fill_in`? Not sure if it should work any differently.

[code]

[2019-10-24 03:28] mhanberg commented on #418
GitHub Actions might also be a good CI platform to use. I believe that open source projects getting unlimited build minutes and unlimited parallel workflows

[2019-10-24 08:08] pieterdub opened #475 "(FunctionClauseError) no function clause matching in Wallaby.Browser.find/3"
## Issue

I have setup my test exactly how it was shown in the examples but still get this error. It's able to load the test and navigate to the first page the (visit)

## Test Code & HTML

config set to use `Wallaby.Experimental.Chrome`
chrome version is : 78.0.3904.70

[code]
error as follows:

[code]

[2019-10-24 08:38] michallepicki commented on #475
Hi! Thanks for the detailed report.

I assume [these](https://hexdocs.pm/wallaby/readme.html#finding) are the examples you followed, am I right? If not, please let us know - there may be something wrong with the documentation.

In any case, in your stacktrace we can see that the error happens on line 12:

[code]

Looking at [`fill_in` documentation](https://hexdocs.pm/wallaby/Wallaby.Browser.html#

[2019-10-24 08:48] michallepicki commented on #471
Thanks for the report and PR!

I think we're currently researching a different approach, where we'd provide a `feature` macro to replace `test`, which would handle taking screenshots on *any* failure - not just failures in wallaby-provided assertions. You can take a look at [this PR](https://github.com/keathley/wallaby/pull/447) -  let us know if that would work for you and feel free to give any f

[2019-10-24 08:51] #475 closed, assigned to nobody

[2019-10-24 09:01] mrcasals commented on #471
Oh, I was not aware of this, I'll check it!

Thanks!

Should we close this issue and PR then? Or is it valuable at least while #447 is not merged?

[2019-10-24 12:36] #462 closed

[2019-10-25 06:50] hfjallemark commented on #473
Yep that’s what I did and then it worked. It’s weird that I only get this error in Heroku CI — is there any way to debug further what the issue may be?

[2019-10-25 12:22] tmepple commented on #470
Thanks for looking into this.  Yes, I just upgraded to the latest Chromedriver v78 and still seeing this issue on all my tests.  It looks like Wallaby is POST-ing the proper params `%{using: "css selector", value: "h1.title"}` to the chromedriver `/elements` so I'm not sure why it's complaining about an unsupported locator strategy when everything previously worked great.

It doesn't appear to be

[2019-10-28 06:24] wyrdforge commented on #470
Basically, I ran into the same error with a similar test on the default phoenix page, when setting up wallaby. I tried a fix from an older project, where in the 1.7 container, wallaby even refused to start on any version above Chrome 0.69.x

The elixir:1.9 container would install 0.73.xxxxxx by default, which constantly results in a `cast_as_element/2` error, but with an 'invalid id', as soon, as

[2019-10-28 09:51] PragTob commented on #470
This is weird. I definitely have chromedriver tests working with wallaby on that standard alpine linux elixir images. I think the chrome driver versions are a bit old there (73 or so) but it definitely runs all our tests.

[2019-10-30 13:53] PragTob commented on #468
For the record, the problem popped up again restricting it to `--max-cases 2` fixed it again :man_shrugging:

I'm unsure what this is. Part of me believes chromedriver just dies.

Which is supported by the error I get sometimes being:

[code]

[2019-11-01 23:35] viniciussbs commented on #470
I'm facing this issue, too.

- **Wallaby** 0.23
- **ChromeDriver** 76.0.3809.126
- **Chrome** 78.0.3904.70
- **MacOS** 10.13.6
- **Elixir** 1.9.1
- **Erlang** 22.0.1

[2019-11-03 07:15] wyrdforge commented on #470
AFAIK, we should use the ChromeDriver matching the Chrome version in the newer CD releases.

If you are lucky, this may solve your issue already. In my older applications, I went down in versions step by step, until I reached a combination, that worked (in my case Chrome/Chromium 0.68 and ChromeDriver 2.41).

I will try this again with my current project and hopefully find something viable. Maybe

[2019-11-06 13:10] tmepple commented on #470
@wyrdforge It's [recommended](https://chromedriver.chromium.org/downloads/version-selection) to use the same ChromeDriver version as the installed Chrome version.  At this point they have sync'ed the version numbers.  I am running it locally on MacOS, not on CD, so using the latest stable v78.  It may still work to downgrade to 2.41 but probably not for very long.

[2019-11-06 14:45] mhanberg commented on #470
@viniciussbs Are you seeing the "Unsupported locator strategy: null" error or just a `FunctionClauseError` with `cast_as_element`?

[2019-11-06 15:21] skamsie opened #479 "Test that link opens in new tab"
## Issue

How to test that clicking a link opens a new tab in the browser? My starting point was`window_handle(session)`, but I get the error: `** (UndefinedFunctionError) function :erl_eval.window_handle/1 is undefined or private`

[2019-11-06 16:28] skamsie commented on #479
I did not have the last version of wallaby, that's why the function was undefined

[2019-11-06 16:28] #479 closed

[2019-11-07 20:34] viniciussbs commented on #470
@mhanberg just a `FunctionClauseError` with `cast_as_element`. But I've updated my ChromeDriver version to match the Chrome version - as @tmepple suggested - and that fixed the issue. Just a `brew cask reinstall chromedriver` and problem solved.

[2019-11-07 20:36] viniciussbs commented on #470
Maybe we could put a caveat in the README mentioning that Chrome and ChromeDriver versions should match.

[2019-11-07 20:39] mhanberg commented on #470
@tmepple are you still experiencing this error? If not, can we close this issue if it doesn't seem to be a problem with Wallaby?

I think we definitely need to elevate errors like this instead of masking them as a `FunctionClauseError`, but I will take care of that separately.

@viniciussbs I can add a section to the readme about the chrome/chromedriver versions.

[2019-11-08 08:26] wyrdforge commented on #470
I was able to boil my problems down to the docker image. The preinstalled chromedriver version is that from the distribution (0.73 for chromium and chromedriver/chromium-driver. Upgrading to 0.78 breaks things, as chrome is preferred in the newer version over chromium, but chromedriver is not and chromium-driver 0.73 is used. If I stick solely to the distribution versions, all tests run as expecte

[2019-11-08 14:27] tmepple commented on #470
@mhanberg Unfortunately I am still seeing the error `Unsupported locator strategy: null` on all my tests.  I've googled it and there have been some very recent reports from other ecosystems but no conclusive cause yet.

Since the same type of query works fine when testing the fresh Phoenix landing page I will find some more time trying to determine the difference in my page versus that besides jus

[2019-11-08 14:47] mhanberg commented on #469
@PragTob did our comments help you solve this?

[2019-11-09 11:15] PJUllrich commented on #57
I bumped into this issue again and wanted to share my (hacky) solution. I'm absolutely not sure whether this is a secure way, so comments on that are highly appreciated.

## WARNING: POSSIBLY VERY INSECURE

The core of the solution is creating an extra endpoint, which is only exposed during testing. So, add this to your `router.ex`:

[code]

Then, in your `AuthController` (or where ever you handle

[2019-11-10 17:03] PragTob commented on #57
@PJUllrich I use a similar solution. I make it a completely separate controller though and also wrap the controller module itself in `if Mix.env() == :test` - that way it's not just blocked out in the controller but the code never makes it into a release. It also has 2 fail save switches so one can get knocked out but people won't be able to randomly login still.

[2019-11-11 15:09] PragTob commented on #469
Ah hey, sorry. I seem to have missed these notifications :sweat_smile:

I got so money wallaby notifications that it's sometimes hard to see that some them are my own :grin:

I'll try it out later, thanks!

[2019-11-12 22:18] tmepple commented on #470
I never solved this issue but I did rewrite the tested functionality using LiveView in a fresh new Phoenix project and am not seeing this error in the new app.

I think the other commenters who were seeing similar errors found a way to work around them all so will close now and hope it doesn't happen again!

[2019-11-12 22:18] #470 closed

[2019-11-13 11:32] Preen commented on #57
I did the same as @PJUllrich and @PragTob, works well. I put the password as env in the test. This allowed us to use the same login sequence as an ordinary call. However, it requires one to populate the DB with the same user password as the one you use in the env below.

Controller:

[code]

Test:

[code]

[2019-11-13 16:55] PragTob commented on #469
Works, thank y'all very much! :ok_hand:

[2019-11-13 16:55] #469 closed

[2019-11-26 12:21] bartblast opened #487 "Invalid current_path and current_url when using live_redirect (in LiveView)"
## Issue

current_path and current_url seem not to take into account live_redirects made through LiveView (they return the URL/path from before the redirect).

## Test Code & HTML

In LiveView:

[code]

In Wallaby test case:

`assert current_path(session) == "/path-after-redirect"`

PS:
I also implemented the same case in Cypress and it works correctly.

[2019-11-26 12:28] michallepicki commented on #487
Hi!

Can you provide a minimal LiveView repository with a test that reproduces this issue?

I'm not sure this is a problem with Wallaby at all but this way we'll be able to quickly check and see.

My first thought is that it is a timing issue, and Wallaby may be checking the URL before the page got redirected. In this case, you'd need to add some sleeps or waiting loops in your test code.

[2019-11-26 17:06] bartblast commented on #487
It turned out that I used the timer incorrectly (I assumed, not sure why ;) that it uses seconds instead of microseconds). Increasing the timeout fixed the issue.

[2019-11-26 17:06] #487 closed

[2019-11-26 21:50] bartblast opened #489 "DBConnection.OwnershipError error in async tests (using LiveView)"
## Issue

Are async tests using the Repo and connecting to LiveView supposed to work correctly?
I keep getting the error mentioned in the issue subject. If I disable async the tests work correctly.

[2019-11-26 21:55] mhanberg commented on #489
As I understand it, this is a general limitation of running Wallaby tests async. I run those tests synchronously when a background process will be touching the db.

[2019-11-26 22:04] mhanberg commented on #489
@bartblast can you confirm if you've set up the Ecto sandboxing in your test setup as described here: https://github.com/elixir-wallaby/wallaby#writing-tests

[2019-11-29 16:45] aaronrenner commented on #489
I've seen this issue as well. @bannmoore put together a small repo that illustrates the problem she's been seeing: https://github.com/bannmoore/demo_wallaby_liveview.

@bartblast Is this issue similar to what you've seen?

[2019-11-29 17:57] bartblast commented on #489
@byronanderson, @bannmoore I took a look at the repo, but I couldn't find any tests which use Wallaby and hit a LiveView. The only Wallaby spec file is here: /test/demo_wallaby_liveview_web/browser/happy_test.exs, but it goes through a controller.

[2019-11-29 17:58] bartblast commented on #489
@mhanberg Yes, I confirm, I went through the docs very thoroughly.

[2019-12-15 14:17] alecho opened #495 "Make Chromedriver escript Compatible"
## Issue
Similar to #192 but for chromedriver. When embedding Wallaby in an escript `Wallaby.Experimental.Chrome.Chromedriver` fails to start.

[code]

This is because we can't access files within `priv` in escripts. The fix is similar to #193 where we load the script as a module attribute at compilation.

[2019-12-30 13:22] PJUllrich commented on #468
Small note for future reference: Make sure that your `chromedriver` version is the same on your local machine and on your CI. Pin the version on your CI if necessary. Every now and then my CI broke because `chromedriver` got a new version, which wasn't installed on my local machine, leading to the problem that the tests ran locally, but broke in the CI with the above mentioned error meassage.

[2020-01-01 03:40] josephan commented on #468
I had the same issue as well, however my tests were passing on CI but not local (macOS).
My CI was running chromedriver 79 and my local was running chromedriver 77.
I fixed it by running `brew cask upgrade chromedriver`

[2020-01-03 17:40] aaronrenner opened #499 ":hackney_options config should be renamed to :httpoison_options"
## Issue

I was looking through the codebase and noticed that we're actually passing  `:hackney_options` to `HTTPoison`.

https://github.com/elixir-wallaby/wallaby/blob/4e3818ded8001177a313b85cacaac14244a3303a/lib/wallaby/httpclient.ex#L53-L55

HTTPoison takes slightly different options than hackney, so I'm thinking it would be good to update the config and docs accordingly. We'd probably want to

[2020-01-07 23:16] building39 opened #500 "live view socket error in socket.js"
## Issue

phantomjs 2.1.1
chrome 79
phoenix 1.4.11
phoenix_live_view 0.4.1
elixir 1.9.4
otp 22

When running a test that visits a page ( in this case, a simple login page) the test fails with:
[code]

[2020-01-07 23:19] building39 commented on #500
Offending code:
[code]

[2020-01-07 23:20] building39 commented on #500
[code]

[2020-01-07 23:21] building39 commented on #500
One more try:
[code]

[2020-01-07 23:22] building39 commented on #500
Offending code:
[code]

[2020-01-09 11:52] hfjallemark commented on #473
@aaronrenner any idea how to dig deeper into this? It's strange because it works perfectly fine locally.

[2020-01-09 13:27] aaronrenner commented on #500
@building39 Thanks for opening the issue!

At first glance it seems like phantom is seeing a JS error, which is outside of wallaby's control. If you open up the site and follow these steps in Chrome dev tools, do you see the same issue? Another option might be to switch to ChromeDriver.

I'll try to look into this deeper when I have a chance. If you have a moment and could put together a tiny app

[2020-01-09 13:59] aaronrenner commented on #473
@hfjallemark I'll do a bit of research to see we can expose more lines of that log message.

[2020-01-12 15:46] cysiegel opened #501 "Wallaby does not click or throw an error for buttons that are not visible in the window"
I'm trying to click on a button that exists in the HTML however is no longer visible to a human user because the window scrolled down from an earlier part of the test

When calling the function `click` on the element no error is thrown - even though - the DOM element never gets clicked on (`assert_has` also does not throw an error)

It seems strange that the `click` function does not throw an erro

[2020-01-12 15:56] michallepicki commented on #501
Hi @cysiegel
Which driver are you using?

Visible doesn't mean visible in the viewport, it means visible on the page, so `assert_has` works correctly.

Most WebDriver implementations when told to interact with an element that is visible but off-the-screen are implicitly performing a scroll to that location before interacting. Sometimes that is implemented naively and can cause the interaction to f

[2020-01-13 09:09] cysiegel commented on #501
@michallepicki thanks for your quick response
I am using chromedriver

If I understand you correctly - we can't throw just an error when trying to interact with an element not in the viewport because the behavior varies between drivers and the DOM

[2020-01-13 09:23] michallepicki commented on #501
@cysiegel More or less, yes. We could add an additional check that could be used together with `visible`, something like `in_viewport: true/false/nil` but it would hurt performance so probably would't be enabled bg defaut and AFAIK there's no reliable way to perform such check. I'm using this JavaScript heuristics, which is not perfect but in most cases works https://github.com/webdriverio/webdriv

[2020-01-13 09:37] cysiegel commented on #501
@michallepicki Thanks for your help!!!!

[2020-01-13 10:48] michallepicki commented on #501
They use a slightly different implementation now, I have not tested it: https://github.com/webdriverio/webdriverio/blob/5cceaa8e0b6b5fdc870a777e418fcd9f434f31f5/packages/webdriverio/src/scripts/isElementInViewport.js

There is some nuance here with elements fully vs only partially visible in the viewport, maybe that's why they changed it.

[2020-01-13 12:32] AdamT commented on #365
I'm not sure if this is related but I ran into this error today:

[code]

I ran `mix test` which I never do. I typically run `mix test --trace test/`.

Experimenting a little more I get:
[code]

🤷‍♂

[2020-01-16 20:46] building39 commented on #500
The problem was simply that I didn't recompile the fixed assets. Once I did that, the problem went away. You can close this issue.

[2020-01-16 21:03] #500 closed

[2020-02-05 00:59] hfjallemark commented on #473
Hey @aaronrenner, were you able to expose some more log messages?

[2020-02-05 04:46] aaronrenner commented on #473
@hfjallemark, I put some `IO.inspect/1` statements in the wallaby code locally, but it turns out the "uncaught ... " message is all that chromedriver is returning. :disappointed:

[code]

Unfortunately, the WebDriver logging endpoint is not even part of the newer W3C webdriver spec, and fails when chromedriver is running in W3C mode. I wish I had better news here... Would it be possible to switch

[2020-02-05 05:09] hfjallemark commented on #473
I’ll give that a try and see. Weird thing is that the same code works locally (macOS) with Chromedriver but not on Heroku (Ubuntu I believe).

[2020-02-08 22:14] aaronrenner opened #509 "Need ability to pass custom options to Chromedriver executable"
In issue #473, it appears we'd be able to get more information if allow developers to pass custom options to on chromedriver startup.

Below are the options needed to get the chromedriver debug info written to a log file
[code]
By starting chromedriver with these options, we're able to get more helpful error output like this:

[code]

[2020-02-11 18:35] aaronrenner commented on #423
This is still an intermittent issue in our CI pipeline:

https://github.com/aaronrenner/wallaby/runs/433741444#step:6:67
https://github.com/elixir-wallaby/wallaby/pull/510/checks?check_run_id=433928165#step:6:70

[2020-02-26 01:28] jethro-riosa commented on #365
Any updates on this one? I also experiencing this kind of error when running
`docker run -d -p 4444:4444 -v /dev/shm:/dev/shm selenium/standalone-chrome:3.141.59-zirconium`
locally.

[2020-03-11 18:40] aaronrenner commented on #365
@AndroidOatmeal @mhanberg I believe #518 should fix this problem. Would you mind trying again from master?

[2020-03-17 13:49] AndroidOatmeal commented on #365
@aaronrenner @mhanberg Thanks so much for putting this together. I updated my wallaby mix dependency to grab the latest version in `master`, which includes PR #518, like so:

[code]

Unfortunately, I'm still experiencing the same `:econnrefused` error we've been seeing for a while. I also tried the wallaby fix on @mhanberg's [wallaby_stress_test](https://github.com/mhanberg/wallaby_stress_test) re

[2020-03-17 14:09] aaronrenner commented on #365
I just tried out @mhanberg's wallaby_stress_test and see what you mean. I also found if I switched the driver to phantomjs, there wasn't that problem. The phantom driver uses a pool of phantomjs instances where the chromedriver one uses a single instance. I wonder if the stress test is just overwhelming the underlying chromedriver server and if building a pool of chromedriver instances would help?

[2020-03-17 14:18] mhanberg commented on #365
What is strange is that even if you reduce the number of test modules to 2, it still explodes.

I had the same thought regarding overwhelming chromedriver, but it is strange that chromedriver would crash with only two tests.

[2020-03-17 18:02] aaronrenner commented on #489
I can recreate the issue with this repo: https://github.com/aaronrenner/wallaby_liveview_playground. If I run `mix test` I get the following error after the test exits

[code]

It's interesting this doesn't actually cause a test failure... I think what's happening is the wallaby session is being shut down after the test process is finished, and during that gap the browser tries to hit the database

[2020-03-17 21:21] aaronrenner commented on #489
I investigated this a little further today and it appears the ownership error occurs when the LiveView process tries to rehydrate the LiveView. I opened this issue on the LiveView repo: https://github.com/phoenixframework/phoenix_live_view/issues/708

[2020-04-03 22:48] ngeraedts opened #524 "Wallaby.Browser.visit/2 does not generate an error if server is unreachable"
## Issue

If the page to be visited is unreachable, the `valid/2` function does not raise an error, leading to some potentially misleading error messages down the code path.

## Test Code & HTML
The following test case and error message were discovered because I had failed to follow instructions and set Phoenix's `server: true` in my `config/test.exs` file. PEBKAC. :)

Using the following test:
[c

[2020-04-12 08:35] sveredyuk commented on #468
+1 to @PragTob

I had the same issue on GitlabCI and local machine

[2020-04-16 00:22] #110 closed

[2020-04-16 00:22] #142 closed

[2020-04-16 00:22] #471 closed

[2020-04-16 00:28] mhanberg commented on #418
We moved to GitHub Actions in #484

[2020-04-16 00:28] #418 closed

[2020-04-16 15:27] mhanberg commented on #437
I am going to tackle this next.

cc/ @aaronrenner @michallepicki

[2020-04-25 23:14] aarongraham commented on #365
I had a go at building a pool of chromedriver instances as @aaronrenner suggested. I think I may have had some success. I tried it on both my own test suite and on @mhanberg's [wallaby_stress_test](https://github.com/mhanberg/wallaby_stress_test) project and it seems to work. I was able to run tests with a concurrency equal to the number of cpu cores (in my case 20).

I'm not at all familiar with

[2020-04-26 09:26] PJUllrich commented on #468
I ran into this issue again locally and would like to recommend to verify that your `chromedriver` has the same version as your `Chrome`-Browser, if you have one installed. In my case, Chrome updated itself to Version 81, but my chromedriver was still at 79. That lead to the `{"error" ,"invalid session id"}` error. After updating chromedriver to 81, my tests ran through successfully again.

[2020-04-27 02:55] aaronrenner commented on #365
@aarongraham Thanks so much for looking into this! I don't see where having a pool of Chromedriver servers would hurt, and I'm happy to hear it addresses your issue!

Supervisions wait for each child's init to complete before starting the next child, so blocking in the `init/1` callback means the servers would be started sequentially instead of in parallel. (So 20 instances at 5 seconds a piece wo

[2020-05-01 17:11] aaronrenner commented on #365
@aarongraham I just pushed a basic chromedriver pool on this branch that gets wallaby_stress_test passing: https://github.com/elixir-wallaby/wallaby/tree/ar-chromedriver-pool. It definitely slows down things quite a bit, but it seems like with some tuning we might get a speed benefit.

I've also seen where chromedriver leaves chrome processes laying around after it closes. I'm not sure if its a bu

[2020-05-01 17:58] eahanson commented on #365
@aaronrenner it's possible that there might be some useful code in [Chroxy](https://github.com/holsee/chroxy), which "uses Elixir processes and OTP supervision to manage the chrome instances, as well as including a transparent proxy to facilitate automatic initialisation and termination of the underlying chrome page based on the upstream connection lifetime".

[2020-05-06 04:13] danyflorez opened #529 "Add retry"
## Issue

If a test fail it doesn't retry the test, can we add the retry number by configuration?

[2020-05-08 02:58] camstuart opened #530 "Can Wallaby be used outside of tests, as a web scraper?"
## Question

Hello, I am just wondering if it is possible to use Wallaby external to tests, in my case I would like to html scrape some pages that first require a login.

So Ideally I would be able to maintain session cookies to use on each request

[2020-05-08 14:29] aaronrenner commented on #530
Absolutely! You'll want to add it to your dependencies without `runtime: false` so it starts automatically:
[code]

Let me know if you run into any problems!

[2020-05-08 19:38] bitboxer commented on #468
I also ran into this problem and have no clue on how to make chrome+wallaby work on travis ci. Details [here](https://elixirforum.com/t/problems-with-wallaby-chrome-travis-ci/31347). Would love some help.

[2020-05-11 09:21] ryanzidago opened #531 "How to update to Wallaby v.0.24.0 while using Chrome Headless?"
After reading the CHANGELOG.md, I see the following instructions:

Before wanting to update to 0.24.0, I had the following code in `test.exs`:
[code]

Now, I tried what is currently written on [hex.docs](https://hexdocs.pm/wallaby/Wallaby.Experimental.Chrome.html#module-headless), namely doing that:

[code]

However, I still get this error:
[code]

[2020-05-11 10:52] ryanzidago commented on #531
After reading this [line of code](https://github.com/elixir-wallaby/wallaby/blob/d075c456d379f97de385a65ab063c2e08e2ad47f/lib/wallaby.ex#L114), I realized that the env variable `WALLABY_DRIVER` was not set to `chrome`.

If I run the tests like this: `WALLABY_DRIVER=chrome mix test`, then the tests work.

However, there must be a simpler way or?

[2020-05-11 11:31] mhanberg commented on #531
`driver` is still a top level key.

Your config should be

[code]

[2020-05-11 11:50] ryanzidago commented on #531
Indeed, thank you @mhanberg!

[2020-05-11 19:21] #531 closed

[2020-05-11 19:23] mhanberg commented on #530
Closing this because it is not an issue, but feel free to continue discussion.

[2020-05-11 19:23] #530 closed

[2020-05-11 19:24] mhanberg commented on #529
I think that is more of a request for ExUnit, rather than Wallaby.

What do you think @aaronrenner?

[2020-05-11 19:25] danyflorez commented on #529
Do you have any idea how can I develop it myself?

[2020-05-12 00:22] mhanberg commented on #529
Running your tests like so will retry failed tests up to 2 additional times

[code]

[2020-05-12 00:45] danyflorez commented on #529
Wow, that's great! Thanks you're the best @mhanberg

[2020-05-12 00:57] #529 closed

[2020-05-21 18:09] aj-foster opened #533 "No Function Clause with 0.24.0 and Chrome[driver] 83"
## Issue

After upgrading versions of Wallaby and Chromedriver, we recently started encountering an error in all of our Wallaby tests. The full stack trace is below. It appears there's a mismatch in the expectation of a `port_number` vs. `wrapper_script_port` field in the state passed to `handle_info`.

[code]

## Test Code & HTML

(This happens with all of our tests.)

[code]

The result, during

[2020-05-21 18:31] matthewjsloane commented on #533
+1

[2020-05-21 18:32] mhanberg commented on #533
Hi, thanks for the bug report, I'll look into this!

[2020-05-21 19:07] mhanberg commented on #533
I was able to reproduce this.

The test suite fails resoundingly with the latest ChromeDriver version on the v0.24.0 tag, but passes on master. I should be able to cut a release of what's on master.

[2020-05-22 00:06] mhanberg commented on #533
Fix released as v0.24.1. Thanks again for the report!

[2020-05-22 00:06] #533 closed

[2020-05-22 00:10] #164 closed

[2020-05-22 00:10] #196 closed

[2020-05-22 01:50] aj-foster commented on #533
Fast and fantastic work. Thank you!

[2020-05-22 01:51] mhanberg commented on #533
Credit goes to @aaronrenner 😄

[2020-05-27 16:31] florianb opened #534 "UndefinedFunctionError: :chrome.validate/0 is undefined (module :chrome is not available)"
## Issue

I installed Wallaby (0.24.1) as described. We wanted to switch from phantomjs to chromedriver but got the appended error after applying `driver: :chrome` to the config.

The given System runs

- Ubuntu 20.04 LTS
- Erlang/OTP 23 [erts-11.0] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [hipe]
- Elixir 1.10.3 (compiled with Erlang/OTP 21)
- ChromeDriver 83.0.4103.61 (94f915

[2020-05-27 18:01] michallepicki commented on #534
@florianb I think the `driver:` config expects a module. Can you try `Wallaby.Chrome` as mentioned in the Readme?

[2020-05-27 18:14] florianb commented on #534
@michallepicki - thank you very much, unfortunately the same result.

[2020-05-27 18:51] mhanberg commented on #534
@florianb do you mind sharing your actual config?

[2020-05-27 18:57] superchris opened #535 "Chromedriver 83 is failing to start"
## Issue

First saw this in github CI, but after upgrading to chromedriver 83 previous wallaby tests which were passing are failing. It appears to fail starting chromedriver server process:

[code]

this leads to:

[code]

[2020-05-27 18:59] superchris commented on #535
Ah, my bad this is a dup of a closed issue. Will go upgrade thanks!

[2020-05-27 18:59] #535 closed

[2020-05-27 19:02] florianb commented on #534
Absolutely not! I'm happy to help.

### config/test.exs
[code]

### config/config.exs
[code]

### test/test_helper.exs
[code]

[2020-05-27 19:04] florianb commented on #534
No idea if the `mix.exs`is of interest, but i guess there's nothing special in it.

[2020-05-27 19:19] mhanberg commented on #534
Oh, sorry I know the problem.

The readme is currently showing what is on master. Please set your driver to `Wallaby.Experimental.Chrome`.

[2020-05-27 19:23] florianb commented on #534
Oh thank you very much @mhanberg - that fixed it.
Hopefully i'm soon able to give something back for your work! Let me know if you need a helping hand (even though i'm pretty new to the Elixir world and Wallaby).

[2020-05-27 19:23] #534 closed

[2020-06-04 05:18] jonleighton commented on #489
I'm not using async tests, but I think I have a related issue with a test which has 2 sessions (with LiveView).

My test passes every time, but on some of the runs I see an error from the LiveView indicating that it failed to find a record in the database. I suspect this is happening because e.g. session 2 causes session 1's LV to re-render, but session 1 no longer has access to the database sandb

[2020-06-05 18:13] AndroidOatmeal commented on #365
@aaronrenner @aarongraham Happy Friday all. :) What's the status of the Chromedriver Pool branch? I've been using `ar-chromedriver-pool` to enable parallel browser tests and it seems to be working.

It would be nice to merge the fix into the main wallaby branch and finally close this issue. What work remains to be done? I'm happy to help out if the branch needs a bit more polish.

[2020-06-15 14:51] #437 closed

[2020-06-17 19:15] TheFirstAvenger opened #539 ""Attempted to pattern match against the internal structure of an opaque term""
The code
[code]
in projects using Wallaby gives the dialyzer warning:
[code]
on Elixir 1.10.2/Erlang 22.3.1

Changing `Wallaby.Browser.sync_result` from `@opaque` to `@type` resolves this. PR incoming.

[2020-06-17 19:34] #539 closed

[2020-06-18 19:57] TheFirstAvenger opened #542 "Dialyzer error when specifying Queries in module attributes in compiled helpers"
Example Repo: https://github.com/TheFirstAvenger/wallaby_dialyzer_issue

If you have compiled test helpers, and use module attributes to specify Queries, then functions that call `fill_in`, `click`, or `assert_has` will throw the Dialyzer "no return" error. These show up as errors in IDE tools like ElixirLS.

[code]

[2020-06-19 09:28] michallepicki commented on #542
Thanks for the repro repository!

I'll look into it - I am familiar with Wallaby codebase and I have some experience fixing dialyzer in application code. So far I have been ignoring dialyzer issues in my projects wallaby tests - this is a good starting point to change this :)

[2020-06-19 15:17] #542 closed

[2020-06-19 15:19] michallepicki commented on #542
@TheFirstAvenger This should be fixed on master now, to confirm you can try it out by specifying `{:wallaby, github: "elixir-wallaby/wallaby", only: :test},` in your project

[2020-06-19 16:47] mhanberg commented on #542
I can publish a patch release once you've confirmed it works @TheFirstAvenger.

Thanks for taking the time to open an issue and create a bug demo project, we appreciate it!

🍻

[2020-06-19 23:47] TheFirstAvenger commented on #542
@mhanberg Confirmed, that fixed it, thanks!

[2020-06-20 01:10] mhanberg commented on #542
@TheFirstAvenger the fix has been released with v0.26.2

[2020-06-20 01:11] TheFirstAvenger commented on #542
@mhanberg Thank you!

[2020-06-24 00:51] axelson opened #544 "Chrome zombie processes"
## Issue

I'm using these versions:
[code]

After running any Wallaby test I get zombie chrome processes, this happens even if the test executes successfully. While the test is running the Google Chrome OS Processes are children of a beam.smp process, but after the test finishes their parent process ID is 1 (init).

## Test Code & HTML

N/A

Related: https://github.com/elixir-wallaby/wallaby/issue

[2020-06-24 00:58] mhanberg commented on #544
Hi Jason, thanks for taking the time to open an issue.

I have a few questions.

- How many tests are in your suite?
- Does this happen when running a single test? Multiple tests? The whole test suite?
- Are you running your tests `async: true`?
- If yes, how many test modules to you have?

[2020-06-24 01:23] axelson commented on #544
This is running a single test with `async: false`. I am testing a Phoenix LiveView application so perhaps that's causing an issue. Perhaps the websocket causes the chrome instance to not close down?

[2020-06-24 01:24] mhanberg commented on #544
Do you think you can make a minimal reproduction project that I could clone to investigate?

[2020-06-24 15:22] miquecg opened #545 "[request] Option to output errors if some resource fails to be loaded"
## Issue

I have a proposal in case is not contemplated yet. I've run into an issue on CI that didn't happen on my local dev environment. It turned out to be completely my fault but maybe wallaby could have give some extra information.

One feature test was failing to find elements that in fact were there. As I've said, everything was running fine on my machine™ so this was odd, until I've realize

[2020-06-24 15:26] mhanberg commented on #545
Thanks for taking the time to open an issue 😄.

I'll take a look at the [WebDriver](https://www.w3.org/TR/webdriver/) spec to see if there is anything built in for this.

[2020-06-24 20:14] axelson commented on #544
@mhanberg here's a reproduction repository: https://github.com/axelson/wallaby_repro

I haven't narrowed it down but the zombie processes don't occur quite as often as I initially thought.

[2020-06-24 20:20] mhanberg commented on #544
It works (or, doesn't work 😝) for me. Thanks, the reproduction repo really helps!

[2020-06-27 10:33] reneweteling opened #546 "Wallaby 0.26.2, chromedriver issue ** (exit) exited in: GenServer.call(Wallaby.Chrome.Chromedriver, :wait_until_ready, 5000)"
## Issue

Running locally MacOs (Elixir 1.10.3 OTP 23, chromedriver 83) all is working in the world, but running the tests in our alpine container things get messy.

The error message:
[code]

Then ive did some digging and i saw this error message popping up:

[code]

Running run-command seems to work:
[code]

Going back to Wallaby 0.24 still functions properly, maybe its an permission issue? Than

[2020-06-27 13:09] rickclare commented on #546
Yes, we are encountering the same issues and identical error messages, in our CI environment (Alpine Linux in a Docker container).

## Our CI Environment

Alpine Linux (v3.11.6 with edge packages for chromium/chromedriver)
Elixir v1.10.3 OTP 23
Wallaby v0.26.2
Chrome v83.0.4103.116
ChromeDriver v83.0.4103.116

----

As per @reneweteling's experience:

1. Our test specs (with Wallaby v0.26) all exe

[2020-06-27 13:29] rickclare commented on #546
In case it is of assistance, here is a (simplified) version of our CI Dockerfile:

[code]

[2020-06-28 16:49] yonst opened #547 "StaleReferenceException don't cause a failure"
## Issue
I have a few rows in my app and every row has a button. After the button is pressed the row changes and I want to make sure that the change happened.

## Test Code & HTML

example:
Project: https://stackblitz.com/edit/angular-ivy-mjp3kh
[code]
I expected in the case of StaleReferenceException to get an exception so I can try again, but even though the inspect prints:

"%Inspect.Error{mess

[2020-07-01 04:33] mhanberg opened #548 "Inspect protocol implementation for %Wallaby.Element{} is confusing in error messages"
## Issue

When your test encounters an error, it will attempt to print some helpful information, like what arguments were passed to a function. If one of those arguments in a `%Wallaby.Element{}`, it will call it's implementation.

This is a problem, in that the implementation will attempt to retrieve the `outerHTML` of the element by making a call to the browser. If you're test has already errore

[2020-07-02 15:14] Koziolek opened #549 "[ChromeDriver] There is no browser window showed"
wallby: 0.26.1 and 0.26.2
chromedriver:  83.0.4103.39 (ccbf011cb2d2b19b506d844400483861342c20cd-refs/branch-heads/4103@{#416})
elixir: 1.10.0
OTP: 22.2

## Issue

In configuration I have:
[code]

Expected behavior → It should show browser window during tests.
Current behavior → no window appears, but all tests pass

[2020-07-02 15:16] mhanberg commented on #549
Please see the documentation for configuration headless: https://hexdocs.pm/wallaby/Wallaby.Chrome.html#module-headless

[2020-07-02 15:16] #549 closed

[2020-07-09 08:57] reneweteling commented on #546
Any news on this?

[2020-07-13 05:57] r8code opened #550 "How to list current active sessions ?"
## Question
Selenium Chrome

Hi , first thank you for this great library
I want to ask is there any API  to list current active sessions
I saw there is Wallaby.SessionStore.list_sessions_for   but  if I  had end_session  , the list is not empty
Is there any way to list current active sessions ?
Thank you

[2020-07-21 07:39] reneweteling commented on #546
Hiya, any news on this?

[2020-07-21 13:04] aaronrenner commented on #546
@reneweteling I just did a little research and bash needs to be installed to get wallaby's run_command.sh wrapper script to work. Let me know if this takes care of the issue for you.

[2020-07-21 13:17] reneweteling commented on #546
@aaronrenner All green, thanks man!

So in short, if you are using alpine Linux make sure you install bash

# Dockerfile
[code]

[2020-07-21 13:17] #546 closed

[2020-07-21 15:40] rickclare commented on #546
Our CI environment is also fixed, many thanks for the tip @reneweteling !

[2020-07-22 16:16] ChipCoons opened #551 "Unable to create session with JavascriptEnabled set to true"
## Issue

I'm unable to set javascript enabled in the session either with a parameter passed in on session create, i.e.:

`{:ok, session} = Wallaby.start_session([%{javascriptEnabled: true}])`

or by setting in the config.exs :

`config :wallaby,
  driver: Wallaby.Chrome,
  chromedriver: [
    javascriptEnabled: true
  ]`

I'm probably overlooking something simple, but have been unsuccessful in di

[2020-07-22 17:51] mhanberg commented on #551
Hi, you are missing the `capabilities` key in the keyword list you passed to `start_session`.

[2020-07-22 18:26] ChipCoons commented on #551
Do the capabilities need to be fully enumerated?  If I use:

` {:ok, session} = Wallaby.start_session([capabilities: [ %{javascriptEnabled: true}]])`

I get an invalid session id error.

[2020-07-22 18:29] mhanberg commented on #551
The capabilities are a map.

`{:ok, session} = Wallaby.start_session(capabilities: %{javascriptEnabled: true})`

[2020-07-22 18:32] ChipCoons commented on #551
Thanks.  It would be nice if a sample of customizing the session was documented someplace.

[2020-07-22 18:32] #551 closed

[2020-07-22 18:54] mhanberg commented on #551
The options are documented here https://hexdocs.pm/wallaby/Wallaby.Chrome.html#content.

Feel free to submit a PR if they're not clear enough!

[2020-07-22 23:02] danyflorez opened #552 "Add the ability to add macros on top of wallaby"
## Issue

I'd like to extend the functionality of wallaby so I need to add a macro to run some code before and after the test execution.

Thanks.

[2020-07-22 23:09] mhanberg commented on #552
Is there something specific you can't do using the callbacks provided by ExUnit?

[2020-07-23 00:18] danyflorez commented on #552
Yeah my team is thinking about implementing retry as macros, something like

  use ExUnit.Case, async: true
  use Wallaby.Feature
  use Common.Retry

 retryable_feature "This is gonna fail sometimes", %{session: session} do
   ...some code
 end

[2020-07-23 00:39] mhanberg commented on #552
Is the solution I offered to you previously not sufficient? https://github.com/elixir-wallaby/wallaby/issues/529#issuecomment-627035449

[2020-07-23 00:41] danyflorez commented on #552
Sadly it wasn't approved by the architecture team :(

[2020-07-23 00:42] mhanberg commented on #552
If you want to implement your own version of `feature` that incorporates retries, you're more than welcome to copy the code into your code base and modify it to do so.

If it works well for you, we can talk about whether it should be upstreamed into Wallaby.

[2020-07-23 00:43] danyflorez commented on #552
Great, I'm gonna try my best, thanks

[2020-07-23 00:45] #552 closed

[2020-07-24 15:20] chrisgreg opened #553 "Integration with Mox?"
Trying to mock out some external API's that get called as part of the E2E journey doesn't seem to be working with Wallaby - it works fine for standard Phoenix controller tests.

Is there something special that needs to be done or does the separate session interfere with how Wallaby works?

[2020-07-24 15:35] mhanberg commented on #553
Do you mind sharing a code snippet or maybe share a repo that demonstrates Mox not working with a Wallaby test?

[2020-07-24 15:39] mhanberg commented on #550
There is currently no public API for retrieving the sessions.

Do you mind sharing why you want to get the list of sessions?

[2020-07-24 15:40] mhanberg commented on #547
I think the Inspect error you're seeing is related to #548.

[2020-07-24 16:27] keathley commented on #553
You might have to put mox into global mode.

[2020-07-24 17:42] miquecg commented on #544
This happens to me also. After running the test suite I can see many chromium processes hanging from PID 1.

[code]

I first noticed something was going on when I saw server log messages about invalid tokens sent by my app.js and tests were always ok. Messages were showing up intermittently and after killing all chromium processes they were gone, so I presume one of those stale sessions was still

[2020-07-27 03:08] anduonghien commented on #553
Can we integrate https://github.com/parroty/exvcr with Wallaby

[2020-07-27 03:49] mhanberg commented on #553
@anduonghien can you please open a new issue regarding this, and explain what your problem is and why an integration with Wallaby would solve it?

[2020-07-27 07:05] r8code commented on #550
Hi, I need to retrieving the sessions, to make sure there's no dangling chromedriver port opened by selenium process ,
if I can retrieve the sessions, I can make sure that the current status of selenium is the same as the application
Thanks for the reply

[2020-07-27 08:59] yonst commented on #547
I'm not sure you right, in #548 it causing error but in my case it not fail at all...

[2020-07-27 09:30] cysiegel opened #554 "second session does not close when test finishes"
Hi

Thank you again for this great library

After an elixir test with multiple sessions finishes (whether success or fail) the second session remains open

![image](https://user-images.githubusercontent.com/37839547/88524214-b8ab4c00-d001-11ea-8130-89a55324b021.png)
(what my docker looks like after a while)

Using Wallaby `0.26.2`, chrome driver, elixir `1.10.4` and running on a mac
We are not usi

[2020-07-27 11:57] cysiegel opened #555 "screenshot_on_failure takes screenshot of all sessions"
When `screenshot_on_failure` is set to true - an automatic screenshot is taken of all the sessions in the feature - not just the session where the error happened

Is there a way to to set it so that there is only an automatic screenshot of the session where the error happened? (not sure if this is considered a bug or feature request)

Using Wallaby 0.26.2, chrome driver, elixir 1.10.4 and running

[2020-07-27 13:17] mhanberg commented on #547
You're calling IO.inspect, which is causeing the Inspect error.

[2020-07-27 14:24] yonst commented on #547
You right but I expected it to fall in the assert_has function and it didn't happend

[2020-07-27 14:31] mhanberg commented on #547
In the code sample above, the test fails on the InspectError when calling `IO.inspect`, so it never reaches the `try` block.

[2020-07-27 14:33] mhanberg commented on #555
I'm not sure if there is a way to tell which sessions caused the failure.

Failures could come from many places, an exceptions we raise ourselves based on the web driver returning an error, or from an assertion that you make yourself.

What problem are you running into regarding having multiple screenshots taken?

[2020-07-27 14:38] mhanberg commented on #554
Couple of things,

- Can you provide a repo with a test that reproduces the problem?
- Are you using Wallaby.Selenium or Wallaby.Chrome? If you're using Wallaby.Chrome, you don't need to specify chrome in the capabilities.

This is unrelated, please open a separate issue for this.

[2020-07-27 15:19] yonst commented on #547
In default Inspect error don't cause a failure, so it just print it and keep going

[2020-07-27 15:27] yonst commented on #555
In the old wallaby versions, the screenshot on failure came straight from the find function so only the screen shot have be taken only from the relevant session.
Screenshot from all the sessions take a lot of space and make it difficult to find the relevant picture.

[2020-07-28 08:08] cysiegel opened #556 "Feature Module name"
It looks like Wallaby is now going in the direction of using the Feature Module instead of using the built in elixir `test`
(Automatic screenshots now only occur inside the feature macro)

It seems funny to always put our tests in something named `feature` when testing multiple features (like an end to end test) - as it is not testing a feature but the combination of many features together

[2020-07-28 16:12] cysiegel commented on #554
@mhanberg Thanks for your quick response and for investing so much time in this great library

I produced a very simple sample repo that reproduces the problem (below)
[sessions_test.zip](https://github.com/elixir-wallaby/wallaby/files/4989554/sessions_test.zip)

The truth is adding `[capabilities: %{browserName: "chrome"}]` was actually legacy code from when we used selenium before selenium had a

[2020-07-28 16:15] mhanberg commented on #554
the configuration for running chrome headlessly can be seen here: https://hexdocs.pm/wallaby/Wallaby.Chrome.html#module-headless

[2020-07-28 16:30] mhanberg commented on #554
I think I have figured out the problem, and it I think it is also the cause of #544.

I'll be implement a fix in the next couple days.

[2020-07-28 16:31] mhanberg commented on #554
Thanks for providing the reproduction project!

[2020-07-28 19:48] bobwaycott commented on #550
I'll chime in here and say I'm also looking for a means of identifying active sessions (and verifying a closed/ended session is truly gone). Use case here is a separate process interacting with webpages in a non-test setting. There could be interaction between the calling process and the `wallaby` process, and want to be able to do something like perform an action using session ID `X`, then when t

[2020-07-28 19:54] mhanberg commented on #550
I think the case here (ending a session, but not seeing that reflected in the session store) is related to #554.

if I can retrieve the sessions, I can make sure that the current status of selenium is the same as the application
Thanks for the reply

@r8code I'm not really understanding what you are saying here.

Are you seeing instances of Chrome remaining opening after your test suite finishes?

[2020-07-28 20:13] michallepicki commented on #550
For Selenium 3 there's the [GET /sessions](https://github.com/SeleniumHQ/selenium/wiki/JsonWireProtocol#sessions) endpoint you could call. I haven't tried it but you could probably use it like that:

[code]

Not sure if they expose it for chromedriver, possibly not. The new W3C WebDriver Protocol removed this functionality from their standard (I think this means it's optional).

[2020-07-28 20:14] mhanberg commented on #550
I think if you're running concurrent tests, then `/sessions` would return sessions that haven't been started by the current test.

[2020-07-29 02:28] andyduong1920 opened #557 "Integration with ExVCR"
## Issue

Hi, we are using [ExVCR](https://github.com/parroty/exvcr) for recording and replay the HTTP request (to the external service, the request is made by Elixir code, not from Javascript) and it works well with Unittest (Phoenix controller and Database test) but on UI test it doesn't work. So would like to ask you guys the opinion on how to integration ExVCR to UI test with Wallaby.

## Test

[2020-07-29 02:29] anduonghien commented on #553
Sorry for a late reply @mhanberg, I have create a new issue for it at https://github.com/elixir-wallaby/wallaby/issues/557, please have a look when you have time and let me know if it's not clear, thanks you. 🙏

[2020-07-29 02:32] mhanberg commented on #557
Thanks for opening an issue.

I have a feeling this has to do with the production code running in a different process (your endpoint) than the test code (the exunit process).

I've never used exvcr, so I'll have to look into how it works.

Thanks!

[2020-07-29 02:44] anduonghien commented on #557
Thanks, @mhanberg and stay safe during COVID 😷

[2020-07-29 18:13] bobwaycott commented on #550
@mhanberg Yes, I was evaluating Wallaby as a potential solution versus a Python implementation for interactions between separate applications. The particular use case is `ElixirApp1` sends a request to `ElixirApp2`, which interacts with a given page, and communicates results back to `ElixirApp1`. I wasn't seeing anything particular about Wallaby that would prevent such a non-test-running use case,

[2020-07-30 08:05] r8code commented on #550
@mhanberg yes the use case is for testing other external website (like web crawling behaviour) ,
Hound  library  has Hound.SessionServer for mapping the current process with selenium session and  Hound.Session.active_session/0 , which basically just requesting  GET to  /sessions API ,
I'll try to make pull request ,
Thanks

[2020-07-30 10:41] mhanberg commented on #550
@bobwaycott Re:your edit. Yep, the ets table is where I think the bug is. I'll be able to provide a fix in the next few days.

[2020-08-04 18:39] mhanberg commented on #556
I think that this is being slightly pedantic or too specific as to what constitutes a feature.

I might say a feature is "user can create a new post", but that involves signing in, navigating to the page, typing in the post text, typing in a name, clicking submit, being redirecting to the index page.

Is that one feature or 4-6 features?

The only other name that I have seen people use to name the

[2020-08-04 18:39] #556 closed

[2020-08-04 19:07] mhanberg commented on #555
I think as a user, that is non-intuitive (given you haven't seen the old behavior). One would expect that if you have screenshots on failure configured, that any test failure would produce a screenshot.

If you are using multiple sessions in a single test, they are most likely interacting with each other, so you probably want to have a screenshot of each session.

[2020-08-04 19:07] #555 closed

[2020-08-05 12:24] yonst commented on #555
I'm using wallaby few years and I always had 2 sessions because In my company app I have 2 apps that works in a pipe (client side and customer side)
Most of my tests includes action on both apps so I use 2 sessions for it.

When failure happens because of missing element I want screenshot of this session only.
The fact that I get now 2 screenshots from every failure causing me a lot of problems (i

[2020-08-05 12:30] mhanberg commented on #555
@yonst I appreciate your concern and I'm sorry the change is having negative effects on your workflow.

If I hear similar concerns from more users, I'll bring the topic back up for discussion.

[2020-08-05 12:42] yonst commented on #555
@mhanberg  As you can see, some user (@anduonghien - I don't know him) did 👍  on my comment so probably he also have problems with this change.

[2020-08-05 13:12] michallepicki commented on #555
@yonst I'll try to give some background reasoning and ideas on how you could proceed further:

I think the issue with the old approach inside `find` was that when tests were failing because of regular ExUnit assertions or other reasons like raised exceptions, the Wallaby user was left without additional info (other than the test failure message). To handle this, and other setup-related tasks, the

[2020-08-07 02:06] anduonghien commented on #557
btw, could I ask you 1 question, what tools you are using to mock the external HTTP request on UI test in your projects @mhanberg, do you have any idea to do that, thanks you 👍

[2020-08-07 22:38] mhanberg commented on #557
@anduonghien i prefer to use [Bypass](https://github.com/PSPDFKit-labs/bypass) when stubbing HTTP requests, or using [mox](https://github.com/dashbitco/mox) if mocking a client library.

[2020-08-07 22:41] mhanberg commented on #557
If you're referring to stubbing JavaScript fetch requests while running your wallaby tests, I've never done that before.

[2020-08-09 03:14] anduonghien commented on #557
Yeah, thanks @mhanberg we gonna refactor our codebase to use Mox :)

[2020-08-09 22:46] mhanberg opened #561 "Pipeable `assert_text/2` and `assert_text/3`"
Currently, `assert_text/2` and `assert_text/3` return a boolean, which makes it impossible to chain together several text assertions.

The current implementation either returns true or raises. While raising is desired (to act like an assertion), returning true is useless. You know the value will be true if it doesn't raise. It would be much better if it returned the parent to be able to chain asse

[2020-08-10 16:14] yonst commented on #555
@michallepicki
About a and b: How can I take screenshot by myself before the failure if I don't want to override wallaby code?

[2020-08-12 22:40] rnice01 opened #563 "How to take a screenshot of a specific element?"
## Issue

I'm trying to use Wallaby as a web scraping tool, really enjoy using the DSL and set up is a breeze, kudos on the work. Looking through the docs, I see there's a `take_screenshot/2` with the first param being a "screenshottable". The code I'm using finds the element that's at the bottom of the page, but the screenshot is of the top of the page. Is there a way to scroll to the element and

[2020-08-19 13:59] mhanberg commented on #563
I think the way to do this is to execute some javascript to scroll the element into view.

[2020-08-20 21:10] rrosztoczy opened #565 "Custom implementation of Inspect in Wallaby.Element creates heisenbugs"
## Issue
I am not sure this is an issue, but more of a comment I had after spending a lot of unnecessary time investigating what turned out to be a heisenbug.

You have a custom implementation of Inspect for Wallaby.Element that introduces a side effect by calling out to the webdriver client. What this means is that anytime a developer tries to inspect an element after it has been changed (say, in

[2020-08-20 21:13] mhanberg commented on #565
Can you confirm if this is a duplicate of #548?

[2020-08-20 21:38] rrosztoczy commented on #565
It is not a duplicate issue, but the try/rescue solution suggested would resolve both issues.

[2020-08-20 23:57] mhanberg commented on #565
Can you explain the difference between the behavior you've observed and the issue I linked?

[2020-08-21 00:20] rrosztoczy commented on #565
My issue did not occur from running tests or due to a killed session, but rather from inspecting an element in the Wallaby Wallaby.Element module after an event that changed the dom -> in my case, it was trying to inspect the element returned _inside_ of the Browser.click/2 function.

The test did not fail, instead the click executed successfully, so the code ran through the success path and retur

[2020-08-21 00:33] mhanberg commented on #565
Ahh, I see now. I should clarify issue #548

As I see it, the issue is if something goes wrong during the side effect executed by calling inspect on an `Element`, the call to inspect should not fail.

In your case, the call to inspect fails because it raises a stale reference exception during the call.

[2020-08-25 08:17] cysiegel opened #566 "multiple file upload"
Thank you again for this great library

Currently the attach_file/3 only allows the uploading of one file at a time
Is it possible to add the ability to upload multiple files at once

[2020-08-28 16:55] michallepicki commented on #566
Hi! Which backend (chromedriver, selenium) are you using? And if you're using selenium, which browser?

Based on [this stackoverflow answer](https://stackoverflow.com/a/25017842), and [current wallaby `attach_file/3` implementation](https://github.com/elixir-wallaby/wallaby/blob/a8d95f383ee203f27f0f8c41d2d3af55a24b6353/lib/wallaby/browser.ex#L206), I think you might be able to attach multiple file

[2020-09-01 09:11] reneweteling opened #568 "chromedriver: [headless: false] not working anymore with Chromedriver 85"
## Issue

Chromedriver 85 is not booting chrome when headless is set to false. Tests work fine though.

## Test Code & HTML

[code]

MacOs 10.15.6
Elixir 1.10.3 (compiled with Erlang/OTP 23)
Crome Version 85.0.4183.83 (Official Build) (64-bit)
ChromeDriver 85.0.4183.87 (cd6713ebf92fa1cacc0f1a598df280093af0c5d7-refs/branch-heads/4183@{#1689})
wallaby 0.26.2

[2020-09-01 14:01] mhanberg commented on #568
What do you mean by "not booting chrome"? Are you saying that chromedriver does not seem to be respecting the the `headless` setting?

[2020-09-01 14:37] peaceful-james opened #569 "Ensure selenium image v4 works"
As per https://elixirforum.com/t/setting-up-wallaby-with-docker-compose-chrome-and-selenium/32296/14?u=slouchpie

i am opening a reminder issue to test against v4 selenium.

[2020-09-01 15:04] michallepicki commented on #569
Related: https://github.com/elixir-wallaby/wallaby/issues/455
I think Selenium v4 might have deprecated the JSON Wire Protocol and now requires the W3C one, but that will have to be confirmed.

[2020-09-01 15:06] michallepicki commented on #455
Update: I'm not working much with Wallaby and/or integration testing anymore, so I probably won't be completing this work, but I'm happy to provide any help I can and insight I gained from dealing with the W3C WebDriver protocol.

[2020-09-01 15:42] peaceful-james opened #570 "DIfferent `:base_url` for different sessions?"
Is it possible to use different `:base_url` for different sessions?

[2020-09-01 16:39] reneweteling commented on #568
Exactely, the headless setting is being ignorred. When i inspect the session, i also see that the headless option is there, so that's pretty weird.

Sorry for the unclear explanation.

[2020-09-02 17:17] peaceful-james opened #571 "Actually random "invalid session id" errors"
I am using the same version of chromedriver and chrome browser. I am using the default `Chrome` driver.

My setup is on docker and when I do this:

[code]

then
sometimes the Wallaby test runs and
sometimes the Wallaby test errors with the `invalid session id` message.
It is random.

You can see from the way I am running the tests that nothing changes between different runs.

[2020-09-02 17:24] peaceful-james commented on #571
I'm actually closing this

[2020-09-02 17:24] #571 closed

[2020-09-03 10:52] peaceful-james opened #572 "&fill_in/3 randomly changes character order"
Sorry I have to open yet another issue.

The `&fill_in/3` function sometimes changes character order.

I have noticed this especially when entering Stripe test card number "4242424242424242" during payment testing. Sometimes it will be entered as, e.g. "4242424242424224" (last 2 chars switched).

Like my other Wallaby problems, this problem happens randomly.

I will fork this repo and try to write

[2020-09-03 13:04] peaceful-james commented on #572
Thank goodness! It's nice to know someone else sees it. Sometimes (always) I wonder "am I just being stupid?".

[2020-09-04 10:27] peaceful-james commented on #571
For my particular case, I have narrowed down where the random failures happen. It occurs (sometimes) when clicking checkboxes. Very very strange.

[2020-09-22 13:30] peaceful-james commented on #571
For posterity, I have same chromedriver and chromium versions (exactly the same - 83.0.4103.116)

[2020-10-27 15:42] alexandreguz commented on #566
There is actually a bug in the attach_file function. The function receives a list of tuples with the path of the files to be uploaded. However, it is not possible to send a list with more than one item.

![image](https://user-images.githubusercontent.com/59868510/97325076-46097100-187b-11eb-8b27-5c086a46e01b.png)

 The michallepicki solution works.

Thanks

[2020-10-29 00:41] joelparkerhenderson opened #573 "Fails setup because of web_driver_client dependency"
## Issue

First time use on macOS, fully current, does not seem to compile cleanly:

[code]

Is there a solution, or workaround, etc.?

## Versions

[code]

[2020-10-29 00:45] mhanberg commented on #573
Have you tried deleting your reps folder and re running `mix deps.get`? Or whatever the combination of `mix deps.clean —all` and `mix clean` is?

Sent from my iPhone

[2020-10-29 01:22] joelparkerhenderson commented on #573
Your suggestion solves it:

[code]

Thank you!

[2020-10-29 01:27] #573 closed

[2020-10-29 22:09] joelparkerhenderson opened #574 "Authentication via phx.gen.auth"
## Issue

My goal is to test many pages that require a user to sign in, and I want to speed up the tests.

I know how to send the test user through the real web page sign in process, and I'm seeking ways to skip this step, in favor of using functions that set the user directly. The speed difference is large-- like 10x-- and I'm seeing very good results with phx.gen.auth functions that handle the s

[2020-10-29 22:26] mhanberg commented on #574
I don't believe there is any way other than what you've already listed.

You could build in a "test mode" into your app that skips authentication and uses some test user automatically.

[2020-11-10 17:42] SamuelWillis opened #575 "Query.checkbox fails to find checkbox with pointer-events: none"
## Issue

Using `Query.checkbox()` to select a checkbox that has the `pointer-event: none` styles fails to find the checkbox.

If I remove the `pointer-events: none` from the checkbox the test passes as expected.

Versions:
[code]

## Test Code & HTML

HTML
[code]

Test code
[code]

Logging the checkbox query
[code]

The test fails to check the checkbox and subsequently fails to submit the signup

[2020-11-17 23:47] oliverswitzer commented on #43
@michallepicki  just checking -- was any progress made on this?

[2020-11-17 23:57] mhanberg commented on #575
If you get some time, would you be able to open a pull request with a failing test that demonstrates this bug? If you can do that I can take over and implement the fix.

Thanks!

[2020-11-18 00:02] SamuelWillis commented on #575
Yes, I should be able to do that this week.

[2020-11-18 07:06] michallepicki commented on #43
There is a stale PR by @jangromko , needs to be updated: #480 - @oliverswitzer is this something you'd want to pick up?

[2020-11-24 18:01] braunse commented on #544
I got the same phenomenon on Debian buster, with

[code]

Chromium processes start hanging off systemd and interfering with the test suite (executing outdated javascript).

What can I do to contribute to a fix (knowing nothing about Wallaby's internals)? Having to run my test suite as `mix test ; killall chromium` does not feel like something I should be proud of, so if there's anything I can do t

[2020-11-25 21:01] SamuelWillis commented on #575
I just got back around to this and am realizing that this might be the correct behaviour.

I was mistakenly logging the query before it had been executed, thus it was showing an empty results list.

Here is a log from after the Query is executed:
[code]

It makes sense that clicking the returned element would then fail as the element is unable to be a target of click events due to the `pointer-eve

[2020-11-25 21:40] #575 closed

[2020-11-30 19:12] mhanberg opened #576 "Wallaby requires bash"
## Issue

The wrapper script that opens chromedriver currently uses bash, if you are running alpine in CI, Wallaby will mysteriously fail because alpine does not come with bash out of the box.

## Solution

The wrapper script should not require bash or there should be some documentation around this Gotcha.

[2020-11-30 19:13] oestrich commented on #576
This is the error message that comes up

[code]

[2020-12-04 03:34] #544 closed

[2020-12-04 03:34] #554 closed

[2020-12-04 03:59] mhanberg commented on #568
Closing this, please comment if you are still experiencing this issue and i'll look into it.

[2020-12-04 03:59] #568 closed

[2020-12-04 04:01] mhanberg commented on #550
For now, you can use `Wallaby.SessionStore.list_sessions_for/1` to get the current active sessions, however please remember that this is private API as of right now.

[2020-12-04 04:01] #550 closed

[2020-12-04 04:02] #557 closed

[2020-12-04 04:02] #553 closed

[2020-12-04 04:16] mhanberg commented on #423
Closing this since we don't use poolboy anymore

[2020-12-04 04:16] #423 closed

[2020-12-04 04:31] andyduong1920 commented on #557
Just an update, everything works with Mox ;), sorry @mhanberg as I forgot to Close this issue

[2020-12-04 04:54] #576 closed

[2020-12-04 05:29] #547 closed

[2020-12-04 05:29] #548 closed

[2020-12-04 05:29] #565 closed

[2020-12-04 16:02] #561 closed

[2020-12-10 02:35] Maxim-Filimonov commented on #489
Hi,
Has anybody found a way to resolve this issue. We are facing it too now with latest version of phoenix and wallaby

[2020-12-15 16:19] mhanberg commented on #274
Closing due to issue being related to phantomjs, which is now removed.

[2020-12-15 16:19] #274 closed

[2020-12-15 18:01] mhanberg commented on #570
Currently, no, but that could be a new feature.

What is your use case?

[2020-12-17 13:51] peaceful-james commented on #570
My use case is a monorepo with two projects - an Elixir/Phoenix API and LiveView site running on localhost:4000 and a React SPA running on localhost:3000. I want to test full "user flows" where customers use the SPA on 3000 and staff/admin use the LiveView site on 4000. These two apps use Graphql Subscriptions and LiveView so an action by a customer may make staff view update (with no interaction)

[2020-12-17 18:14] mhanberg commented on #570
Gotcha, that makes sense.

Would something like this work for you?

[code]

[2020-12-17 18:29] michallepicki commented on #570
Hey @mhanberg @peaceful-james , until there's a nicer API, I know there are work-arounds. I think I had a test where I needed something like that, and I leveraged the fact that it is possible to use [Browser.visit/2](https://hexdocs.pm/wallaby/Wallaby.Browser.html#visit/2) with absolute paths. I had the `:base_url` set to an empty string, and to make it easier to visit appropriate base URL dependi

[2020-12-18 14:18] peaceful-james commented on #570
Thanks for the information, both of you. The application I wanted to do this for has been finished for months now and I am knee-deep in a new project.
If I ever revisit this, i will be sure to try both of your techniques (although I think i have actually tried both of them). I always found that the main problem seems to be the length/duration of Wallaby tests. Small/short tests would pass but anyt

[2021-01-21 15:30] sleepiejohn commented on #489
At the opened issue on LiveView, there is a [comment](https://github.com/phoenixframework/phoenix_live_view/issues/708#issuecomment-600740281) in which José talks about setting the test to be async false, and further a new integration facililty to help test LiveView, so you could use that instead of Wallaby when testing LV

[2021-01-26 13:27] l-vincent-l commented on #568
I have the same issue with this configuration and chromedriver 88:
[code]
I have this error :
[code]

[code]

[2021-01-29 18:47] filipevarjao commented on #365
I'm getting the same issue. It seems totally random since last week my tests were passing, and this week I'm getting
[code]

[2021-01-29 21:02] eahanson commented on #468
I had the same problem in the past, and my fix was what @PJUllrich recommended: make sure Chrome and Chromedriver are at the same version. Here's a bash script that I run as part of my apps' `doctor` script:

[code]

[2021-02-04 09:54] l-vincent-l commented on #568
It wasn’t a wallaby error, but a ubuntu error.

I had to edit `/etc/gdm3/custom.conf` and uncomment `WaylandEnable=false` and reboot.

I hope it can help someone

[2021-02-10 21:47] adkron opened #585 "`has_css?/2` is raising an exception instead of returning `false`"
## Issue

Description of the issue. Please include browser you're using (phantomjs,
chrome, etc.) elixir and erlang version and any relevant stack traces.

Chome
Wallaby: 0.28.0

## Test Code & HTML

[code]

I get a `** (Wallaby.QueryError) Expected to find any, visible elements that matched the css '#apply_discount_153' but 0, visible elements were found.`

`has_no_css?/2` works just fine. It loo

[2021-02-11 01:53] mhanberg commented on #489
I think [this](https://github.com/phoenixframework/phoenix_ecto/pull/136) should close this issue.

I'll test when I get some time.

[2021-02-22 01:17] jonleighton opened #586 "refute_has doesn't block (for async code)"
I wrote a test like this:

[code]

The element is becomes hidden via JS executing on the page.

My expectation was that if the element was present when `refute_has` first runs, it would wait for the async timeout and keep testing the DOM before raising an error. This turns out not to be true, which lead to flakey test failures.

We can do this instead:

[code]

But I find the behaviour of `refute_

[2021-02-22 01:21] mhanberg commented on #586
I believe it is deliberate, but it was written before my time. I think there has been discussion to deprecate the function entirely in favor of the method you provided, but I believe that discussion is all it's been.

[2021-02-22 01:21] #586 closed

[2021-03-12 20:00] mhanberg opened #594 "Confirm Wallaby works on Windows computers"
Related to #593

## Problem

It seems that the usage of a bash script might cause Wallaby to not work on Windows machines.

## (Potential) Solution

- [ ] Include a Windows build in CI for at least 1 item in the build matrix (probably the most recent versions of elixir and erlang
- [ ] Include a batch `.bat` file for usage on Windows computers

[2021-03-12 20:54] CallumVass commented on #594
Looks like this was brought up a few years ago, with a different .sh file: https://github.com/elixir-wallaby/wallaby/issues/102

[2021-03-13 04:12] mhanberg commented on #553
@chrisgreg I've just merged in some instructions on how to use Mox, Phoenix, and Wallaby together in harmony. https://github.com/elixir-wallaby/wallaby/pull/592

[2021-03-23 23:04] jswny commented on #530
Since it calls ExUnit code directly, this fails in releases unfortunately :/ I'm looking for a way to include ExUnit in the release to get around this currently.

[code]

[2021-04-03 17:47] btihen commented on #468
I have the same problem on MacOS X: 11.2.3 (20D91)
I installed using ASDF: cat .tool-versions
erlang 23.3.1
elixir 1.11.4-otp-23
nodejs 14.15.5
Postgres **13.2**

I have the same version of chromedriver as my browser
I couldn't get wallaby to find chromedriver in the path until I installed it locally in my project.

If there is a script to change please tell me which file to change - (I am relativ

[2021-04-21 18:26] almirsarajcic commented on #272
I've tried it with `visible: false` and it worked. Thanks.

[2021-06-02 09:05] WernerBuchert opened #597 "Wallaby.Element.attr("innerHTML") doesn't work anymore with Chromedriver 91.0.4472.19."
## Issue

Wallaby.Element.attr("innerHTML") doesn't work anymore with 91.0.4472.19 (after updating from 90.x.x.x).
I always get nil, although the element is present. The same for outerHTML.

Is there anything known that the Chromedriver in the latest version has changed in this respect?
(BTW. I also did a test with Hound, there it is exactly the same problem, so I kind of assume that the Chromedri

[2021-06-07 16:31] cysiegel commented on #597
There is a bug with the attribute selector in chromedriver v 91  - see https://bugs.chromium.org/p/chromium/issues/detail?id=1205107
hopefully they will fix it soon

In the meantime I came up with an ugly workaround to get an elements value (aside from downgrading chromedriver)
[code]

  I'm wondering if somebody else came up with something better

[2021-06-13 06:32] WernerBuchert commented on #597
Finally there is a new Chromedriver Version: 91.0.4472.101
And it work's again.

[2021-06-14 01:11] jcrevits commented on #597
Thanks for the update @WernerBuchert :)

[2021-06-14 01:17] #597 closed

[2021-06-16 16:30] jorbs commented on #57
For those using Ueberauth (I am using UeberauthAuth0), I needed to create a plug like below:

[code]

And set it in `test.exs`:

[code]

I am not sure if that's the correct way to mock, but at least it works fine in my tests.

[2021-06-16 18:15] jorbs commented on #489
@mhanberg hi, I am wondering if you had the chance to test it...

[2021-06-16 18:28] mhanberg commented on #489
@jorbs I have not. It seems that code has not yet been released to Hex either.

[2021-06-21 13:15] shulhi commented on #530
Were you able to fix this error? I'm having the same issue.

[2021-06-21 21:38] jswny commented on #530
Yes! It's probably a bad solution, but I start ExUnit in my releases like so:
[code]

This is the only solution I could find :/

[2021-06-22 19:18] jorbs opened #598 "Tests are failing on Heroku CI"
## Issue

All my wallaby tests are failing on Heroku CI, but they run just fine in my local.

To debug the error I tried to check the browser file log with `js_logger` option enabled (it results in a empty file) and viewed the screenshots (all of them are blank images).

The error in Heroku CI:
[code]

## Details

Elixir: 1.12.1
Erlang: 23.1.4
OS: Heroku
Webdriver (selenium, chromedriver, geckodri

[2021-06-22 19:24] jorbs commented on #473
@aaronrenner is that a duplicate https://github.com/elixir-wallaby/wallaby/issues/598?

[2021-06-23 11:40] jorbs commented on #598
I've fixed this! The error was happening because I forgot to compile the assets.

[2021-06-23 11:40] #598 closed

[2021-07-12 18:05] marcandre opened #601 "Warnings on compilation"
With elixir 1.12.1 / OTP 24, I get compilation warnings:

[code]

Let me know if you'd like a PR

[2021-07-12 18:08] michallepicki commented on #601
Sure, go for it!

[2021-07-19 20:42] marcandre commented on #601
Not checking the right version 🤦‍♂️

[2021-07-19 20:42] #601 closed

[2021-07-25 06:15] mhanberg opened #610 "Async tests are not working with selenium"
It seems like selenium is not capable of correctly running transactional async tests.

It looks like this has to do with not setting the appropriate metadata in the user-agent header before the test starts.

Discovered in #609

[2021-08-18 20:37] mhanberg commented on #610
This was fixed in #614

[2021-08-18 20:37] #610 closed

[2021-08-19 23:58] marcandre opened #619 "Misleading failure message"
## Issue

If the HTML contains two `<input>`s with the same `id`, and a `<label for="my_duplicated_id">`, then a test filling that input will fail with the following error:

[code]

Ideally, the error should state that
[code]

## Details

Elixir: 1.12.2+ (master)
Erlang: 0TP 24

Let me know if I should create a PR

[2021-08-24 06:24] michallepicki commented on #489
As mentioned in https://github.com/elixir-wallaby/wallaby/discussions/616 , things might be improved by https://github.com/phoenixframework/phoenix_ecto/commit/1d8d28a82eef1ff496851bd2fd53661398d38b99 e.g. when browser aborts AJAX requests.

[2021-08-24 06:28] michallepicki commented on #43
@mhanberg I think this can be closed?

[2021-08-24 12:38] #43 closed

[2021-08-30 15:56] aswinmohanme commented on #365
Ran into this error today around 5 feature tests. `mix test --max-cases=2` seems to make it work, even though a lot slower than running everything async.

[2021-09-09 07:54] BrooklinJazz commented on #585
Hi @adkron! I haven't contributed to the project before, so forgive me - I'm not up to date on how to submit solutions or proper processes.

I believe I fixed the problem using `has?/1` and added tests for every arity for `has_css?` and `has_no_css?`.

https://github.com/elixir-wallaby/wallaby/pull/624

[2021-09-09 09:10] mpinkston commented on #455
@michallepicki @mhanberg @aaronrenner Hello! I'm thinking about taking a crack at this ticket (hoping to use Wallaby in conjunction with AWS DeviceFarm) and had a question about the existing `web_driver_client` dependency; though the library itself seems designed for handling the abstraction between JWP and W3C, it currently only appears to be used in the ChromeDriver ReadinessChecker. Moving forw

[2021-09-09 09:38] michallepicki commented on #619
Hi! I think the results might be different depending on the webdriver, not sure if all of them happily return multiple results when asked for an element with some ID. I agree that the message could be improved.

I would propose trying to re-use the existing "infrastructure" for generating query result errors first, (generic expected ... but found ...) - it may be posible to use that instead of wri

[2021-09-09 09:49] michallepicki commented on #455
Hi! I found it a bit tricky to provide a unified abstraction over both versions, but there is overlap. I personally would make sure to get both separate implementations right first. Maybe @aaronrenner can speak a bit more about the state of `web_driver_client`?

[2021-09-10 03:55] mpinkston commented on #455
That makes sense. I think I'll try something along the lines of defining behaviours for each protocol and using adapters to implement them which can then make web_driver_client an optional dependency

[2021-09-10 07:38] #585 closed

[2021-09-14 16:08] sodapopcan opened #626 "Phoenix 1.16 defaults the test endpoint's server to `false`"
In Phoenix 1.16-rc.0, the `server` option in the endpoint config is now `false` which causes Wallaby not to work.  Of course, it's still a release candidate so this may or not stick around but I thought I would report.

Here is the config in question in `config/test.exs`:

[code]

[2021-09-14 16:10] mhanberg commented on #626
That has always been false I believe. In the Wallaby docs, you are instructed to set that to true, to start the web server.

[2021-09-14 16:12] #626 closed

[2021-09-15 15:50] JohnDoneth opened #628 "The `Wallaby.Session.t()` typespec is private"
## Issue

The `Wallaby.Session.t()` typespec is private which causes issues.

We fail CI when the documentation raises warnings which occurs because the typespec is private.
[code]

I assume the spec is private as the details of the `Wallaby.Session` module should stay hidden but if there was a public `Wallaby.session()` typespec instead that could solve this problem.

[2021-09-15 15:52] mhanberg commented on #628
I have noticed this as well.

Did you start seeing this with v0.29.0?

[2021-09-15 15:53] JohnDoneth commented on #628
We are currently using version `0.28.1`.

[2021-09-15 15:57] mhanberg commented on #628
What Elixir and OTP version are you using?

[2021-09-15 16:22] JohnDoneth commented on #628
erlang 24.0.5
elixir 1.12.2-otp-24

[2021-09-15 22:41] mhanberg commented on #628
Did you happen to just update to either elixir 1.12 or otp 24?

[2021-09-16 01:38] mhanberg commented on #628
I am not able to reproduce this.

Does this happen when running your test suite? are you building docs? running dialyzer?

[2021-09-16 02:16] JohnDoneth commented on #628
Yes when running `mix docs` we encounter the above issue. We have some helper functions to work with Wallaby that have `Wallaby.Session.t()` as a spec, like the library itself.
![image](https://user-images.githubusercontent.com/3239951/133537581-fc7d99b6-235c-4584-a66c-dc659997f164.png)
 When those are documented, they raise the error because the spec is not public.

We've fallen back to using `%W

[2021-09-16 02:36] mhanberg commented on #628
Ohh, I see.

Are you using Wallaby in production? or are you building docs for your test helpers?

[2021-09-23 00:49] #628 closed

[2021-09-24 00:12] blackham commented on #569
Not sure if this is a Docker HUB v4 issue or Selenium itself (or my bad programming). It looks like it's a wallaby issue since it works with Ruby.

Here is what worked and didn't:
single selenium v4 docker instance with Ruby "selenium-webdriver"  - Good
single selenium v4 docker instance with Wallaby  - Good
selenium-hub v4 docker-compose with Ruby "selenium-webdriver" - Good
selenium-hub v4 docke

[2021-09-28 09:22] jonleighton opened #631 "Various function do not raise StaleReferenceError"
I have a test where asynchronous behaviour makes it possible that I will find an element, but then when I call `Wallaby.Element.hover/1` on it, the element has gone.

I was hoping to handle this scenario by rescuing `Wallaby.StaleReferenceError`. However, I get this instead:

[code]

This is the current implementation of `hover/1`: https://github.com/elixir-wallaby/wallaby/blob/e3e2a2f2175d959e827

[2021-09-28 13:11] padjo commented on #365
had this error
" test login  --core test (Devato.Features.IndexPageTest)
     test/devato_web/features/index_page_test.exs:13
     ** (RuntimeError) Wallaby had an internal issue with HTTPoison:
     %HTTPoison.Error{id: nil, reason: :timeout}
     stacktrace:
       (wallaby 0.23.0) lib/wallaby/httpclient.ex:37: Wallaby.HTTPClient.make_request/5
       (wallaby 0.23.0) lib/wallaby/experimental/ch

[2021-10-07 19:09] marcandre opened #641 "`at` conflicts with default `count`"
Calling `Query.at` currently almost never makes sense without having to specify `count :any` or some `minimum`/`maximum` value.

E.g.:

[code]

I feel the query above clearly intends `count: :any / nil` and it would be better if it
wasn't mandatory to specify it.

[2021-11-09 11:28] Qizot opened #648 "Error when trying to start a new session using Selenium driver"
## Issue

When using wallaby with `Selenium` driver I get the following error when trying to start a session:

[code]
Code causing the problem

https://github.com/elixir-wallaby/wallaby/blob/0fbea3e787e02283e8e2219ea71ddcc4be237e66/lib/wallaby/httpclient.ex#L148

## Details

Elixir: 1.12.3
Erlang: 24.1
OS: MacOS Big Sur 11.5.2
Webdriver: selenium
Browser (Chrome, Firefox, Safari, etc): Chrome and

[2021-12-12 14:31] goofansu commented on #501
FYI, I resolved in my case may by scrolling 1 in y axis with `Wallaby.Browser.touch_scroll/4`:

[code]

[2021-12-14 14:46] manoadamro opened #654 "refute_has timeout after >60000ms"
This has been brought over from a post on the slack channel [here](https://elixir-lang.slack.com/archives/C4H1XRC0J/p1639491885031200).

## Issue

using `refute_has` causes test to fail due to a timeout.
timeout is set to 60000ms

## Details

Erlang/OTP 24 [erts-12.1.2] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [jit] [dtrace]
Elixir 1.12.3 (compiled with Erlang/OTP 24)
OS: MacOS 11

[2022-01-11 04:01] cmititiuc opened #658 "Should `server` field in a session returned by Wallaby.Chrome.start_session contain a PID?"
Hello!

I noticed that the Wallaby.Session type dictates that the `:server` field should be a `pid` or `:none`:

https://github.com/elixir-wallaby/wallaby/blob/881b716e59033587aa6e652202f7a1e5fe9b16e4/lib/wallaby/session.ex#L10

but in Wallaby.Chrome the value assigned to that field seems to be a module name:

https://github.com/elixir-wallaby/wallaby/blob/5557024105f9311659cb3d07a378475a9f6cf25f/

[2022-01-19 17:39] rafa-dyad opened #661 "Running tailwindcss is required for some tests but breaks some others."
## Issue

Running tailwindcss is required for some tests but breaks some others.

## Details

Elixir: latest bitwalker/alpine-elixir-phoenix
Erlang:  latest bitwalker/alpine-elixir-phoenix
OS: Alpine
Webdriver , chromedriver
Browser chromium
Local or CI:  CI, codefresh running a bitwalker elixir image

Essentially, the issue is that adding tailwindcss makes some test fail, but it seems to be essen

[2022-01-26 11:32] bapti opened #669 "How to ignore JS errors?"
## Issue

I'm using chromedriver/wallaby to view a webpage but it's throwing back an error from javascript. I don't really care that the page is erroring, I just want to get the HTML back from the session.

[code]

My Wallaby code is as follows, I've included `js_errors: false` which I thought would ignore the errors

[code]

Any help would be much appreciated, thanks so much!

## Details

Wallaby

[2022-02-11 17:54] onelesd commented on #365
@mhanberg @aaronrenner @aarongraham

Sorry to @ you all, but I'm wondering if there is interest in merging `ar-chromedriver-pool`? The branch isn't really usable today because it's deps are so far behind.

Would you accept a PR merging that branch with `main`?

[2022-02-21 04:14] jonleighton opened #671 "Wallaby can't fill in an input that is implicitly associated with its label via nesting"
`<input>` elements may be nested inside a `<label>` element, and in this case the association is implicit and a `for` attribute is not needed on the `<label>`. [Example from MDN](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label):

[code]

Wallaby doesn't support this use case, at least when selecting an option in a radio list. It raises this errors:

[code]

[2022-02-26 17:28] CallumVass commented on #594
Sorry, I resorted to using it via WSL which resolved the issue for me.

[2022-03-30 09:50] agatheblues opened #679 "`assert_text("foo")` VS `assert_has(Q.text("foo"))`"
## Issue

Hello! I had a working feature spec for creating a resource. I added a step in the resource creation, enqueuing a worker. Then suddenly the feature spec failed to pass, although the user flow and views are unchanged.

The test would go like this:

[code]

and fails on the `assert_text` line with:

[code]

There's a screenshot output with the failure, that clearly shows that the `"Foo cre

[2022-03-30 18:07] james-the-elixir-guy commented on #569
The error described in the OP-linked elixirforum discussion is actually fixed by an existing PR:
https://github.com/elixir-wallaby/wallaby/pull/649

I'm not sure if this PR can be merged or not but it would be great if it could.

[2022-04-04 18:26] albertoramires opened #680 "invalid session id when running as scraper on Heroku"
## Issue

invalid session id when running as scraper on Heroku, running fine locally, visiting https://google.com or JSON endpoints runs just fine, which makes me wonder if it's a JS issue killing the session, but why would it do that even with `js_errors: false`? 🤔
Maybe related to: https://github.com/elixir-wallaby/wallaby/issues/473

## Details

Elixir: Elixir 1.12.3
Erlang: Erlang/OTP 24
OS: H