[2016-03-27 02:11] keathley opened #10 "Update documentation"
The modules docs and stuff need to be updated / included.

[2016-03-27 02:12] keathley opened #11 "Update README"
The README needs to be updated to include quick start information, info on the DSL, test examples, etc.

[2016-03-28 17:01] #10 closed

[2016-03-28 17:01] #11 closed

[2016-03-29 20:04] bomatson opened #13 "Methods for not-finding nodes or content"
In order to help write specs where nodes are removed from the DOM, we could use a method where it resolves when the pattern is not found. This would kinda be the opposite of find(pattern, count: x)

Wishful use case:

[code]

Where a failing spec would be like:

`Expected to find 'new-object' with count 0 but found 1 node`

[2016-03-29 20:05] bomatson opened #14 "Allow "text" to receive more than one node"
it would be nice to have some way to have a collection of wallaby nodes be able to return a blob (or array!) of text:

[code]

[2016-03-29 20:11] bomatson opened #15 "Ambiguous matches"
We noticed some ambiguous match problems when using #find for an element - it will timeout instead of returning an error:

[code]

[2016-03-29 20:17] bomatson opened #16 "[BUG] Session does not load"
When using boilerplate instructions & trying to find an element on the page, the page was never fully rendering (in Allocations, we captured screenshots of the "Loading" page):

[code]
 It seems like a setup issue, and the bug starts via this commit: https://github.com/keathley/wallaby/commit/f1bcc4618853be80da7c29e5dd03a81baf5bc595

[2016-03-29 20:23] bomatson opened #17 "Return order from `find` is inconsistent"
The #find method for a given selector which returns more than one result; it may not return these elements in the strictly-same order (expected to always be ordered by the DOM). This was our work-around:

[code]

[2016-03-29 21:41] bomatson commented on #16
This may be an issue with my env, we were able to get this working on Eric's box. Will post here if it warrants further investigation

[2016-03-29 21:41] #16 closed

[2016-03-29 21:42] eiseneker opened #18 "fill_in appends content instead of replacing it"
When interacting with a form and filling in a form field which already contains pre-existing text, fill_in appends to the content.

Given a form field with an input containing a value "Foo"

[code]

The input field will have "FooBar" as its value

[2016-03-30 02:27] #18 closed

[2016-03-30 02:34] keathley commented on #15
So this returns a `Wallaby.ElementNotFound` error? Or does it not actually catch the error correctly?

[2016-03-30 02:39] keathley commented on #14
You can achieve the same thing this way:

[code]

[2016-03-30 02:43] keathley commented on #13
Would a matcher like `has_no_css?` work? The goal of this method is to assert that the node isn't visible or isn't present on the page right? It would kinda make sense to me that it should be a predicate if thats the case. Under the hood it could use the same retry logic that finding does to block until the element has been removed.

[2016-03-30 14:06] eiseneker commented on #13
That works! :+1:

[2016-03-30 14:10] eiseneker commented on #15
Actually, looks like the behavior may have changed in the last day or so? We journaled this problem on Monday, but now it returns a Wallaby.AmbiguousMatch error in those cases, which is great. Good to close this.

[2016-03-30 14:10] #15 closed

[2016-03-30 14:44] keathley commented on #13
Opened a PR to support this

[2016-03-31 13:04] #13 closed

[2016-03-31 15:34] sevenseacat opened #23 "`Wallaby.DSL.Navigation` does not exist"
Mentioned in README:

[code]

Should be either `Wallaby.Driver.visit` or `Wallaby.Session.visit`? (they're the only two `visit` methods present)

[2016-03-31 15:41] keathley commented on #23
Good catch! That was copied over from a previous version of the api. It should be `Wallaby.Session.visit`

[2016-03-31 15:53] sevenseacat opened #25 "Issue getting up and running"
Pretty sure I've followed everything in the README and got up to actually writing some tests; but running into issues. I'm seeing this error:

[code]

And then after 60 second the test times out and fails. The first `visit` is fine, but inspecting `text(session)` in the IEx.pry returns an empty string. Something is missing either in my configuration, or in the setup steps, and I'm not sure what it

[2016-03-31 16:24] #23 closed

[2016-03-31 16:26] keathley commented on #25
Thanks for pushing up the test app. I'll take a look at it.

[2016-03-31 16:40] keathley commented on #25
so `text/1` takes a `Node` and not a `Session` which is why you get an empty string. The actual errors that you're getting are from your `ConnCase` test case: `Ecto.Adapters.SQL.restart_test_transaction(Forum.Repo, [])`

`restart_test_transaction` isn't supported in ecto beta 2.

[2016-03-31 19:59] eiseneker opened #26 "Wallaby.Node.find can return invisible elements"
This test will fail based on existing elements in page_1.html

[code]

[2016-03-31 21:50] keathley commented on #25
I'm going to close this for now since it seems like its an unrelated problem. If you still have issues feel free to re-open.

[2016-03-31 23:48] sevenseacat commented on #25
I might have to re-open it because my acceptance tests aren't using that ConnCase - my AcceptanceCase helper has the correct line:

`:ok = Ecto.Adapters.SQL.Sandbox.checkout(Forum.Repo)`

And the error persists (even after I update the ConnCase).

I'll take another look at it this evening, I may have out-of-date something else in there causing problems.

[2016-04-01 04:07] #26 closed

[2016-04-01 13:03] sevenseacat commented on #25
Would you be able to push up a sample app using the gem and having a test running? I've tried recreating a Phoenix app using the latest version of everything and no matter what I do, I can't shake this `[error] Postgrex.Protocol (#PID<0.294.0>) disconnected: ** (DBConnection.Error) ownership timeout` error.

[2016-04-01 15:20] AndrewIngram opened #29 "Potential for confusion with wallaby.js"
Wallaby.js is a test runner for JavaScript that's been around for a while (relatively speaking), there's big potential for confusion here.

http://wallabyjs.com/

[2016-04-01 16:03] keathley commented on #25
I've dug into this a bit more. It is a Wallaby issue. The problem is that if there isn't a max_wait_time set then Wallaby never times out looking for the elements on the page. Eventually that manifests as a ownership error because we've held ownership for too long.

The quick fix is to add: `Application.put_env(:wallaby, :max_wait_time, 3_000)` to your `test_helper.exs`. That will cause you to see

[2016-04-03 02:11] keathley commented on #25
This has been resolved in #32

[2016-04-03 02:11] #25 closed

[2016-04-03 02:13] keathley commented on #29
Thanks @AndrewIngram. I'd never heard of WallabyJS before this. I'm not opposed to changing the name if people have other suggestions. Originally I choose Wallaby because it followed the same theme as Capybara. I guess I should have done some extra research.

[2016-04-03 02:37] tokafish commented on #29
Personally, I don't think it's confusing - one tool is for Elixir, and one is for javascript. Happy to acknowledge the existence of Wallaby.js on our homepage/docs if we ever get that far :)

[2016-04-03 15:18] keathley commented on #14
For now I'd rather be more explicit with lists. I'm happy to revisit this in the future.

[2016-04-03 15:18] #14 closed

[2016-04-16 20:20] #29 closed

[2016-04-20 15:42] paulcsmith opened #35 "Visit should throw an error when loading fails"
I forgot to add `server: true` to my endpoint so when I attempted to visit the page nothing was rendered. The `visit` did not fail though, it continued on as if it loaded.

I think that if loading fails it should raise. It would be extra cool if the error message said something like this:

[code]

[2016-04-20 15:45] paulcsmith opened #36 "Attempting to visit without setting the base_url should raise an error"
At first, I missed the instructions for setting the base_url. So when I did `visit("/my_path")` it did not visit my app.

I think that if you use relative paths without a base_url an error should be raised

[code]

[2016-04-20 15:53] paulcsmith opened #37 "Should take_screenshot return a session?"
I tried this while debugging

[code]

But it failed because `take_screenshot` did not return a session. I think it would be pretty cool if it returned a session so debugging with screenshots would be a bit simpler

[2016-04-20 15:57] paulcsmith opened #38 "Include what failed in failure messages"
So if you call `click("Submit")` and it fails:

[code]

Would be extra cool if it found all the link text on the page and used `String.jaro_distance` to find potential mispellings.

[code]

It could potentiall work the same for CSS

[code]

If you spelled it wrong

[code]

These problems come up a lot so these error messages would be insanely useful!

[2016-04-21 14:11] keathley commented on #38
I *love* this idea.

Some things that come to mind that we'll need to address:

* Each finder will have to know how to do a generic search for any matching types. For instance links have to know how to look for all links, css finders have to find all nodes with matching css attributes.
* Finding css could be tricky if its a nested selector. I'm thinking of something like `.foo .bar .my_css`.
* We'

[2016-04-21 14:20] keathley commented on #37
Currently we return a `%{session: session, path: path}` where the path is the path to the screenshot. It probably makes more sense just to return the session since I think that most people are going to treat taking screenshots as a side-effect and not as something that they want to get the screenshot itself from.

[2016-04-21 14:21] paulcsmith commented on #37
Yeah I think you're right about that!

[2016-04-21 14:22] keathley commented on #36
This seems like a great idea to me. Should be simple enough to implement. Just check for a relative path and then throw the exception if there is no base_url.

[2016-04-21 14:24] paulcsmith commented on #38
I'm glad you like the idea. That seems like a good analysis to me. I agree that the "did you mean" should be scoped to the node and not the whole page when a node is given.

Nested CSS selectors might be tricky. If it's too hard then you could skip "did you mean" if the selector is nested (has any spaces). That way people at least get the benefits for non-nested CSS selectors?

[2016-04-21 14:28] paulcsmith commented on #37
If later on you did want to let people do something with it, you could add another key to the session map/struct for `screenshot_path`. That way it's chainable, but could also be used to get the screenshot path

[2016-04-21 14:40] keathley commented on #35
This one is slightly tricky. The relevant webdriver endpoint info is here: https://www.w3.org/TR/webdriver/#dfn-get. We'll need to see if Phantom actually behaves according to the spec or not. If it is then we should be getting an error back from Phantom. If its not then we'll have to find an alternative solution.

[2016-04-21 14:42] keathley commented on #37
I think the best thing to do is to add a `screenshots` list to the session and then push the screenshot path into the list. That way you can keep track of multiple screenshots during a session.

[2016-04-21 18:25] keathley commented on #38
I think thats probably fair. Lets start by just checking for alternatives for single selectors and for text. I think that allowing for nested selectors is going to be more of a time investment and I'd like to start experimenting with this feature.

[2016-04-23 03:22] #37 closed

[2016-04-23 03:44] keathley commented on #37
I'm going to push a new release soon which should include this fix.

[2016-04-24 02:36] #36 closed

[2016-04-24 02:56] keathley commented on #36
This is in the latest release (0.5.0). Thanks again for the suggestion!

[2016-04-25 13:17] paulcsmith commented on #36
Woo hoo! Thanks for releasing so fast. That's awesome :D

[2016-04-25 14:48] keathley commented on #35
I did some more research into this. The short version is that phantom is behaving "as expected" by not returning an error. This sorta makes sense. A 404 page still "loads" successfully. Its just that the page doesn't exist. I think that there is a couple of other ways to handle this.

If we just want to remind the user to enable their server then we could look for that configuration flag if its a

[2016-04-28 18:49] zolrath opened #43 "Simulate Drag and Drop Between Elements"
It would be nice to be able to test drag and drop interactions with wallaby easily by specifying a selector to drag and the selector it should be dropped upon.

[2016-04-28 18:53] zolrath opened #44 "Simulate Drag and Drop From Filesystem"
I've split this into its own issue as from what I've read its a harder issue to solve.

It'd also be very nice to be able to test drag and drop file uploaders by allowing us to easily specify that we've dropped a file onto a specific element.

[2016-05-04 03:35] keathley commented on #43
What sort of api were you thinking about for this? I'd be interested to see a sample implementation. Otherwise if this is an issue you're facing right now you can always use `execute_script/2` and just do drag and drop directly with JS.

[2016-05-04 03:45] keathley commented on #44
I'm not sure what an implementation for this would really look like. Just thinking through some ideas. One way to simulate drag and drop file uploads would be to first create a new input file in the DOM, attach a file to that new input node, and then simulate the required drag and drop events.

I'm not sure if that solution would work for all drag and drop file uploaders though. And there is proba

[2016-05-04 08:00] follmann opened #47 "Button presses via click("<button-name>") don't register"
At least it didn't work for me, although my buttons had similar markup to the ones in `test/support/pages/forms.html`, then again there seems to be no test coverage for it either.

I wrote an xpath that is able to find the possible range of buttons with inspiration from Capybara.

An implementation similar to `click_link` (and as I use it) would be:
[code]

If desired, I can create a PR.

[2016-05-04 14:40] keathley commented on #47
I'd love to get a PR for this! Would something like `click_button` or `click_on` make sense?

[2016-05-04 14:45] follmann commented on #47
Sure, would make it more consistent. Alright, I will put sth together over the next days!

[2016-05-04 19:23] zolrath commented on #43
I would think it would be nice to separate the drag and drop actions to allow partial application for reuse.
[code]
This way you could save off everything before the drop into a function and call it with a new drop target easily for multiple tests.

[2016-05-05 13:16] josdotso opened #48 "REST API testing"
Hello.  I'm wondering if it makes sense to use Wallaby for REST API testing where browser testing is also needed.  Doing QA (end-to-end acceptance) testing in a standing environment with a single tool has many advantages, particularly if that tool features parallelism. Thanks!

[2016-05-08 02:12] #47 closed

[2016-05-09 14:39] keathley commented on #48
I'm definitely not opposed to this. We already include httpoison as a dependency so we could expose some basic helper functions to do rest calls. However, its not a high priority for me at the moment. I'm still working on a few pieces of the API. If you would like to submit a PR I'd be happy to take a look at it though.

[2016-05-31 10:52] jaimeiniesta opened #51 "fill_in doesn't find elements by ID or label"
Hello, I have a signup form:

[code]

Then, on the Wallaby test, I try to fill the inputs (Name, Email, Password). I've tried this:

[code]

and also this:

[code]

But both will fail with:

[code]

I could make it work with the name attribute:

[code]

I'm on Elixir 1.2.5, Phoenix 1.1.4, Ecto 1.1.7, Phantomjs 2.1.1.

[2016-05-31 15:09] keathley commented on #51
Thanks for submitting this. I'll take a look asap. There is probably an issue with the xpath.

[2016-06-01 03:25] DavidVII commented on #51
I'm curious regarding the label issue here. Shouldn't the `<label>`'s have a `for` attribute with the ID of the input field? For example:

[code]

[2016-06-01 08:56] jaimeiniesta commented on #51
@DavidVII you're very right, I forgot the `for` attribute. And with it, it now works finding them by the label :)

I've also found that it finds elements by ID, it's only that you should not append the "#", like:

[code]

So, I'm not sure if this is a bug. In any case, the [README](https://github.com/keathley/wallaby#interacting-with-forms) needs an update on this, in the example a "#" is used.

[2016-06-02 00:39] keathley commented on #51
@DavidVII Good catch. :tada:

@jaimeiniesta: Looks like the README is wrong. The original reason for using the id selector was that it matched the field names generated by phoenix form helpers. For instance if you were building a form for a User and that User has a `first_name` key, you could just say `fill_in("user_first_name", with: "Chris")`. The README and other documentation should be updated

[2016-06-02 07:52] jaimeiniesta commented on #51
@keathley thanks for the explanation. It makes sense that when you're looking to `fill_in` an input, you look for it by its label or `name` attribute.

However, as `find` lets you find elements by their CSS selector, it looks a bit inconsistent to me that I can't also `fill_in` elements by their ID. I'd expect `fill_in('#user_first_name', with: "Joe")` to find the element (but, using the exact mat

[2016-06-02 08:00] jaimeiniesta commented on #51
After checking out [how Capybara does this](https://github.com/jnicklas/capybara/blob/master/lib/capybara/spec/session/fill_in_spec.rb), I've seen that it's just like Wallaby :)

I guess it makes sense, `find` uses strict CSS selectors, but `fill_in` is more lax and can do a litte bit more magic to guess what input you're referring to. In that sense, you don't need to specify an exact CSS selector

[2016-06-02 14:25] keathley commented on #51
A lot of Wallaby's api was inspired by Capybara. But I'm not opposed to deviating from that api. I've gone back and forth on the id selector for fields as it tends to create confusion. I think part of the problem is that the documentation is misleading. We really aren't allowing fields to be filled in by their id. We're allowing them to be filled in by their, "generated by phoenix form helpers key

[2016-06-02 16:02] DavidVII commented on #51
Regarding the helpful error message: If we're allowing folks to find a field by it's name, id or label text, then maybe an error to say something like:

This way the error tells you what the API expects. I believe capybara does something similar.

Also, allowing the octothorp (`#`) would be a nice. I feel that writing any of these should work:

[code]

Just my two cents 😄

[2016-06-02 20:57] keathley commented on #51
@DavidVII That verbiage seems good.

My fear with including the `#` as a part of the query is that it will lead to confusion about using css selectors when interacting with form elements. It might encourage people to attempt to use class selectors for instance. I'd like to avoid encouraging the use of css selectors to find form fields.

Feature tests tend to be brittle because presentation and sty

[2016-06-03 01:55] 1ternal commented on #51
same issue here. 😢
I'm on Elixir 1.3.0-rc.0, Phoenix 1.2.0-rc,  Phantomjs 2.1.1.

[2016-06-03 03:42] keathley commented on #51
@1ternal: did you read through the comments in this thread to see if they fix your issue? Or is it something else?

[2016-06-03 03:44] DavidVII commented on #51
@keathley good points about the id 👍

[2016-06-03 09:20] 1ternal commented on #51
@keathley
fill_in with css id not working 😢
`user_name` and `user[name]` works fine 😄

`click("Button Name")`  not working ⛔
`click_button("Button Name")` worked 😸

[2016-06-03 14:13] keathley commented on #51
The id selector doesn't work with the `#` by design. Based on the discussion in this thread we're going to update the documentation and work out some more descriptive errors to reduce this confusion.

`click_button` allows you to specify a buttons text. `click` is the underlying function used to click any node and doesn't do any searching based on text. I'm working on a refactor that should help r

[2016-06-03 14:13] #51 closed

[2016-06-07 11:12] erickhsiao opened #52 "Is it possible to write test without setup?"
Hi. is that possible to write test like :

[code]

without setup, and also skip

[code]

in ConnCase.

thanks.

[2016-06-07 13:58] keathley commented on #52
your setup gets a `context` passed to it which includes the tags for the test. So if you wanted to selectively run pieces of your setup you could do something like this:

[code]

You can read more about it in the docs here: http://elixir-lang.org/docs/stable/ex_unit/ExUnit.Case.html. Hope that helps. I'm going to close this since its not specifically an issue with Wallaby :+1:

[2016-06-07 13:58] #52 closed

[2016-06-16 09:01] rickclare opened #53 "Accessing the "head title" element"
I'm trying to access the `<title>` element in a HTML document, so that I can assert its contents, but I'm not having any luck.  Is this possible with Wallaby at the moment?

I've tried the following:

Given the following html snippet from a "home-page":

[code]

And the following tests:

[code]

2 out of 3 tests fail:

[code]

[2016-06-20 02:01] keathley commented on #53
@rickclare Thanks for submitting this.

The issue here is that `text` only returns what webdriver believes to be "rendered text" (meaning text that is visible to the user). Since the title isn't considered rendered text it returns an empty string. But, we can get the title directly from webdriver. I have a PR to add this here: https://github.com/keathley/wallaby/pull/54. I just need to clean it up

[2016-06-20 06:25] rickclare commented on #53
That's great @keathley, thanks for super quick response. The rest of Wallaby is working really brilliantly for us, keep up the good work!

Let me know if you need help testing PR#54

[2016-06-20 21:07] rickclare commented on #53
@keathley Thanks for sorting #54

I've just tried out the master branch and my tests are now working.  I'm happy for you to close this issue, unless you've got anything more to add?

Thanks again.

[2016-06-20 21:10] keathley commented on #53
This has been released with 0.6.0. Lemme know if you have other issues.

[2016-06-20 21:14] #53 closed

[2016-06-24 06:44] lukerollans opened #56 "Wallaby cannot find a button"
Hi there! First time using Wallaby on my first Phoenix app. I've written my first acceptance test but have run in to an issue I can't resolve on my own

It's very simple.. filling out a form to register a user.

#### The form
[code]

#### Acceptance test

[code]

#### Error

[code]

Seems that Wallaby cannot find the "Submit" button (line 15). I've tried using an ID, scoping a `find` to the `actio

[2016-06-27 17:17] keathley commented on #56
With the current version of the api you have to use the `click_button` helper. click is designed to work on Nodes directly. In the next release you actually won't be able to call click without the module name (`Node.click`) which should eliminate this confusion. Can you try again with the `click_button` helper?

[2016-06-28 03:46] lukerollans commented on #56
@keathley when I try as you suggest, I'm getting `undefined function click_button/2`

Have I used it correctly?

[code]

[2016-06-28 04:29] lukerollans commented on #56
Ah, I was using Wallaby `0.5.0`. `click_button` was introduced in `0.6.0`

[2016-06-28 04:33] #56 closed

[2016-06-28 16:07] keathley commented on #56
Glad you got it sorted. :+1:

[2016-06-29 10:31] lukerollans opened #57 "Playing nice with authentication"
I can't seem to get Wallaby playing nicely with authentication. I'm using [Guardian](https://github.com/ueberauth/guardian) to handle sessions and authentication, which is obviously done through a `conn`.

Should I ...

1. Use a helper to step Wallaby through navigating to my login form, logging in and return the altered session
2. Or; is there a way that Wallaby can play nice with a separate `con

[2016-06-29 15:01] keathley commented on #57
This is a great question @lukerollans. Currently the best way to handle it is to write a helper that will go through the login steps for you. This is my preferred approach because it imitates how real users interact with your app.

You could do something like this:

[code]

We can't expose the conn in the test, since all of that is going to be driven from the browser. But we could give you access

[2016-06-30 03:08] lukerollans commented on #57
@keathley as I thought, thanks for taking the time to reply

[2016-06-30 03:08] #57 closed

[2016-07-01 10:16] lukerollans opened #59 "Unable to chain `fill_in`?"
Slightly related to a previous issue, I'm trying to create a helper that steps through user sign in's.

`Esteem.UserHelper.sign_in/3` is only ever invoked from another module which is using `AcceptanceCase`

[code]

When it runs, I get the following error

[code]

It seems that the second `fill_in` (in this case, "Password") is getting a clause error.. and I honestly have no idea why.

Here is ano

[2016-07-01 14:40] keathley commented on #59
No worries @lukerollans :)

It looks like your `password` argument in your `sign_in` helper is coming in as a char list:

[code]

`fill_in` expects a binary and enforces that with a guard clause. Hence why you would be getting a "no clause" error. I suspect that if you change your password to a string it'll solve the problem. If that doesn't work could you post the html as well so I can try runnin

[2016-07-02 07:15] lukerollans commented on #59
Definitely shows how new I am to Elixir :) Thanks again!

[2016-07-02 07:15] #59 closed

[2016-07-09 09:22] fredwu opened #67 "`click_link` does not work with `method: :delete` links"
Hi,

I am trying to use Wallaby to test the user session flow, it's a Phoenix app. So for the sign out, the EEx looks like this:

[code]

Unfortunately this doesn't appear to work. Use `take_screenshot` I can see that the link is not getting clicked.

If I change the implementation to either:

[code]

Or:

[code]

Then the test works.

Also, the Phoenix JS is included correctly, and JS is being ex

[2016-07-09 10:31] fredwu commented on #67
After some investigation this appears to be a phantomjs limitation...

Poltergeist seems to be getting around the issue by lots of [custom JS](https://github.com/teampoltergeist/poltergeist/blob/6fb4c31efa62add0eec1bf20fe658da5ead10937/lib/capybara/poltergeist/client/browser.coffee#L280-L302).

Closing this for now.

[2016-07-10 03:32] keathley commented on #67
@fredwu Do you know if this is because of an issue with the phoenix javascript and phantom? Or is it just one of the many other issues in phantom ;)

I know that we can't currently support alert interactions which may be causing issues.

[2016-07-10 04:40] fredwu commented on #67
Seems to be the (in)ability for Phantomjs to handle the click event: http://stackoverflow.com/questions/15739263/phantomjs-click-an-element

Phoenix HTML's relevant snippet:

[code]

[2016-07-10 15:22] keathley commented on #67
I'll test some more. Its possible that we can create a work around for phantom.

[2016-07-12 08:02] Thau commented on #67
I sent a pull request with a workaround to fix this issue. It's rough, so please test it first :).

[2016-07-26 13:18] lukerollans commented on #67
I came across this issue previously myself and learned that it was indeed a limitation of Phantom, so I went another route to ensure test coverage. I would love to go back to a `DELETE` link.

[2016-07-26 20:16] keathley commented on #67
Thanks for working on this @Thau! This has been fixed upstream in phoenix. This issue should be resolved if you update phoenix_html to 2.6.2.

[2016-07-27 02:36] lukerollans commented on #67
Confirming! 🎉

[2016-07-27 07:09] Thau commented on #67
Also confirming. This is great :)

[2016-07-27 07:45] fredwu commented on #67
Interesting, did you have to adjust anything else other than the `phoenix_html` dependency upgrade? It's still breaking for me for some reason... 😂

[2016-07-27 08:30] lukerollans commented on #67
@fredwu Nope, just made sure `phoenix_html` was up to date!

[2016-07-28 00:20] fredwu commented on #67
@lukerollans Thanks! It turned out to be `node_modules`... :trollface:

[2016-08-08 17:21] stevegraham opened #74 "HTTPoison timeout"
I'm having some tests fail intermittently because of a HTTPPoison timeout error. Would you be open to setting the HTTPoison timeout to `:infinity` as ExUnit.Case already has a configurable timeout with a default?

EDIT: Adding some more information.

- This only happens when running my Wallaby tests on their own, e.g. `mix test test/features`
- It's always the first or second test.

This makes me

[2016-08-08 21:41] keathley commented on #74
There are a couple things that could be causing this. It *shouldn't* be possible to checkout a phantom before its started. A more likely solution is that its the phoenix server booting up / building assets. I'm not opposed to setting a longer timeout for httpoison though. Its probably better to return a more meaningful error from Wallaby anyway. Either way it would be worth digging into a bit to s

[2016-08-11 21:45] stevegraham opened #75 "File upload?"
Has file uploading been implemented in Wallaby? I looked but didn't see anything that would match a file input in xpath.ex nor did I see anything in the docs to indicate support.

[2016-08-12 03:05] stevegraham commented on #75
I ended up hacking this up for my test case like this and it works great.

[code]

Would you be open to a PR… Done properly like the rest of the DSL of course! 😂

[2016-08-12 19:45] aaronjensen commented on #74
We hit this too due to webpack building assets.

[2016-08-12 19:52] aaronjensen opened #76 "phantomjs path should be configurable"
We are working around it for now by setting `PATH` explicitly, but it'd be nicer/easier if it were just configurable.

[2016-08-13 03:50] keathley commented on #75
This would be great. Would love to see a PR :+1:

[2016-08-15 14:46] keathley commented on #74
Would you mind submitting a PR for this? I won't be able to get to it for a few days.

[2016-08-16 02:02] steve0hh opened #79 "Support for getting page session source"
Was wondering if you guys are ok with adding an addition API to get the page source.

This would aid developers that would like to stick with their preferred DSL like [floki](https://github.com/philss/floki).

I already have the function working in my fork of this project but would need some guidance in writing the tests. (where to place them etc..)

Example of the proposed API:

[code]

[2016-08-16 02:05] steve0hh commented on #74
I've had this error and made a fork of this project.

Basically i did the following:

[code]

Essential just setting both poison options : `[timeout: :infinity, recv_timeout: :infinity] `.

It solves the timeout issue.

If you guys are ok, I could submit a PR.

[2016-08-16 12:22] keathley commented on #74
Please do.
On Mon, Aug 15, 2016 at 10:05 PM steve <notifications@github.com> wrote:

[2016-08-16 13:56] keathley commented on #79
Thanks @steve0hh. A PR for this would be great. If you wanna submit what you have I can take a look and we can talk through any missing details.

I'm also curious to know a little more about how you're using floki. Is it specific to your use case? Are there specific pieces of functionality that are missing from Wallaby? Or is it just easier to manage then Wallaby's DSL? Looks like a cool project!

[2016-08-16 15:13] keathley commented on #76
This should be fixed in on master. I'll push a new release out once the fix for #74 has been merged.

Let me know if you have any issues.

[2016-08-16 15:31] steve0hh commented on #79
No problem. I am pretty new to the elixir.

I need to build a automation tool that does some scraping.

Was thinking if this was a good use case. 😄  however, there's some issue with phantomjs not being able to render some of the sites I need to scrape. I might need to use selenium.

[2016-08-16 15:48] keathley commented on #79
Are they sites that use a lot of JS? They may be using new JS that phantom doesn't understand (and throwing errors) or they may just be taking a long time to load. I'm not sure if floki is doing any blocking but my suspicion is that it isn't. You can try the same query with the Wallaby DSL first which will block until the element appears on the page and see if that fixes your issue.

[2016-08-16 15:49] #74 closed

[2016-08-16 16:07] #76 closed

[2016-08-16 16:08] steve0hh commented on #79
Yes. It's basically an entire page driven by emberjs. (My FYP project)

I tried it too. It seems to be the problem with `phantomjs` not wallaby.

Things I did:
- Suppressed the javascript errors (Complaining about a module not being able to load)
- Set timeout to infinite
- Used the `find()` (Couldn't find element)
- Took a screenshot and found out that the javascript wasn't running correctly

Ano

[2016-08-16 17:29] keathley commented on #79
I'd double check the error in your page. It could be a red herring but you might need a polyfill or something like that for phantom. Thanks for the PRs

[2016-08-17 02:41] #75 closed

[2016-08-19 09:59] lukerollans opened #85 "Unreliable, multiple acceptance tests when async is on"
Hey there!

I've been experiencing this for a while, but given it isn't important I haven't opened an issue. I consistently get timeout issues (and sometimes other, seemingly unrelated error messages) when I run my acceptance tests asynchronously using the `async` option.

If I turn off the async option everything is green but my suite takes about an extra 3-4 seconds to run at its current size. C

[2016-08-19 15:11] keathley commented on #85
Thanks for the super detailed issue @lukerollans :+1:

So the issue here is that pool boy, which is what wallaby uses to manage phantom workers, is running out of workers. When that happens the test that is trying to check out a worker blocks until it eventually times out and fails. Luckily, @stevegraham just added a fix for this here: https://github.com/keathley/wallaby/pull/84. I just released v

[2016-08-20 05:17] lukerollans commented on #85
Yep, that did the trick

[2016-08-20 05:17] #85 closed

[2016-08-23 23:57] whw opened #86 "Clearing localStorage on each test run"
Is there a way to clear local storage for each test run? Or to specify different local storage directories?

I see that it's possible to modify phantomjs to use a different local storage path, but I'm trying to avoid tests that modify local storage from stepping on one another.

[2016-08-24 03:19] keathley commented on #86
If you just need to clear local storage after each test then you could try something like this:

[code]

There currently isn't a way to specify the local storage directory. That would be a relatively easy thing to add in the future. On the other hand it might be worthwhile to clear out local storage whenever wallaby creates a new session with phantom. There *shouldn't* be an issue doing this since

[2016-08-25 04:47] joshuataylor opened #88 "Using the action fill_in takes longer than expected to complete"
Seems that using

[code]

Takes 300-400ms to complete.

Not sure why this is.

Here is a exprof dump (note that this is in the header, so I use the full namespace:

[code]

[code]

[2016-08-25 05:45] joshuataylor commented on #88
I've got a feeling this is mostly phantomjs to blame.

[2016-08-25 18:28] whw opened #91 "PhantomJS crashing"
I have a relatively simple sign up form (the body html):

[code]

When I attempt to run this test:

[code]

I reproducibly get this output:

[code]

I have another, similar test for which this doesn't happen at all - is there something I'm missing?

[2016-08-25 18:32] whw commented on #91
PhantomJS 2.1.1
elixir 1.3.2
erlang 19.0
nodejs 6.3.1
wallaby 0.11.0

[2016-08-25 18:53] whw commented on #91
This issue seems to have resolved itself 😕

If it re-appears, I will try and capture the phantomjs webdriver log for more context.

[2016-08-25 18:56] keathley commented on #91
Sorry about that @whw :(

This isn't something that I've seen before. I'm going to close this for now, but if it occurs again feel free to re-open the issue and I'll be happy to take a look at it.

[2016-08-25 18:56] #91 closed

[2016-08-25 19:00] keathley commented on #88
Agreed. It looks like the majority of the time is spent calling into phantom (encoding, communication, and decoding). I'm not sure I know of a good way to optimize this but I'm open to some suggestions.

[2016-08-25 23:01] whw commented on #86
Thanks!

Clearing local storage can create problems with multiple testing running in parallel.  Better to just give each isolated phantom it's own local storage directory I think: https://github.com/keathley/wallaby/pull/93

[2016-08-27 03:36] joshuataylor commented on #88
What's really weird is that it looks like wallaby's find etc is slower than hound as well.

I can run a test in hound in about 1.6-1.8 seconds, the same test in wallaby takes ~3.5 seconds.

I prefer wallaby (since it's much easier, cleaner), so I've been digging around trying to find out /why/ this is.

[2016-08-27 16:34] keathley commented on #88
So here are my initial thoughts:

1) I haven't looked at the hound source in a long while but iirc wallaby does slightly more checking for visible elements and such. This seems like the most likely scenario since it requires more network calls, serialization, etc.

2) Wallaby is more resource intensive (since we're using more phantom workers) and that could account for some speed reductions. This

[2016-09-07 15:20] keathley commented on #86
Is the issue with using JS to clear localstorage that they're all using a shared directory or something? I'm not opposed to using isolated storage directories. Just wondering what the root problem is.

Sorry it took me so long to respond to this. ElixirConf had all my attention for a while :)

[2016-09-07 20:29] keathley opened #94 "Automatically convert css selectors into xpath queries"
Using css selectors is a convenient and familiar construct for web developers. However, css has limitations that make it hard for wallaby to generate efficient queries. In fact most queries require multiple round trips through the webdriver before they can be resolved. Multiple queries means a larger opportunity for race conditions or stale dom nodes. These are edge cases that we have to handle ex

[2016-09-07 20:34] keathley opened #95 "Capture JS errors and logs in the servers `handle_info` call"
Blocking each webdriver call with a call to check for js errors and logs is an expensive and wasteful process. All of this same information is sent to the server process from phantom. We should be able to capture this information using the same logging capture behaviour and then print logs to the console or throw errors in our respective test. This **should** work correctly because each phantom is

[2016-09-07 20:37] keathley commented on #88
Hey @joshuataylor I've opened 2 new issues here: #95, #94. Both should address some of these performance concerns. I'm going to close this issue for now since I'm not sure if there are any actionable steps that those other issues don't address. If you discover anything feel free to open this again or submit a new issue.

[2016-09-07 20:37] #88 closed

[2016-09-08 17:25] whw commented on #86
No problem - I hope ElixirConf was fun and engaging!

Yeh, basically each process is using the same, default localstorage directory. So clearing the directory (via JS) can be bad if another process was expecting the directory to be non-empty.

[2016-09-13 17:29] keathley opened #96 "can't call text with a session"
If you pass a session to text it returns an `Invalid command` from Webdriver:

[code]

[2016-09-19 18:32] kopchickm commented on #96
OK, I was able to get this error again when filling out a form.  Should I be doing this in a different way?

[code]

[2016-09-19 19:15] keathley commented on #96
@kopchickm I'm working on a fix for this. The root cause is that text expects a `Node`. If you wanna fix this for now you can use a specific `find` after the `click_on` like:

[code]

I have a fix for this which should be merge-able soon.

[2016-09-19 22:57] axelclark opened #97 "Winnings, winnings paid, and dues are listed for each team"
The winnings to date during the season, the amount of winnings paid, and the dues paid is listed for each team so the commissioner doesn't have to keep a separate spreadsheet and there is transparency with the owners.

[2016-09-19 22:59] axelclark commented on #97
I'm really sorry, I posted this to the wrong repo.

[2016-09-19 22:59] #97 closed

[2016-09-22 23:36] jerel opened #98 "Automatic screenshots don't appear to work"
I've added the config

[code]

to my app but when I do `assert "foo" == "bar"` no screenshot is taken. Screenshots in general do work though as adding `take_screenshot(session)` to the same test does result in a screenshot.

Let me know if there is additional debug information needed. I've just started with wallaby so it's not impossible that I'm doing something wrong.

[2016-09-23 15:22] keathley commented on #98
Sorry about that @jerel. This is a good catch. Currently Wallaby can't catch all test failures. It can only catch failures that occur through using the api. That config flag is poorly named and should probably be changed to something like, `screenshot_on_error`. I'm also working on adding a `feature` test type. That will allow us to write tests like:

[code]

The custom type will allow us to captu

[2016-09-27 01:00] keathley commented on #86
This should be fixed with #93

[2016-09-27 01:00] #86 closed

[2016-09-29 17:17] whw opened #100 "Unable to click on nodes outside of session window size"
#### Setup

We have a page where clicking on a button will cause other buttons to appear further down the page.
#### Problem

`Wallaby.Node.Find` would be unable to find the buttons that appeared further down the page. Originally I thought it was a problem with the nodes not rendering in time, but I could see >part< of buttons inside the failure screenshots.
#### Workaround Solution

Increasing th

[2016-09-29 17:58] asiniy opened #101 "Add ability to run `injectJs`"
I found [injectJs](http://phantomjs.org/api/webpage/method/inject-js.html) heavily important because it allows to use polyfills in the code. I'm working on it now

[2016-09-29 17:59] keathley commented on #100
Can you create a gist or a sample repo that reproduces this issue? Finding should scroll the element into view.

[2016-09-29 18:13] keathley commented on #101
Thanks @asiniy. I'd be interested in seeing this implementation. There's a few things that are important to consider. It seems like injectJS is specific to phantom. Currently our only communication to phantom is through ghostdriver (the phantomjs webdriver implementation). If we're going to allow for injection of polyfills and other scripts we'll also have to make sure that it works with other dri

[2016-09-29 18:18] asiniy commented on #101
@keathley [phantomjs doesn't support promises](https://github.com/ariya/phantomjs/issues/12401) - that's it. So, I need this support, because I'm writing in ES6. I tried to inject this polyfill to the webpack build (it changes `output.path` depending on the ENV), but haven't understand how to do it. Maybe you can help me with that instead (and you'll save me tons of hours btw)?

[2016-09-30 20:20] rpwatkins opened #102 "Windows"
Is there any chance this can be modified to run on Windows.  The shall script requires a bash environment, as I understand it. Could that not be replaced with a similar batch file?

[2016-10-01 02:23] keathley commented on #102
I'd love to have better support for windows. Unfortunately I don't have a windows machine to test against atm. If you want to submit a patch I'd be happy to review it.

[2016-10-06 13:03] asiniy opened #103 "Attach files via wallaby"
There is a lot of ways to interact with the forms, but I haven't found a way to interact with website by attach some files to the file fields. I think this should be implemented

@keathley WDYT?

[2016-10-06 14:38] keathley commented on #103
There is an `attach_file` action: https://hexdocs.pm/wallaby/Wallaby.DSL.Actions.html#attach_file/3.

Its included in the DSL documentation but needs to be added to the README.

[2016-10-06 16:14] asiniy commented on #103
Thx!

[2016-10-06 16:14] #103 closed

[2016-10-07 18:23] opsb opened #104 "Waiting for async code without narrowing find scope"
The advice for async code is to `find` something on the page that will be visible once the async action has completed (`find` will block for up to 3 secs by default). This works great but there's a problem in that `find` is chainable and narrows the scope of any finds further on in the chain.

[code]

The last line fails because in this scenario the textarea that it's attempting to fill in is not

[2016-10-08 09:03] opsb commented on #104
Here's a couple of the implementations implementations, happy to put a PR together if either is desired.
[code]

[code]

[2016-10-09 22:17] keathley commented on #104
I like the idea of `wait_until`. The other solutions strike me as something that could be solved by breaking up the piped operations. If you want to submit a PR for `wait_until` that would be rad :smile:.

[2016-10-09 22:24] keathley commented on #102
To add a bit more information here. What you would need to do is translate: https://github.com/keathley/wallaby/blob/master/priv/run_phantom.sh into something that windows understands.

[2016-10-13 15:03] joshuataylor opened #107 "Only start phantomjs when running acceptance tests"
When running a test case that doesn't rely on wallaby, is it possible to not start PhantomJS in this case?

[2016-10-13 15:17] joshuataylor commented on #107
Right now I just set the `pool_size` to 0.

[2016-10-18 00:22] keathley commented on #107
You can move the `{:ok, _} = Application.ensure_all_started(:wallaby)` from your `test_helper.exs` into a `setup_all` in your `AcceptanceCase` test case.

[2016-10-18 00:25] keathley commented on #101
@asiniy did you manage to get this resolved. IMO I think this is something that should be handled outside of wallaby in your specific asset setup. I'd rather focus on finishing up selenium support which will help with a lot of these issues anyway.

[2016-10-18 00:36] #79 closed

[2016-10-18 03:12] #101 closed

[2016-10-18 03:13] asiniy commented on #101
@keathley yeah, I set up my build properly, everything works. I'm closing the issue

[2016-10-18 05:21] NobbZ opened #109 "Support for multiple `Repo`s"
It seems to be quite common to have multiple OTP-Apps dealing with their own `Repo`s in in umbrella application.

According to a short talk to @keathley, this is currently not supported by wallaby.

An example of such an umbrella application is wojtekmach's [acme_bank](https://github.com/wojtekmach/acme_bank) from ExConf '16. It has a Repo at least in the sub-apps `bank` and `auth`.

[2016-10-18 05:37] NobbZ opened #110 "Better names for screenshots"
I have configured wallaby to take screenshots when something went wrong.

This was fine when only a single test failed, but when there are multiple ones failing I do have problems to assign the correct screenshot to the test.

So it would be nice if either the testsname or some info from `conn` (`"#{method}-#{path}"`) could be part of the name of the screenshot.

[2016-10-18 17:37] asiniy opened #111 "click_on "identificator", visible: false doesn't work"
subj.

@keathley I found that

[code]

[2016-10-18 17:39] asiniy commented on #110
@NobbZ it's better to allow to make `take_screenshot/2` and user will be able to pass any string he wants to it.

@keathley WDYT?

[2016-10-19 07:38] NobbZ commented on #110
This is only an option if `take_screenshot/*` is pipeable.

Still I'd like to have an option which gives me a nicely named shot on failure. This way, I do get the picture when the test actually fails. I do not need to search the test in the suite, add the function call into it and remember to delete it after fixing the test case.

Still, beeing able to give scrrenshots which are taken on purpose v

[2016-10-19 13:45] keathley commented on #110
I'm fine with adding an option to `take_screenshot` that allows the user to specify the desired name of the screenshot. It might be useful to include a timestamp after the specified name just to help reduce collisions.

I would love to make the names more meaningful. My ideal would actually be to include the test name in the screenshot along with the action. That way when something breaks you can

[2016-10-25 07:21] asiniy opened #112 "Ability to set user agent."
I have a frontend which depends on various options, like screen resolution or user agent.

I haven't found ability to mock user agent unfortunately.

[2016-10-25 18:34] texjim commented on #102
How about the following Powershell script (run_phantom.ps1)?

[code]

[2016-10-25 20:18] chowevtfy commented on #102
Using that script, we successfully tested running Wallaby under Windows. All the tests passed, but zombie processes were left behind. The powershell script is intended to prevent that, so a little bit more work is needed for this to be ready.

[2016-10-26 00:28] keathley commented on #102
You might have to pass `-Force` to the `Stop-Process` call based on this: https://technet.microsoft.com/en-us/library/hh849781.aspx.

[2016-10-26 00:44] chowevtfy commented on #102
Ah, yes, [we've tried that](https://github.com/vertify/wallaby/blob/master/priv/run_phantom.ps1#L5). You can see how we're calling into powershell [here](https://github.com/vertify/wallaby/blob/master/lib/wallaby/server.ex#L36). I think that using the `-Command` option may be causing it to spawn a second instance of powershell to run the script. l'm not sure exactly what problems that could cause

[2016-10-26 01:06] keathley commented on #102
I'm not super familiar with powershell. But, is it possible that the command is running the script, then exiting, orphaning the script? Have you tried removing the `-Command` flag?

[2016-10-26 22:47] seangeo opened #113 "console.log sent to stdout"
Hi, with the latest version of wallaby it seems that console.log output is sent to stdout. Is there a way to control this, e.g. turn it off to direct it to a file? Thanks.

[2016-10-29 22:36] Slowbad opened #114 "Stale reference"
I'm trying to use Wallaby to scrape event information from the Wizards of the Coast event locator. The locator is written entirely in javascript and I'm getting what looks to be something about stale elements. The code I've written (see below) will sometimes come back properly but more often than not I get the error at the bottom of issue.

Example url: http://locator.wizards.com/#brand=magic&a=lo

[2016-11-01 17:17] whw commented on #100
Never got around to creating a gist, and recently we updated our code that hit this and it appears the issue has gone away. Closing.

[2016-11-01 17:17] #100 closed

[2016-11-07 03:14] keathley commented on #113
I just pushed a new version (v0.14.0) that includes a `js_logger` config option. If you set that to `nil` it will disable js console logging. You can also set `js_logger` to a different IO device (like a file) and it will direct output there.

Lemme know if you have any other issues @seangeo.

[2016-11-07 17:31] #113 closed

[2016-11-08 02:32] smdern opened #116 "Http Cache isn't cleared"
I've run into an issue where cache-control is breaking some tests. Looks like `page.clearMemoryCache()` between runs

[2016-11-08 06:12] smdern commented on #116
After doing a bit more looking into this. It appears that this isn't going to be very straightforward. It looks like ghostdriver doesn't have a `clearMemoryCache()` endpoint since it's a newer feature.

[2016-11-08 06:14] #116 closed

[2016-11-08 15:52] keathley commented on #116
Sorry about that @smdern. Can you explain what the specific problem was?

[2016-11-08 17:11] smdern commented on #116
@keathley I'm running a series of tests that require some seed data to exist in the DB. I insert the models as part of each test setup, but the endpoint that returns the list of models adds a cache-control header. The problem is that the `id` that is presented is different depending on which test ran first and causes subsequent tests (which tries to insert a model that associates to those ids) to

[2016-11-08 17:15] smdern commented on #116
scenario would be

test 1
 - inserts model(uniqueName=foo returns ID=1)
 - controller returns cache-control response with model id

test 2
  - inserts model(unqiueName=foo) (returns ID=2)
  - doesn't hit controller for list of ids because of cache-control
  - tries to create model with association to the model but w/ ID=1 because of cached response
  - insert fails because entry with ID=1 doesn't

[2016-11-12 03:23] keathley commented on #114
So it looks like whats happening is that the `click_element("#event-types-list-magic li a", text: @event_name)` action is failing. Here's whats happening. The `find` command first finds all DOM nodes that match the `#event-types-list-magic li a` selector. Once it has those dom nodes it validates the other options. In this case the node has to include the text "Magic Preliminary Pro Tour Qualifier"

[2016-11-14 03:40] nii236 opened #118 "PhantomJS multiple instances still running after ctrl-c"
I stopped my test suite with ctrl-c and turns out graceful shutdown isn't implemented with regards to phantom JS instances. Roughly 10 were still alive and chugging along, killing my CPU/RAM until I noticed it.

To remove these I had to kill these one by one manually, or to run the test suite again from start to finish.

Is there any way to kill phantomJS instances on an interrupt signal during ru

[2016-11-14 16:19] keathley commented on #118
Graceful shutdown *should* be working. Can you give me some more info about the platform you're running on, etc.?

[2016-11-15 01:06] nii236 commented on #118
I ran it a few more times and graceful shutdown worked perfectly fine. If and when I am able to replicate the bug I will record it and create a new issue.

Thanks for the response!

[2016-11-15 01:06] #118 closed

[2016-11-15 01:09] keathley commented on #118
Sorry it caused you an issue. Lemme know if you manage to recreate it :+1:

[2016-11-23 19:05] tiodan81 commented on #114
We're hitting this as well, I believe that capybara handles this by rerunning the query rather than failing outright. This is a very common issue on single page apps where the dom changes in response to route changes. It leaves us with no real way to check that the page has actually changed.

Consider the example of signing in and then verifying that we are signed in by looking for a sign out butt

[2016-11-27 00:51] xtian opened #119 "Stuck on about:blank"
I may have made a mistake in my configuration, but I'm unable to visit pages using Wallaby with a new Phoenix app. I have the following test:

[code]

and it fails with this output:

[code]

<details>
<summary>webdriver logfile output</summary>
<pre><code>
[INFO  - 2016-11-27T00:46:22.404Z] GhostDriver - Main - running on port 57150
[INFO  - 2016-11-27T00:46:22.407Z] GhostDriver - Main - running o

[2016-11-27 00:53] #119 closed

[2016-11-27 01:02] xtian commented on #119
I forgot to set `server: true` for my endpoint in my test config 😔

[2016-12-14 18:40] jpettit commented on #111
Is there any sort of workaround for this issue?

[2016-12-14 23:29] keathley commented on #111
@jpettit you can find the element and then chain that with `click`. Something like this:

[code]

This will be fixed with the fix for #114. It should be in the next release.

[2016-12-14 23:31] jpettit opened #122 "Intermittent text errors with fill_in"
Currently seeing errant behavior with fill_in where the static text being passed to fill_in is dropping characters.

An Example
[code]

In the rudimentary example above, I'm seeing the second find for the state change fail (the form was not submitted), and when I look at the screenshot, I'm seeing (intermittent and random) characters missing from the two form fields I'm writing to with fill_in.

I

[2016-12-14 23:42] keathley commented on #122
@jpettit Can you re-create a demo of the failure? I'll be happy to take a look at it. Some other thoughts. Is this just a basic form? Are there any Javascript interactions with the form? Are you sending special characters of any kind?

[2016-12-15 22:25] jpettit commented on #122
@keathley No special characters.  Characters are just dropped (and it seems random).  The input form is defined with `action=javascript::void(0);`.  The input fields have the following attributes: `autocomplete id name class autofocus type style`

I am using v0.15.0 - despite the docs stating v0.14.0.  Let me try v14.

[2016-12-15 23:22] jpettit commented on #122
I did some more experimentation and I'm finding that I'm only seeing the `fill_in/2` helper from the example above really only input the correct text maybe 1 out of 10 times.

I added the following to replace the second session statements:
`assert find(session, "#formFieldA")     |> has_value?("SomeInputTextThatIWant")`

[2016-12-16 00:29] jpettit commented on #122
Another update - I've installed and configured Hound with phantomjs and the same issue occurs using their library.  So this is probably an issue with phantomjs, and a troubling one considering Wallaby does not support selenium or chromedriver

[2016-12-16 04:52] keathley commented on #122
Based on what you're describing it sounds like it might be an issue with the site you're trying to test. Not being able to fill in form fields is probably something that would get reported pretty quickly after all 😄.

I want to help solve this issue but currently I don't have a lot to go on. Even a gist of the html and relevant js would be helpful. Can you double check the version of phantom you'r

[2016-12-30 04:39] podung opened #123 "Uncaught Javascript Error "TypeError: Attempted to assign to readonly property.""
I'm attempting to set the innerHTML of an element and phantomjs is logging a js error that is rethrown by wallaby.  I cannot figure out why phantomjs is throwing the error in the first place.

This appears to be a phantomjs issue, but I wanted to sanity check what I'm seeing.  If phantom is doing something it shouldn't be doing here, I'm trying to figure out how to work around it.  I want js error

[2017-01-01 23:51] pauloancheta opened #125 "Testing with brunch"
http://www.phoenixframework.org/docs/static-assets#section-modules

I have been following phoenix guides into adding javascript into my app and have found that this causes unexpected errors while testing. Wallaby does not provide any errors on my local machine but it does on Travis.

I have fiddled with the testing suite and was able to replicate the exact error that I get from Travis

[code]

[co

[2017-01-02 20:05] keathley commented on #125
Thanks for providing the steps to re-create this @pauloancheta! It seems to me like your assets aren't being bundled on travis if you're seeing an error about `require` not being defined. Is your brunch config the stock config that phoenix generates? Is it possible that travis isn't compiling your assets before it runs your tests?

[2017-01-03 19:16] zolrath commented on #102
Any progress in getting Windows support working properly?
Have a few developers shifting between C# and Elixir and would love to have Wallaby run on everyone's machine.

[2017-01-03 22:59] texjim commented on #102
@zolrath  Take a look at our fork ( https://github.com/vertify/wallaby ).   All of the 145 unit tests pass on my Windows 10 box, but we are running a strange issue where you have to hit Ctrl-C or Enter a few times for the shell to be ready to accept commands after the tests run.    When I look at the process table, the phantonjs processes are still there until I hit Ctrl-C...then they all close an

[2017-01-04 20:26] keathley commented on #102
I tried to work on this a bit with a friend on their windows 10 box. We weren't able to get your fork working @texjim. It seemed like the port that we use to manage an individual phantom instance wasn't getting any data. Have you seen anything like that?

[2017-01-05 23:33] texjim commented on #102
What version of Powershell are you using?

[code]

If I'm not mistaken when I had an older version loaded it did give me issues.   Here are the version numbers for what I have loaded:

[code]

[2017-01-06 00:40] keathley commented on #102
I'll double check.

[2017-01-10 15:05] asiniy commented on #112
#124 merges it.
@keathley feel free to merge my PR and close this issue

[2017-01-12 04:33] podung commented on #123
Apparently setting innerHTML directly is not valid in all browsers.  Sorry for the noise

[2017-01-12 04:33] #123 closed

[2017-01-17 16:25] dipth opened #129 "fill_in contenteditable element"
What is the procedure for filling out a field on a page that uses a wysiwyg editor instead of a plain textfield or area?

Specifically the page I'm trying to test is using the Trumbowyg editor which works by creating a div with the `contenteditable` attribute.
http://alex-d.github.io/Trumbowyg/

[2017-01-17 16:27] dipth commented on #129
Here is an example of what the editor looks like in the DOM:

[code]

Here is what I've tried to put in my test:
[code]

Here is the error that I'm getting:
[code]

[2017-01-17 19:18] keathley commented on #129
Sorry about that, I haven't tried this with `fill_in`. You can try clicking on the element and then calling `[send_keys](https://hexdocs.pm/wallaby/Wallaby.Session.html#send_keys/2)` with your text.

[2017-01-28 17:25] aaronjensen opened #131 "Wallaby.end_session/1 seems to be unsafe"
At some point we ended up with:

[code]

In our AcceptanceCase. I don't know why it was added. I know it's not in the readme, but it is in the [tests of wallaby itself].

I have been tracking down a strange bug wherein our wallaby tests would occasionally fail because they would receive ajax responses intended for another test. Logs actually showed two different tests receiving responses with the

[2017-01-30 20:21] keathley commented on #131
Thanks for the great writeup @aaronjensen. It seems like you shouldn't be able to check in sessions more then once. It might be another race condition somewhere. Can you help me get a scaffolding in place to re-create this? That would be useful for re-creating this issue.

[2017-02-01 16:28] aaronjensen commented on #131
@keathley Try cloning this: https://github.com/aaronjensen/wallaby-shared-session-repro

Then:

[code]

If there is a failure, it happened. The two user agents are printed (the agent the client thinks it is and the server thinks it is.

You may need to run `mix test` a couple times to see it.

[2017-02-01 18:23] keathley commented on #131
Awesome thanks! I really appreciate you putting that together 👍

[2017-02-02 20:07] dipth commented on #129
I couldn't make that work so I instead used `execute_script` to set the inner html of the editor instead.

[2017-02-02 20:07] #129 closed

[2017-02-03 17:28] keathley commented on #129
sorry about that @dipth. This should be fixed with the new api changes in #130.

[2017-02-07 17:59] keathley opened #133 "Update README.md to reflect new query api"
The README needs to be updated to reflect the new query api. I would also like to add a section that explains better ways to create re-usable tests (modules with pre-defined queries and actions).

[2017-02-07 18:05] keathley commented on #125
@pauloancheta do you happen to have an update on this? If not would you mind if I closed the issue for now?

[2017-02-07 18:09] pauloancheta commented on #125
I continued with my work-around in place and haven't worked on this part of my app again. Will reopen the issue once I encounter it again and have an update

[2017-02-07 18:09] #125 closed

[2017-02-07 19:34] keathley commented on #125
Thanks!

[2017-02-09 15:35] aellispierce opened #134 "Node.click returns node"
In the documentation, it states that Node.click should return a session.
(`click(t) :: Wallaby.Session.t`)

However, instead it is returning the node that was clicked, as seen here: https://github.com/keathley/wallaby/blob/v0.15.0/lib/wallaby/node.ex#L110

Am I reading the docs wrong? It seems like it would make more sense if it did indeed return the entire session, as a click presumably changes t

[2017-02-09 18:19] keathley commented on #134
Those types are definitely wrong. Sorry about that. This looks like it might be broken in master as well: https://github.com/keathley/wallaby/blob/master/lib/wallaby/browser.ex#L467.

The idea of click and all of the other actions, is that they shouldn't change the current scope. So for instance `click/1` should return the element since you're already focusing an element. `click/2` should return t

[2017-02-09 18:49] #94 closed

[2017-02-09 19:02] keathley commented on #122
Since I'm not really sure how to reproduce this I'm going to close this issue for now. If you have some more info then feel free to re-open it.

[2017-02-09 19:02] #122 closed

[2017-02-09 19:14] aellispierce commented on #134
Ah okay, that makes sense. It looks like click/2 is what I will want then once it is correctly returning the parent. I'll work on a PR to get that done.

[2017-02-09 20:06] keathley commented on #134
Thanks! Let me know if you have any questions.

[2017-02-14 04:22] keathley opened #136 "add a `data` tag query"
A common way to annotate DOM elements is with a `data` tag. It would be very convenient to have a `data` query that allowed users to specify a tag name and a value.

[2017-02-14 23:32] stevegraham commented on #88
I think the problem lies with PhantomJS on Linux here. My test cases take an insane amount of time on Linux than Mac OS, nearly 3x slow on Linux (with beefier hardware too) anyone have any pointers on debugging this?

[2017-02-15 02:50] keathley commented on #88
Do you know where the time is being spent? Is it waiting to start up phoenix and compile assets or is the issue spinning up phantoms, etc.?

[2017-02-15 04:15] stevegraham commented on #88
I haven't profiled it or looked very deeply at it yet, but here's what I've found so far.

The tests take nearly 400s to run on the i7 Linux box and Circle CI (also Linux) and about 150s on a Core 2 Duo MacBook Air.

Two phantomjs processes are spawned on the Mac and both compete for all of the CPU most of the time, with one occasionally "stuck" using 0% in `top`.

Only one is runs on Linux, and n

[2017-02-16 16:38] #134 closed

[2017-02-16 22:09] #112 closed

[2017-02-16 22:11] keathley commented on #104
This has now been implemented as part of find. I'm going to close this issue. We can continue the discussion about `wait_until` in #105.

[2017-02-16 22:11] #104 closed

[2017-02-16 22:15] keathley commented on #111
This has been fixed with the new `Query` module.

[2017-02-16 22:15] #111 closed

[2017-02-17 19:15] keathley commented on #96
This is now fixed in master.

[2017-02-17 19:15] #96 closed

[2017-02-17 19:16] kopchickm commented on #96
Woohoo!

[2017-02-17 19:16] keathley commented on #48
I'm going to close this for now. If its something that folks want to pursue in the future we can re-open it then.

[2017-02-17 19:16] #48 closed

[2017-02-17 19:23] keathley commented on #17
I can't re-create this at this point so I'm going to close it for now.

[2017-02-17 19:23] #17 closed

[2017-02-17 19:46] keathley commented on #114
The issue was that the internal retry logic was throwing an unhandled `StaleReferenceException`. That retry logic has been updated to better handle this case with the other api refactors that are in master. @Slowbad I'm not sure if this is still relevant to you but if you would like to try this against master it may fix your issue. All the changes will be in the next release.

I'm going to close t

[2017-02-17 19:46] #114 closed

[2017-02-17 19:50] keathley opened #141 "Add deprecation warnings for old api features."
The old api that works without queries needs to be deprecated. Their usage should return a warning with a code snippet for the new api so that users can easily update their tests.

[2017-02-17 19:59] keathley opened #142 "Feature Case for exunit"
We should include a `feature` exunit test type. Having a custom type will allow us to capture more information and use that information to create better screenshot names and capture screenshots on assertion failures.

[2017-02-17 20:02] keathley commented on #98
I've opened a specific issue for creating a `feature` case in #142.

[2017-02-17 20:02] #98 closed

[2017-02-28 05:12] navinpeiris opened #149 "Release 0.16.0 not available in hex?"
Heya @keathley, just noticed that the repo has been updated to version 0.16.0 along with the release etc., but the latest version available in hex is still 0.15.0.

Just wanted to see if this was on purpose?

[2017-02-28 09:42] PragTob commented on #149
Here wondering the same thing - just wanted to comment into our slack "Write ALL THE INTEGRATION TESTS NOW" :)

[2017-02-28 14:52] keathley commented on #149
Yeah sorry about that. I discovered an issue with some of the deprecation warnings. I'm going to release 0.16.0 and then 0.16.1 write behind it. That way people can upgrade directly to 0.16.1 and not experience the bug ;). Should be up soon.

[2017-02-28 15:11] keathley commented on #149
Version 0.16.0 and 0.16.1 have both been published to hex!

[2017-02-28 15:11] #149 closed

[2017-02-28 16:28] #133 closed

[2017-02-28 16:28] #141 closed

[2017-03-01 01:43] navinpeiris commented on #149
Awesome, thanks a bunch @keathley! Loving the new API btw 👍

[2017-03-05 20:35] DavidVII opened #152 "Responsive design and window size"
After bringing in some css my app now has a responsive navigation where a window size narrower than 769 pixels wide will turn into a hamburger menu. Since the default window size in wallaby is 100 x 100 I end up running tests against the responsive layout and can not click on links in the responsive menu since it involves an extra step. This leaves me with two options:

1. Account for extra step
2

[2017-03-06 21:04] keathley commented on #152
I don't think there's a window size option to pass on session creation in webdriver. You will have to set it after creating the session. You could add something like this to your AcceptanceCase:

[code]

That way each session would be sized correctly. We could probably support this as a configuration option. It probably makes sense to open to window larger then 100x100 by default.

[2017-03-06 21:38] PragTob commented on #152
Most definitely. I imagine it being a gotcha moment in the first couple of tests that that's why maybe the menu doesn't show :D

[2017-03-07 22:03] bitboxer commented on #67
Sadly i have problems with this on, details [on elixirforum](https://elixirforum.com/t/problems-with-wallaby-and-delete-links-on-travis/4019). Maybe someone here can help me?

[2017-03-08 14:58] keathley commented on #67
@bitboxer what version of phoenix are you running?

[2017-03-08 15:01] bitboxer commented on #67
I am running 1.2.1. But I am an elixir beginner. Could be that I am doing something wrong here. The strange thing is that it works locally, but not on travis. You can see what I did [in this repo](https://github.com/signdict/website/tree/user-login) and the feature test is [here](https://github.com/signdict/website/blob/user-login/test/features/user_sign_up_test.exs).

Thank you for looking into t

[2017-03-08 15:56] keathley commented on #67
Thanks, I'll check out that repo when I get a chance.

[2017-03-08 16:19] keathley commented on #67
@bitboxer Just tried running the tests. Removed the commented out assertion and everything is working for me. One possible issue is that your JS is taking a while to execute and exceeding the wallaby timeout. You could try increasing it with the `max_wait_time` config option. The default is 3 seconds.

[2017-03-08 21:20] bitboxer commented on #67
Yes, it is working for me locale, too. Will check tomorrow on travis with increased timeout. Thanks for your time!  Will update after I have tried it.

[2017-03-08 21:40] bitboxer commented on #67
Okay, found some time to do it tonight :wink:

Sadly even when increasing it to 30 seconds it does not work on travis. It just fails because of a postgres timeout after 15 seconds.

[code]

Really weird that it does not work on travis, but locally is fine. Does anyone here have a project that uses the delete link on travis?

[2017-03-09 09:05] PragTob commented on #67
Are you 100% sure travis is running the same phantomJS version? E.g. just ahd a brief look at the setup, what I do in our project is put phantomJS as part of the dependencies and then point the wallaby path to `node_modules/phantomjs-prebuilt/bin/phantomjs` this way I can be really sure it does the same thing :D

Plus I tried replicating yesterday a bit as well. The weird thing for me was _the fir

[2017-03-09 11:04] bitboxer commented on #67
I am not 100% sure. I added a new phantomjs during the setup phase in travis. It outputs correctly. But I haven't set the phantomjs location, I just prepended the path. Will try to set  the path in the wallaby configuration after lunch

[2017-03-09 13:11] bitboxer commented on #67
Okay, now I am 100% sure. The phantomjs is now added to the wallaby config and I am installing the same version I am using locally:

<img width="439" alt="screen shot 2017-03-09 at 14 05 32" src="https://cloud.githubusercontent.com/assets/56195/23751415/9698dcbc-04d1-11e7-870e-d731facad769.png">

And sadly it fails. I will try to investigate a bit more with a debian vm tomorrow that replicates the

[2017-03-12 04:16] DavidVII commented on #152
Thanks a lot for that, @keathley. That clears things up quite a bit. I was wondering how to go about setting that in the `AcceptanceCase` file.

However, I'm wondering now weather or not a config is necessary. Perhaps adding a line or two about that in the README could suffice?

What do you guys think would be a good default? Perhaps something like 960x500? I'm happy to submit a PR over the next f

[2017-03-12 08:59] PragTob commented on #152
I think an addition to the README would be quite nice, and agree that it's an easy enough change that it doesn't need a config imo :)

[2017-03-16 21:31] PragTob opened #159 "assert_has/refute_has helpers"
This was briefly touched upon in #158 (brought up by @knewter ) - if we want to have some custom assert_* helpers in wallaby specifically `assert_has`/`refute_has`

I think it's a good idea and an easy implementation, I currently have my custom helpers like this:

[code]

Among having an assert ready, it allows to write assertions nicely as part of a pipe by returning the parent element:

[code]

[2017-03-16 21:47] keathley commented on #159
The more I've thought about it the more I like `assert_has?` and `refute_has?`. It would be great to make both of those chainable and we could correctly take screenshots on failures, etc.

Should we include helpers besides `assert_has?` and `refute_has?` I feel like we should be able to check everything we need to with a combination of those 2 assertions and the query engine but maybe I'm wrong.

[2017-03-16 21:54] PragTob commented on #159
So far I found that they can cover everything I'd like them to, people might like to have stuff like `assert_has_css(parent, css_string)` but I feel that predefined queries via `Query.css` are the better interface.

So with the cool new `Query`/`Action` distinction (:heart: that by the way but you know :) ) this should legitimately cover everything, so far.

If needbe, other things can always be a

[2017-03-17 01:38] keathley commented on #159
That sounds good to me.

Should we use macros for those helpers so that the stack traces are more meaningful to the end user?

[2017-03-17 08:06] PragTob commented on #159
Huh, good question gotta admit I haven't played around with macros a lot yet and usually try to do the simplest thing that works :) I'll give it a shot and compare stack traces on my end and put them in the PR.

PR might be a bit delay as I seem to have released a slightly bugged simplecov version the other day and wanna get it fixed first, ETA still hopeful on this weekend though :)

[2017-03-18 13:24] vanderhoop commented on #152
Just got nailed by this myself! I'm testing real-time updates across different sessions, so I'm consistently starting a second session. For now, I'm resizing the second session's window winthin my real-time update tests such that it matches the size I've given to the first session in my `IntegrationCase` setup, but @keathley, I'm happy to submit a PR for passing screensize options to `Wallaby.star

[2017-03-20 21:35] PragTob opened #164 "Slow-ish phantomjs interaction times (a single fill_in takes ~500ms)"
This is with current master, elixir 1.4.0, erlang 19.1 and phantomjs version 2.1.1 (installed via `npm install -g phantomjs-prebuilt`) on Linux Mint 18.1 (basically Ubuntu 16.04).

I wrote an acceptance test for our application and noticed how our tests took so much longer, at first I thought it was the phantomjs startup but then measured just in the test - it took 12 seconds. Now the test is pret

[2017-03-20 21:49] PragTob commented on #164
Other than getting the number of requests down, it seems like there are different interaction methods: http://phantomjs.org/inter-process-communication.html

If my glance at the code didn't betray me poltergeist (the capybara phantomjs driver) uses the socket interaction out of all of these.

[2017-03-21 04:43] keathley commented on #164
Poltergeist is somewhat different in that it implements an entire client in javascript and then connects to the tests via websockets. I would definitely like to speed up test times as much as we can but building a bespoke client hasn't seemed worth it yet :).

I think there are a couple of ways to help optimize wallaby + phantom. The first is to remove the explicit checks for JS logs. We should be

[2017-03-21 08:35] PragTob commented on #164
Couldn't we also just "borrow" the poltergeist JS client and then just implement the elixir websocket part of it? Would save us some of the trouble... hoping that wallaby's requirements can be satisified with whatever poltergeist can do :) (I'm an optimist, but enough of a realist to fear that there is some very capybara specific stuff in there)

Thanks for the quick answer!

I'm also happy to add

[2017-03-21 14:09] keathley commented on #164
Having benchmarks with benchee would be awesome! I think we should start there so that we know what we're dealing with. If we can optimize in a few places then we might be able to avoid implementing our own version of webdriver.

If we do need to start thinking about going the poltergeist route then its probably worth looking at what they have for inspiration. Right now we check a lot of propertie

[2017-03-22 15:19] keathley commented on #152
I'm OK with accepting something like `window_size` or `window_dimensions` as an option to `Wallaby.start_session/1`. If someone wants to submit a PR for that I'd be happy to take a look.

[2017-03-22 16:04] keathley commented on #67
@bitboxer did you find a fix for this?

[2017-03-22 16:17] bitboxer commented on #67
Oh, sorry. Didn't update here. I tried to replicate it on a VM that is close to travis, but I failed 😭 . So no, haven't found a fix yet

[2017-03-22 16:18] bitboxer commented on #67
But it is still on my todo list. Will continue to investigate it every other week or so

[2017-03-22 17:08] keathley commented on #67
Sounds good. I'm going to close this for now since I'm not sure how to reproduce the issue that you're seeing. If you figure something out feel free to re-open or create a new issue.

[2017-03-22 17:08] #67 closed

[2017-03-24 20:02] hisapy opened #165 "BUG: all/2 not working"
Given a page with 3 `.mdl-list__item`, when I do:
[code]
I expect to get a list of all those elements. Instead, I get an empty list `[]`.

Moreover, when in the same page I do:
[code]

I get the following error:

[code]

[2017-03-24 23:25] keathley commented on #165
Are these elements loaded with javascript? Or should they be there on the page load?

[2017-03-25 11:47] PragTob commented on #165
Also if it doesn't, an HTML file to reproduce would be great :)

[2017-03-25 12:30] padde opened #167 "Is `AcceptanceCase` really the right term?"
According to the [Wikipedia article on software testing](https://en.wikipedia.org/wiki/Software_testing#Acceptance_testing),

This leads me to the conclusion that `AcceptanceCase` is not really the right term for what we're doing with Wallaby.

Maybe one the following alternatives would be a better fit:

* `IntegrationCase`
* `EndToEndCase`
* `BrowserCase`
* `FunctionalCase`
* `SystemCase`

`Integ

[2017-03-25 12:59] NobbZ opened #168 "Misleading error on multiple labels which at least partially match a query"
## Environment

The phoenix project available at https://github.com/NobbZ/wallaby_bad_error_when_multiple_lables_match_a_query has a single page with a single form, containing two fields with a label each (see `lib/wallaby_bug/web/templates/page/index.html.eex`).

## Bug description

There are two tests defined in `test/acceptance/wallaby_example_test.exs`, from which the following fails:

[code]

[2017-03-25 13:42] padde opened #169 "Handling JS alert/confirm/prompt"
For example, when generating a scaffold with Phoenix, we get a confirmation dialog via `data-confirm` for "Delete" links in the index view. If this link is clicked, Wallaby/PhantomJS will *not* perform the actual request, then usually the next assertion or selector fails.

For now, I use [this workaround](https://github.com/detro/ghostdriver/issues/20#issuecomment-13621554), which I put before the

[2017-03-25 14:50] hisapy commented on #165
Hey guys,

The elements are generated with React. Anyways, I _restarted_ my test suite and `all/2` is working fine so I'm closing this issue now.

Thanks for your help

:)

[2017-03-25 14:50] #165 closed

[2017-03-25 16:09] hisapy commented on #165
Just for the record, this is not working consistently. I think there is a problem with timing but I'm not sure if it's related to PhantomJS, Wallaby or my Phoenix app.

In order to achieve some less false positives, I had to increase the following:

[code]

Ideally, I think I shouldn't have to wait that much.

[2017-03-26 02:53] keathley commented on #165
The issue here is that `all/2` doesn't wait at all. `all/2` is just an wrapper around `find(query(count: :any))`. When your tests are failing what is happening is that `all` is running before your javascript has finished loading / react has finished rendering. Because nothing is present on the screen `all` returns you an empty list. The way to fix this is to use a specific finder instead of `all`.

[2017-03-26 16:26] padde commented on #169
So, after digging around a bit more I found that probably there is no nice way to handle this at the moment. The clean way would be to use the WebDriver interface to handle dialogs, but it seems that this won't happen soon.

The WebDriver spec [assumes that dialogs are blocking](https://www.w3.org/TR/webdriver/#user-prompts), so when a dialog appears the following command is expected to handle the

[2017-03-26 16:38] padde commented on #167
Reading the Wallaby source code, I found that internally the term `SessionCase` is used, which I think is a good name. How about using this in the documentation instead?

[2017-03-26 20:51] PragTob commented on #167
Sessioncase is a bit weird imo, as it's really close to `ConnCase` which is one of the phoenix standards.

I like `AcceptanceCase` as "Acceptance tests" is also how I commonly refer to these tests, so it's natural to me but there are a lot of different uses for the words of them (worst of them all is integration).

From the proposed solutions EndToEnd/Browser seem to fit best but I'm also happy wi

[2017-03-27 14:04] keathley commented on #167
`SessionCase` is in the Wallaby codebase because it provides a `session`. But I don't think thats what we want to expose to the outside world. I'm ok with `AcceptanceCase` but I'd be OK with `BrowserCase` or potentially `FeatureCase`. I typically treat our wallaby tests as "feature" tests. Meaning that they exercise a "feature" of the application.

[2017-03-27 14:13] keathley commented on #169
Thanks for putting so much research into this @padde! This is something that has caused issues with folks before. It looks like we might be able to incorporate your proof of concept into the init process of the phantom servers. We could provide a higher level api for handling alerts from the `Browser` module. Then the driver specific implementations can all go in the phantom driver.

I'd love to c

[2017-03-27 14:14] keathley commented on #168
@NobbZ Is that the entire html? I'm assuming that there is a Password field on the page somewhere?

[2017-03-27 14:35] padde commented on #169
Thanks for the feedback @keathley. The only thing that's holding me back right now is that I want to get the API right before digging in all the way. I want to make sure we don't build a high level API that is incompatible with the WebDriver spec, which would then make it hard to implement additional drivers later.

With PhantomJS the way to handle alerts would be:

[code]

whereas WebDriver assum

[2017-03-27 16:21] PragTob commented on #169
(not sure my understanding of this is as whole as it could be)

Couldn't we just make a high level API that encompasses it like this:

[code]

then the web driver implementation could do the acceptance of the alert before or after calling the function depending on what the driver wants :)

[2017-03-27 16:22] PragTob commented on #167
I like feature as well :)

[2017-03-27 18:50] NobbZ commented on #168
Well there is, and the message was copied from the wrong window from a run that already used css selection for email. The correct message that was shown to me of course referenced the word Email.

[2017-03-27 19:31] PragTob commented on #168
@NobbZ if you could share the HTML with us so we can set up a test case to investigate and fix that'd be great :)

[2017-03-27 19:51] NobbZ commented on #168
I will construct some minimal project which shows the problem during the next 2 days.

[2017-03-27 19:55] PragTob commented on #168
Thanks a lot @NobbZ - that's a great help! :green_heart: :tada:

[2017-03-28 02:53] arigoins opened #172 "Docs/spec confusing for functions with return type parent"
Here's an example of what I was trying to do:
[code]
This raises `(UndefinedFunctionError) function nil.url/0 is undefined or private` and wondering what's that about. I had to look at the source to figure out that `execute_script` returns the value and not the session even though the spec `execute_script(parent, String.t, list) :: parent` makes me think it would return the session.

Side note, it

[2017-03-28 05:43] padde commented on #169
@PragTob that's a really nice idea! It would probably be useful to pass down the parent as an argument, so that we can write for example

[code]

Maybe we could also add helpers to accept/dismiss all dialogs in case we're not really interested in specific ones. These could easily be implemented with the standard "unhandled prompt behaviour" from WebDriver if the driver implements them (e.g. will b

[2017-03-28 05:44] PragTob commented on #172
Thanks for the issue report!

Definitely! That execute_script claims to return `parent` is a bug :frowning:

Added enhancement tag though because I agree that we want to have a pipable version of that... no idea how to make a good name differentiation between the two, as we also need to have a method that grabs the return value ...

Any suggestions?

[2017-03-28 05:49] padde commented on #169
One alternative to the above suggestion would be to return the `session` struct back from all helpers to keep them chainable, then have separate functions to retrieve the prompted text, for example:

[code]

[2017-03-28 09:49] NobbZ commented on #168
I created a repository at https://github.com/NobbZ/wallaby_bad_error_when_multiple_lables_match_a_query, I will update my initial description of the bug accordingly.

[2017-03-28 14:03] keathley commented on #172
What if we use a similar pattern to `find`? `execute_script/1` would return the parent so that it can be chained. `execute_script/2` can accept a callback that would return the value to the user?

Something like:

[code]

What do y'all think?

[2017-03-28 15:08] PragTob commented on #172
LGTM :+1:

[2017-03-28 15:11] PragTob commented on #168
Thanks a lot for putting in the work to reproduce @NobbZ ! This is an enormous help!

![thanks](https://media.giphy.com/media/3oz8xIsloV7zOmt81G/giphy.gif)

[2017-03-29 15:20] keathley opened #174 "Sessions not being cleaned up correctly when tests end"
Unless the session is explicitly "ended" when the test ends the sessions in phantom are being left open. I discovered this when my phoenix server started receiving duplicate messages from 2 browsers. What was happening is that the first test ran, connected to the channel, and executed the test. When the test ended the phantom was being checked back in but the session wasn't being deleted from the

[2017-03-29 15:46] keathley commented on #167
If someone wants to update the README to use `FeatureCase` then that would be great. Otherwise I'll try to get to it when I can 👍 .

[2017-03-29 15:46] #167 closed

[2017-03-29 22:04] padde commented on #107
@keathley might that be a useful addition to the setup info in the README?

[2017-03-29 23:50] keathley commented on #107
That seems reasonable for now. Long term we could configure poolboy to start with 0 phantoms started and spin them up as needed until we hit the max poolsize. That way the end user doesn't have to mess with this configuration. If someone wants to submit a PR for either fix that would be great. I'm going to close this for now.

[2017-03-29 23:50] #107 closed

[2017-03-30 01:10] #159 closed

[2017-03-30 17:24] gpad opened #176 "Doesn't render react components"
Hi to all,
I have a strange issue. I create a new phoenix project and when I try to test with Wallaby, the react components are not rendered while they are easily rendered when I get the page from the browser.

The react components are not directly rendered by my app.js code but are rendered by external code. The cooed seems executed because during the test the log are written in the console

To r

[2017-03-30 19:55] PragTob commented on #176
Hi there,

that's hard to see from over here :)

Regarding the app, if you have it already it'd be very helpful if you put the example app in a github repo or gist together with the wallaby setup so we can have a look at it without further overhead :)

It could be a big, it could also be something else - does the component show up rendered on the screenshot when you do `take_screenshot`?

One of t

[2017-03-30 20:09] keathley commented on #176
I can reproduce this locally. I added an `console.log('Unauthorized') to the `unauthorizedCallback` callback. This is what I see in the console:

[code]

That would tell me that its at least loading some of the the javascript from the cdn. There's no js error being thrown in the console. Babel polyfill should take care of all your browser inconsistencies. Without knowing more about the internals o

[2017-03-30 20:10] gpad commented on #176
@PragTob This the repo https://github.com/gpad/orbita_health on branch `wallby` you find the code.

I took the screenshot and the component is not rendered.

I also put some code in this function:

[code]

To find some DOM nodes and they are presents on firefox but not on phantomJS ...

[2017-03-30 20:12] gpad commented on #176
@keathley you can find the app [here](https://github.com/gpad/orbita_health)  the error is normal because I didn't configure all the react component but if run the example you'll see that is rendered correctly.

[2017-03-30 20:20] keathley commented on #176
Thanks! I saw the error in the Chrome console as well. I just mean that at least *some* javascript is running. So its _probably_ not an issue with loading the assets from the cdn.

[2017-03-30 20:44] PragTob commented on #176
Imo the babel polyfill doesn't take care of everything, e.g. a `NodeList` in my current browser supports `forEach` but with phantom it would always thrown an error, so I had to add `Array.from` (from the polyfill) - so it could be :)

@gpad thanks for making the code available! :)

[2017-03-30 20:49] gpad commented on #176
@PragTob @keathley thanks for your help. Do you think that the problem is inside phantom.js? I'm running version 2.1 so I think it's the last, and I think that also the tests of the react component are running with phantom.

Tomorrow I'll try with a simpler react components to verify if there is some _"strange"_ code in the component.

[2017-03-31 00:21] hisapy commented on #131
Hey guys,

I'm also experiencing some issues with `end_session`.

In my case, I `Wallaby.start_session` in a setup callback, and `end_session` in an `on_exit`, but when trying to `visit` in subsequent tests, I get the following error:

[code]
I followed the stack trace and did some `IO.inspect`s and something that caught my attention is that each time `start_session` is called, apparently, the sam

[2017-03-31 01:15] keathley commented on #131
Thats correct. It should be a different session each time. Can I see how you've structured your setup block?

[2017-03-31 01:32] keathley commented on #131
I think I may have a theory on whats going on @aaronjensen. Its related to #174. I was able to force this to fail by reducing the worker pool in your example app to 1. Here's what I suspect is happening:

When a session is checked out poolboy sets up a monitor to the process that checked out the worker (in this case a phantom). When that process dies poolboy checks the worker back in. In this case

[2017-03-31 03:42] aaronjensen commented on #131
I did not know that `on_exit` runs in a separate process. In that case, then I would guess you're right. Specifically, the session is getting checked in after another test process has already checked it out. Something like this:

1. Test 1 checks out session 1
2. Test 1 ends
3. Poolboy checks in session 1
4. Test 2 checks out session 1
5. on_exit from Test 1 checks in session 1
6. Test 3 checks ou

[2017-03-31 13:11] hisapy commented on #131
Hi @keathley

First, my test case:

[code]

Then in the test:

[code]

[2017-03-31 13:35] hisapy commented on #131
### More debug info

I added an `IO.inspect session` in the `on_exit` and got the following results:

[code]

[2017-03-31 14:02] keathley commented on #131
@aaronjensen I think that its probably something similar to that, but its important to distinguish between "sessions" and "servers". A server is a phantomjs process. A session is a user session running on a specific phantom. Theoretically you could run multiple sessions on a single phantom. We don't do that because phantom doesn't isolate sessions properly (shared cookies, shared localStorage, etc

[2017-03-31 14:08] keathley commented on #176
I suspect that your issue is related to some incompatibility between phantomjs and the JS that you're trying to run. It _might_ be solved with the correct polyfill. The only other thing that I can think of is that there's potentially an issue with loading the assets over the cdn. But I don't think a cdn issue is that likely since its running the `orbitaComponents.init` function which means phantom

[2017-03-31 14:25] hisapy commented on #131
Yeah, it's weird. Anyways, for the second time I try to `visit("/login")` I get error:

[code]

Do you have any idea about where that "V" is coming from? ... have you seen something like that before?

My phantomjs version is **2.1.1.**

[2017-03-31 14:37] keathley opened #177 "Remove all deprecated functions"
We need to update Wallaby's internal test suite and remove the deprecated functions.

[2017-03-31 14:43] keathley opened #178 "Add PragTob to the list of maintainers 🎉"
@PragTob has graciously offered to help maintain Wallaby!

[2017-03-31 14:43] padde commented on #177
Hey @keathley I saw all the deprecations while working on the JS dialogs. I already thought about making a PR to rewrite the tests with the new API. Could you use some help here?

What about tests that test the deprecated functions themselves, should they stay or be removed altogether?

[2017-03-31 14:49] PragTob commented on #177
What we already wanna remove them all in 0.17? That's cool, wasn't sure what your deprecation policy would be :D

I'd be super glad to remove them. Lots of them are not covered and get the test coverage down but of course writing tests for them doesn't make much sense :)

[2017-03-31 14:49] keathley commented on #177
@padde Any help here would be great! Some of the old tests should be updated to use the new api. But a lot of them can just be deleted. For instance, all the tests like, "fill_in/3 finds elements by id" and "fill_in/3 finds elements by label text" can be deleted.

At some point I'm going to wrap the entire external api with property tests so we don't have to write all of these permutations by hand

[2017-03-31 14:52] PragTob opened #179 "Add Changelog.md ?"
Right now changelogs are documented over on [releases](https://github.com/keathley/wallaby/releases) - I like to have a Changelog.md in the repo/code because:

* it''s the most common place for me too look for it
* it enables us to keep a running change log for things that are important and we don't have to get it all from memory and `git log` once we release
* we can just copy it over to releases

[2017-03-31 14:57] keathley commented on #131
Its being thrown from the `Driver`. Probably `make_request/3`. Whats happening is that its getting an error from phantoms webdriver which is then being handled incorrectly. We should update `make_request` and `check_for_response_errors` to better find these issues. If you log that out then you'll see the full error message.

[2017-03-31 14:59] padde commented on #177
@keathley sounds great, I'd be glad to help. Just to be clear: do you want to keep the deprecated methods themselves in `Browser` or should they be removed as well? If they're kept, should there be at least one test for each deprecated method left in the test suite?

For the deprecation policy, SemVer might give some guidance here (if you should decide to stick with this). It generally forbids bac

[2017-03-31 15:09] keathley commented on #177
If its easier you can just remove it all. But if you just want to work on tests that fine.

It was an interesting decision to deprecate things before we hit 1.0 but I knew that there were enough people using it and the api was a big enough change that I wanted to provide the deprecations as a way to help people migrate. Now that we have a good direction for the api I'm fine with removing the old f

[2017-03-31 15:10] keathley commented on #179
I'm definitely for this.

[2017-03-31 15:42] PragTob commented on #177
Very pragmatic decision, I might get onto removing some of them during the weekend (I'd try to do it in smaller chunks)

[2017-03-31 16:04] PragTob commented on #164
As an update here I ran and wrote benchmarks for capybara and wallaby, hound still needs some work: https://github.com/PragTob/acceptance_test_speed

TLDR; is filling a form field in is almost a hundred times faster atm with capybara, so we have some space to improve (that's the full blown poltergeist appraoch though which will take _A_LOT_ of time when/if we get to it)

[2017-03-31 16:10] CMaylone opened #180 "Clicking Canvas Elements"
I have an application that centers around a graph drawn by the [Cytoscape.js](http://js.cytoscape.org/) library. I need a way to test clicking and selecting behaviors but the library uses canvas elements to draw the graph. Is there a way to select nodes within a canvas? Or a more naive approach, can I specify coordinates to simulate a click event?

Here is an example rendering: http://jsbin.com/re

[2017-03-31 16:11] hisapy commented on #131
When I

[code]

I get the same error `{:error, {:invalid, "V"}}` ... Is there any way I can get a _more complete_ log?

[2017-03-31 16:12] padde commented on #177
Hey @PragTob didn't want to steal this from you, please go ahead! I think it makes more sense to  remove deprecated functions along with their tests and also replace them in other tests in one go. The compiler will basically tell you exactly what to do once you've removed the function, and we'd probably trip over each others feet all the time when merging.

[2017-03-31 16:16] keathley commented on #131
You would have to log the response from inside of wallaby. The function you'll want to log is `Driver.make_request/3`. If you don't wanna mess with it I'll see if I can get a proper fix in later today.

[2017-03-31 16:20] hisapy commented on #131
I'm working on a single "scenario" now so I can wait for your fix ... Thanks a lot in advance ... This is a great lib

[2017-04-01 10:44] gpad commented on #176
I agree with you @keathley. I'm busy in this days but I would try with a simpler component to verify if the issue is still present.

I'm also one of the developers of orbitaComponents and the code is tested with standard react stack and now it doesn't use phantom but in the old versions I find a reference to [phantomjs-polyfill](https://www.npmjs.com/package/phantomjs-polyfill), a clue not an evid

[2017-04-01 10:52] PragTob commented on #177
@padde we can also work together and coordinate, I'll see what I get to this weekend because next week I probably don't have that much time :) I'm just sometimes super excited by these "stupid" tasks because all the warning messages annoy the hell out of me :D

[2017-04-01 10:56] PragTob commented on #180
Huh, I don't think there is such an interface... I guess one of the questions (that I don't know the answer to) is whether one can access canvas elements through XPath, if so it'd be possible. E.g. in [`Query`](https://hexdocs.pm/wallaby/0.16.1/Wallaby.Query.html#content) you can build all sorts of queries, among them xpath which is probably the most flexible

[2017-04-01 21:32] PragTob commented on #177
On another note, I doubt I'll get to any more than #181 at least this weekend so feel free to work away ( @padde )

[2017-04-03 14:42] keathley commented on #180
I think the only way to make this work is to use coordinates and mouseDown / touchStart events. The app that we originally built Wallaby for needed something similar. The way that we solved it was to use `execute_script` and executed the mouse moves and click events from JS.

It could be convenient to have some basic primitives like `pointer_move`, `pointer_down`, etc. handled by Wallaby. That wou

[2017-04-03 14:43] #179 closed

[2017-04-03 17:02] PragTob commented on #180
I think a high level API for pointer interactions will ultimatively be useful fo people for a number of reasons, so I'm all :+1: for it.

At the same time, it's not at the top of my pirority list as of now as there's still lots of other stuff to do before I'd get my hands on that :D

[2017-04-03 17:05] PragTob commented on #177
As a working thing, I'd say if whoever starts working on one of this just post here the name of the function you started working on removing all the deprecations (like I dunno, `find` or whatever). That way we can synchronize, save for `find` itself there also shouldn't be too much overlap :)

[2017-04-04 05:48] #172 closed

[2017-04-04 07:09] PragTob opened #186 "Reinstate dialyzer spec checking in travis build"
Removed in #185 due to random failures would be great to have again.

[2017-04-04 07:19] PragTob commented on #186
Important input from @nobbz

[2017-04-04 13:57] keathley commented on #186
Are the timeouts due to the PLT generation step? If so, is it possible to cache the PLT on AWS or something similar?

[2017-04-04 13:58] keathley commented on #180
If I can get #174 fixed up then I can take a look at this. Otherwise @CMaylone if you're interested in working on this I can give you a detailed list of what would need to happen.

[2017-04-04 15:10] aaronrenner commented on #186
I'm looking into the PLT generation error this morning. Here are a couple of things I'm trying:

1. Running with `sudo: required` so we get to run on a [vm with 7.5GB of memory](https://docs.travis-ci.com/user/ci-environment/#Virtualization-environments).
2. Using [`travis_wait`](https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received) to make sure we

[2017-04-04 17:32] CMaylone commented on #180
Sounds great! I would be willing to give it a shot. Full disclosure, my only Elixir experience was adding this library to my existing (non-Elixir) project. It might take me some time to ramp up.

[2017-04-04 17:41] PragTob commented on #180
@CMaylone not that wallaby isn't awesome, but if your project isn't elixir you might have more success with [capybara](https://github.com/teamcapybara/capybara) and [poltergeist](https://github.com/teampoltergeist/poltergeist) from the ruby world as the projects are already more mature and might already have the functionality you are looking for + x.

Still, contributions heartfully welcome :)

[2017-04-04 18:01] #186 closed

[2017-04-05 20:09] aaronrenner opened #192 "Issue running in escript application"
I'm working on project that requires me to embed wallaby in an escript. However when I do so, I get the following error when starting my app.

[code]

After a little troubleshooting, it appears the issue is that nothing in priv (including priv/run_phantom.js) is embedded in the escript. I saw [this forum post](https://elixirforum.com/t/is-it-possible-to-include-resource-files-when-packaging-my-pro

[2017-04-06 20:04] #192 closed

[2017-04-07 14:15] aellispierce commented on #136
I can give this a shot

[2017-04-07 14:17] PragTob commented on #136
Hey, please do! :)

Let us know if you have any sorts of questions, happy to help! :tada:

[2017-04-07 17:01] brandonparsons commented on #57
@lukerollans Is there a way now to interact /w browser cookies through Wallaby?

While I agree with you that a real user's flow through the login page must be tested, you really only need to do this once. If you have a test that proves a user can successfully log in, it seems wasteful to do that on _every single test_. Would prefer to be able to drop in a cookie on the remainder of tests.

[2017-04-07 17:10] brandonparsons commented on #57
Poking around a bit I've found https://github.com/keathley/wallaby/blob/master/lib/wallaby/browser.ex#L1033 . It doesn't show up in the official documentation, but I'm assuming I can use this?

[2017-04-07 17:13] keathley commented on #57
@brandonparsons retrieving and setting cookies is supported in master right now. It'll be available in the next release.

As a side note, projects I've had in the past have had some issues with logging in with cookies. It works well at first but if your auth starts to change it can cause issues. Typically I just default to always logging in the user. But thats just like, my opinion, man. In the ne

[2017-04-07 23:08] brandonparsons commented on #57
@keathley Fair enough. I was slowly coming to that conclusion after fighting with Phoenix for a few hours just trying to get it to do what I want with the session cookie haha :)

[2017-04-09 17:20] brandonparsons commented on #174
I'm getting some strange behavior /w Wallaby and PhantomJS, and wondering if it is related to this issue.

After running my tests (even if I've excluded all feature tests), I see the following output in the console:

[code]

And then after the test suite has exited, I end up with a pile of phantomJS processes still running:

[code]

Every time my tests run, these processes multiply, until my compu

[2017-04-10 13:34] keathley commented on #174
@brandonparsons was this happening using master? Or the most recent release? Did the version of phantom change when you installed it through `brew`?

[2017-04-11 16:10] brandonparsons commented on #174
@keathley I was using the most recent release of wallaby (not master).

To be honest I'm not sure if the version of phantomjs changed. I could have a peek when I'm back on that computer and check if it helps.

[2017-04-14 08:17] PragTob opened #196 "Raise a Wallaby Error if an Error in execute_(phantom)_script occurs"
Pulled from #173

As shown in [this comment](https://github.com/keathley/wallaby/pull/173#discussion_r109835512) we don't seem to raise Wallaby errors every time a JS error is produced here (example stolen from the comment):

[code]

Raising an exception here is what we wanna do instead. `check_logs!` is already used in those functions though.

[2017-04-14 08:43] PragTob commented on #177
Removing choose now

[2017-04-18 03:11] krankin commented on #95
@keathley - So I was playing around with this and had a question about how you want to handle javascript errors on the Genserver side?  In the case where we have a javascript error, raising a ```Wallaby.JSError``` goes uncaught and crashes the Genserver if you move current logging behavior server side.

We could do something to notify the client, but doesn't that kinda defeat the purpose of this a

[2017-04-25 22:27] hisapy commented on #164
Hey guys,

I'm sorry for what I'm about to say. Unfortunately, despite I love Wallaby's _syntax_, I'm going to have to switch back to Hound mostly due to the following issues

1. Constant connection refused errors. I don't know if something related to how the `:poolboy` stuff is being handled by PhantomJS crashes and I it's really complicated to debug. It's so weird that for example, these tests s

[2017-04-26 02:14] keathley commented on #164
@hisapy If Hound suits your needs then you should use it. Its a fine library. If you want to provide more detail about the connection refused issues I can take a look at it. If PhantomJS is crashing then that seems like a major issue. I haven't seen that before so it would be good to know about.

If you ever want to contribute feel free to just jump in. If you have any questions I'm sure all of us

[2017-04-29 12:15] graeme-defty opened #207 "Stale Reference"
I am getting  stale reference trying to click a link. This has to be something I am doing wrong, otherwise the whole world would be shouting about it, but I am at a loss to know what it is. My screenshot clearly shows the link is there.

Any suggestions?
_____________
[code]
gives
[code]

[2017-04-29 12:33] PragTob commented on #207
Hey,

I'm not too sure but what might be hitting you there is that `find` doesn't return the session but rather the element it found. When `visit` is called with that as an argument I don't know what exactly happens but we should probably forbid it :D It might be that the error only really pops when you reach `click`.

If I'm right getting rid off `|> find(Query.text("ok"))` should fix it.

To not

[2017-04-29 12:50] graeme-defty commented on #207
No, you are spot on. As soon as I took that line out all is well and
working beautifully. (Perhaps a check in these functions to ensure correct
parameters would be a good idea ;-) )

Thanks for the super-rapid response.

Cheers,

Graeme

On 29 April 2017 at 19:33, Tobias Pfeiffer <notifications@github.com> wrote:

[2017-04-29 12:51] #207 closed

[2017-04-29 15:14] PragTob commented on #207
It's already fixed on master as I just noticed :)

[2017-05-01 20:35] keathley opened #208 "Add example of running multiple clients in a single test to the README"
I was encouraged to do this by some folks on the elixir slack. They couldn't find it in the docs and thought that it would make sense to include on the README since its a useful feature.

[2017-05-02 19:47] jb-san opened #211 "Chrome headless driver"
it would be great to have an option to use the
https://developers.google.com/web/updates/2017/04/headless-chrome
as a driver

[2017-05-03 13:45] keathley commented on #211
Thanks @jb-san. This is definitely in the works. A lot of the preliminary work is being done with #198.

[2017-05-03 14:37] PragTob commented on #211
Heyho, reopening so other PRs can reference this and we can really close it once the driver is implemented and done - which might be a while but as @keathley said #198 already takes us almost there :)

[2017-05-03 18:43] PragTob commented on #208
Big :+1: from me, I think the README should include all major features or at least links to them - it results in big-ish README's but it's a nice entry point for people looking for something and evaluating the library

[2017-05-07 11:43] graeme-defty commented on #177
Work on this seems to have slowed down a lot. Frustrated by trying to look through browser.ex with all the deprecated functions in place, I deleted them all. No tests failed as a result, but that is because someone thoughtfully removed the failing tests ;-)

The removal of the tests has been pushed, but not the removal of the actual deprecated functions.

Would my changes (i.e. the deletions) make

[2017-05-07 12:17] PragTob commented on #177
Hi there @graeme-defty - the tests aren't removed yet. I suspect you ran `mix test` but since a recent test you need to run `mix test.all` for which lots of tests should be failing then, at least I get lots of deprecation warnings.

Work has slowed down a bit here, true. I'm busy with non wallaby stuff and a lot of work also went into the selenium stuff - I might get back to some function removals

[2017-05-07 14:01] graeme-defty commented on #177
Yes, exactly what I was doing. I have plenty of errors now, thanks. <grin>

Happy to lend a hand with this, if it helps.

g

On 7 May 2017 at 19:17, Tobias Pfeiffer <notifications@github.com> wrote:

[2017-05-07 16:00] graeme-defty commented on #177
OK, so I looked at the very first deprecated function in browser.ex. This turned out to be check/n. My concern here is that it seems that removing check and uncheck removes functionality from the API.

As it stands, I can set (check), unset (uncheck) or toggle (click) the value of an option. Removing check and uncheck is a reduction in capability since now I can only toggle the value. Of course I

[2017-05-07 16:09] PragTob commented on #177
Hi there,

your master seems to be out of date. `check` was already removed in 894b72d0cb5

I can see your concern about the removed functionality, this could best be discussed in a separate issue that you could open and then also tag @keathley in there as he first defined those functions as deprecated and I'm sure he had an idea about it :)

I'm not sure about them. You are right though, click on

[2017-05-07 23:09] graeme-defty commented on #177
Hi Tobi

Thanks for the advice and guidance.

I will (a) make sure I am working off the latest master and then (b) open
another issue making the case for another review of the interface. I am
still pretty new to Wallaby, so I hope I am not asking folks to go over old
ground, but I feel this is important as this API is a big part of how the
user views the framework.

Thanks again.

graeme

On 7 May

[2017-05-08 06:46] PragTob commented on #177
@graeme-defty don't worry about making us go over old ground, "worst" case there is already an issue/comment where the thinking is explained and we'll just link to it :) Thanks for contributing to wallaby!

[2017-05-08 15:03] keathley commented on #177
@graeme-defty Thanks for the comments! I agree that we're loosing some functionality by removing check and uncheck. But the bigger idea behind these deprecations is to separate querying from actions. I'll use `click_link` and `click_button` as an example for a moment and then talk about why I feel like removing `check` and `uncheck` is a good idea.

The only reason to have `click_link` and `click_

[2017-05-08 15:47] PragTob commented on #177
That makes sense to me at least, thanks for taking the time to explain @keathley ! :)

[2017-05-09 04:48] graeme-defty commented on #177
@keathley OK – let me try to outline my thinking in the most compelling way (experience tells me that I quite probably have only one shot at this, so it had better be good! :-) )

Apologies in advance for the length of this post, but I want to make sure I express myself clearly and there are a number of facets I want to explore.

First let me say thank you for taking time to listen. I am not being

[2017-05-09 07:37] graeme-defty commented on #177
OR ...
Maybe the way to look at it is that some DOM elements have a value and others do not.

Things without value would be links and buttons. You can click them and that's it.

Things with value include check boxes, radio button groups, drop-down lists and text boxes (any others?).  The  `set_value` functino could be retained to set the value of these elements. Depending on the type of the elemen

[2017-05-09 14:06] keathley commented on #177
@graeme-defty No worries about all of the text. I really do appreciate you taking the time to thinking about this stuff. :heart:

I think keeping `set_value` around makes a lot of sense. Its not as clear as `check` or `uncheck` but it allows users to compose their own actions in a more meaningful way. I need to do some more thinking about this stuff. We are going to have to make exceptions for oth

[2017-05-10 02:59] graeme-defty opened #216 "Add an option to Query to select one from a list of results"
Example: On a screen with a long list of items, it is not unusual to have a `Go Back` link at the top and bottom of the list. I can easily specify that there are 2 of them, but picking one out for action a little more troublesome. Possible, certainly, but requires a bit of coding.

Suggestion: It would be nice if `Query` allowed me to select one of them to click - e.g. `pick: 1` to select the firs

[2017-05-10 12:18] graeme-defty commented on #177
Sounds good.
Sorry I did not think of the that suggestion first. I could have saved myself a lot of typing and you a lot of reading!

[2017-05-10 12:34] graeme-defty commented on #177
I just posted a pull request for removing deprecated attr/2. (Stayed with a baby one :-) )

I am looking now at what needs to be done to set_value.

[2017-05-10 18:39] PragTob opened #221 "Build failing on master"
Recent master build: https://travis-ci.org/keathley/wallaby/jobs/230747171

Also seems to be failing on the PRs (of course) so we should make it a prio to get this fixed.

It might be a flaky thing, but from what I can see we can see the following:

Elixir 1.4.2 with Erlang 19 on Selenium 3 (at least on master also Elixir 1.3 with Selenium 3 fails) seems to fail on both builds with quite weird err

[2017-05-10 18:48] PragTob commented on #216
Not sure if that's a case for a method in `Query` - couldn't something like this be done with the css [`:first-child`](https://www.w3schools.com/cssref/sel_firstchild.asp) selector or similar things?

[2017-05-10 19:19] aaronrenner commented on #221
@keathley It looks like there was an issue downloading Firefox from Mozilla. Here are the relevant logs:

[code]

I just tried it on my own travis ci environment and the test suite is green: https://travis-ci.org/aaronrenner/wallaby/builds/230883580.

As a side note, we should probably build a much friendlier error api. 😄

[2017-05-10 19:30] PragTob commented on #221
haha I see that :) Maybe we can build in a retry there or something?

[2017-05-10 19:33] PragTob commented on #221
Also, I just restarted a bunch of  hoping that it was flaky behaviour (we had some weird internet problems at work today)

[2017-05-10 19:36] aaronrenner commented on #221
Sorry I mentioned Chris not you, @PragTob. For some reason I thought he was the one that opened the issue. Should we see if this becomes a regular issue before we build retry in to the start_server.sh script? This is the first I've seen of this particular issue.

[2017-05-10 19:56] keathley commented on #216
The only issue with doing it in css is that it wouldn't work with the queries for form elements. In that case we'd need something like a `pick` option. A potential problem I see with `pick` is that it could potentially be non-deterministic. We'd have to make sure that the list of elements is always returned in the same order for each driver.

[2017-05-10 20:05] PragTob commented on #221
sure thing, I'm a friend of being pragmatic but also of resilient tests. We'll see how it goes and keep it open

[2017-05-10 20:08] keathley commented on #221
I've noticed this a bit in the past. So it seems like the root is that travis can't download firefox. Is that an issue with the firefox cdn potentially? Or travis? Is there a way to provide a custom build image to travis?

[2017-05-10 20:13] keathley commented on #221
Also can we just use the firefox that exists on travis? https://docs.travis-ci.com/user/ci-environment/#Firefox

Or do we need a specific version?

[2017-05-10 20:33] aaronrenner commented on #221
The reason I didn't use the travis provided Firefox is because we need a different version for selenium 2 and selenium 3. I think the max version supported by Selenium 2 is 46.0 and Selenium 3 needs 47.0 or later. I'm not sure how to install different version of firefox in per environment using .travis.yml

[2017-05-11 00:20] keathley commented on #221
Is it always selenium 3 that's failing? Is there anyway to create a vm or docker container that already has everything we need and use that as the base image for Travis? I know circle CI has support for that sorta thing (not sure if it's available for open source or not)

[2017-05-11 00:49] graeme-defty commented on #216
That's a good point. I had not thought about the order of elements in the list. Or rather I had just assumed they would be in the order they appear in the DOM.

After a bit of a search of the W3C WebDriver spec, I arrived at the following statement:

**"If the order of elements matter, they must be sorted in shadow-including tree order, unless otherwise specified."**

There is also a definition of

[2017-05-11 03:27] keathley commented on #216
We'll also need to make sure that the drivers actually conform to the spec correctly. These are browsers that we're dealing with after all ;)

It seems like this could be a useful feature but I'd like to take a look at the implementation first. It seems like you could just do something like this: `find(session, button("Button", count: 2)) |> Enum.at(0)` That example isn't chainable but you could d

[2017-05-11 06:30] PragTob commented on #221
for the cases I observed it was always Selenium 3 that was failing...

Using [docker images in travis is totally possible](https://docs.travis-ci.com/user/docker/) it's not my strong suite though :)

[2017-05-11 13:51] keathley commented on #221
If we keep having issues with flaky tests we can use that as a backup strategy. We'd probably get a pretty big speed boost as well since it wouldn't have to install anything.

[2017-05-11 17:10] keathley commented on #178
closed with #223

[2017-05-11 17:10] #178 closed

[2017-05-11 18:08] aaronrenner opened #224 "Fix zombie phantomjs processes"
It looks like since #193 was merged, wallaby is not closing phantomjs processes after the BEAM terminates. I think a better solution (that still keeps wallaby compatible with escripts) would be to write a startup script out to /tmp and then execute it. That should prevent us having to use sub-shells which is causing these zombie proceses. I'm definitely open to other ideas if you have them.

[2017-05-11 20:24] keathley commented on #224
Lets try the tmp file for now. I spiked on this at one point and was having some issues with the permissions but you might be able to get something working.

[2017-05-12 01:39] graeme-defty opened #227 "All selenium tests failing with :econnrefused"
All my selenium tests are failing
[code]

Do I need some additional setup ?

[2017-05-12 02:08] keathley commented on #227
Do you also have geckodriver installed?

[2017-05-12 19:30] jb-san commented on #211
i saw that there is an experimental selenium driver.. and i found this https://intoli.com/blog/running-selenium-with-headless-chrome/ i might give it a try

[2017-05-12 20:52] keathley commented on #227
If that doesn't solve it @aaronrenner might have some more insight.

[2017-05-12 21:07] keathley opened #236 "Misreporting html errors with radio buttons and checkboxes if the text is capitalized with css."
This is something that I just noticed. Its pretty common to set a radio button inside a label like so:

[code]

In these cases Wallaby shouldn't complain about the label missing a `for` but it does. The reason why is kinda interesting.

If the label has some css on it like so `text-transform: capitalize` then in the browser the text will appear as "Some Radio". If you then try to click the radio u

[2017-05-13 01:08] graeme-defty commented on #227
Someone mention "missing setup"?

Thank you @keathley. However, now I get `{"error", "unknown command"}`:

[code]
I thought perhaps related to the version of GeckoDriver, but I am running the latest - 16.1.

Any thoughts, @aaronrenner?

[2017-05-13 02:32] aaronrenner commented on #227
If you're on a Mac, the easiest thing to do is install the latest firefox, then

[code]
then run selenium with the following command (no need to start geckodriver directly)

[code]

That should get you up and running with Selenium 3.4.0 and Geckodriver 0.16.1. Then you can run the wallaby integration tests against selenium in a separate terminal with

[code]

If you're on linux, check out `test/to

[2017-05-13 05:09] graeme-defty commented on #177
I have created a PR for the extension to set_value so it now works with check boxes, and incidentally, radio buttons and drop-down list options.

[2017-05-13 12:49] PragTob commented on #227
@aaronrenner please most definitely! When new contributors wanna get on board I want them to have a clear path to a good and functioning test setup so they don't run into these errors when they execute `mix test.all` - I also just noticed that I don't know how to run a single integration test but that's for another issue I think :)

[2017-05-13 14:14] aaronrenner commented on #227
I'll work on documenting it. To run a single integration test, it works like the regular mix test command:

[code]
or
[code]

[2017-05-13 14:44] PragTob commented on #227
@aaronrenner thanks! We might wanna work on a better error message then though, as without the set driver it fails with a nasty compilation error:

[code]

[2017-05-14 09:45] graeme-defty commented on #216
Yes, it is certainly possible to pick out the element you want from the list using code. I was just looking for a declarative way of doing it.

Would you like me to look at a possible implementation?

[2017-05-14 13:26] keathley commented on #216
That would be great. I agree that having a declarative api for this situation could be really useful.

[2017-05-16 10:12] scmx opened #241 "`Wallaby.Browser.current_path/1` doesn't include query parameters"
Hello, I noticed that `current_path(session)` will give the current path without query parameters. For my use case I wanted to test against a path with query parameters included.
[code]
Looking at https://github.com/keathley/wallaby/blob/master/lib/wallaby/phantom/driver.ex#L171-L178 we can see this implementation:
[code]

Would you like a pull-request that changes it to return query parameters as

[2017-05-16 10:12] scmx commented on #241
I've solved by use case for now with:
[code]
[code]

[code]

[2017-05-16 16:36] keathley commented on #241
Thanks for this @scmx :+1:

I think if we want to provide additional functionality here then the best thing would be a helper like `current_params`. That makes the most sense to me since the params aren't _technically_ part of the url path.

[2017-05-21 09:50] PragTob commented on #241
:+1: to what @keathley said :)

[2017-05-21 14:08] PragTob commented on #221
Recent builds were all successful, closing for now.

[2017-05-21 14:08] #221 closed

[2017-05-21 14:22] PragTob opened #248 "function/module documentation with usage examples"
The documentation for wallaby is improvable :)

Imo `Browser` and `Query` are the most important modules.

What should good documentation have imo?

* a short description of the general purpose of the function
* a longer description with edge cases etc. if needed
* usage example (**!!!**) (ideally doctests, but I think that's hard/not practical for us) so that it's easy for people to get into

Som

[2017-05-23 14:13] keathley commented on #168
@NobbZ I just tested this with Wallaby 0.17 and its returning the correct error now. Thanks for that repo! It made it very easy to test with.

[2017-05-23 14:13] #168 closed

[2017-05-23 14:14] keathley commented on #168
For the sake of maintaining history this was fixed as part of in #235.

[2017-05-23 14:15] keathley commented on #208
This has been added to the README.

[2017-05-23 14:15] #208 closed

[2017-05-23 14:16] keathley commented on #176
@gpad I'm going to close this for now since I'm not sure how else to diagnose the issue. If you discover the root cause feel free to re-open this. Thanks :+1:

[2017-05-23 14:16] #176 closed

[2017-05-23 14:17] keathley commented on #177
All deprecated functions were removed with v0.17. :tada:

[2017-05-23 14:17] #177 closed

[2017-05-23 14:18] keathley commented on #169
Closing since this has been merged with #173

[2017-05-23 14:18] #169 closed

[2017-05-25 03:49] graeme-defty commented on #216
New PR provided - #249

[2017-05-25 12:05] opsb opened #254 "Nicer API for execute_script with callback?"
I've started using this helper to avoid having to do the assert_receive dance. Is it worth using this approach for `execute_script(session, script, callback)`?

[code]

example use

[code]

[2017-05-25 14:04] keathley commented on #254
That looks totally reasonable to me although I'm actually surprised we have to do this. `execute_script` shouldn't be async. Is the issue that it can time out?

Sorry I'm probably being dense but I'm just trying to understand the root issue 😄 .

[2017-05-25 15:44] opsb commented on #254
I have to admit I only gave https://github.com/keathley/wallaby/pull/183 a cursory look originally. Now I reread it I don't actually see what the issue is 😕 . @krankin could you expand on what the issue is here?

[2017-05-25 16:23] krankin commented on #254
@opsb -- I may not fully understand what you're asking. The reason #183 has tests using ```assert_receive``` calls is to allow the tests to confirm the callback passed to ```execute_script``` is being executed. The wrapper around it is a good idea IMO, especially if you want to check for timeouts and the like. You can use ```execute_script``` without the ```assert_receive```, but if you put any as

[2017-05-25 16:25] krankin commented on #254
It's also entirely possible there's a better way to ensure the callback is called.

[2017-05-25 18:37] keathley commented on #254
When would the callback not be called?

[2017-05-25 19:18] opsb commented on #254
hmm, I'm not sure happened when I was looking at this earlier but I was finding that the callback wasn't being called. Now I've checked it again and it works as expected, without the assert_receive, guess I had a gremlin in there... @krankin I see your point, without the assert_receive it's possible that execute_script might have a broken implementation(where the callback isn't called) and you'd s

[2017-05-25 19:19] #254 closed

[2017-05-30 07:32] PragTob opened #255 "Set up linting"
We should really set up linting e.g. [credo](https://github.com/rrrene/credo/) with some sensible configuration for the project.

I believe it makes contributions easier as contributors don't have to fix style problems, which also makes reviews easier and also it makes the whole database more consistent.

[2017-05-31 10:04] jeffdeville opened #256 "Wallaby.Query.text_field - label text is an 'include' query. Fails with 2 fields with same string"
My registration form has Password, and Password confirmation.

`fill_in(text_field("Password confirmation"), with: "password")`

works just fine.  However:

`fill_in(text_field("Password"), with: "password")`

fails because it finds 2 elements.  This happens because the generated XPath is doing a text include query.  I can certainly see why such a decision was made, but I think it might be better

[2017-06-01 12:42] jacobw56 opened #258 "end-to-end testing a basic form using reCaptcha v2"
First, thanks for the awesome job on wallaby.  It is such a useful tool!

This is more of a documentation request if there is someone smart enough to figure it out (so far, not me).  I'd like to be able to run an end to end test on a simple test page containing reCaptcha v2, but I can't get it to even show up properly in either phantom or selenium, let alone find the element to manipulate.  If you

[2017-06-01 20:08] aaronrenner commented on #255
I completely agree linting would be awesome. It will just take quite a bit of work to fix all of the style issues in the codebase. I wonder if there's a way to ease into using credo without failing all of our builds until we fix all of the style issue? I know https://www.houndci.com takes the approach of only reviewing pull requests so you don't have to update the entire app at once. I wonder if h

[2017-06-01 21:38] PragTob commented on #255
ha, good point we could use ebert!

But even without it, you can configure credo with todos so that you already enable a couple of rules and put the others into TODO basically and work on them PR by PR. We did that in one of our projects and it works quite well. Builds absolutely shouldn't be failing :)

[2017-06-03 18:25] keathley commented on #258
A quick google search turned this up: https://developers.google.com/recaptcha/docs/faq#id-like-to-run-automated-tests-with-recaptcha-v2-what-should-i-do.

Looks like you'll need to set those keys when running tests.

If the library isn't loading at all then it might be an issue with loading the assets from an external source in phantom and selenium. Being able to see your html and a basic test wou

[2017-06-07 18:54] vnegrisolo commented on #224
@aaronrenner are you using **mac**? I had the same problem as you described and I fixed the same way as described by @brandonparsons [here](https://github.com/keathley/wallaby/issues/174#issuecomment-292799214).

I don't know the reason but I reinstalled `phantomjs` with brew and I don't have zombie phantomjs processes anymore 💯

[code]

[2017-06-08 12:21] PragTob commented on #211
Just fyi, [this is happening y'all](https://twitter.com/chriskeathley?lang=en) :zap: :zap: :tada:

![selection_076](https://user-images.githubusercontent.com/606517/26928257-bf00c16c-4c55-11e7-8821-c21b459b756b.png)

[2017-06-10 11:13] fusillicode commented on #110
Hi, I together with @gr0uch0dev and @xrmx tried to tackle this issue but we got stuck due the impossibility to access the context from the `Wallaby.Browser.take_screenshot`.

We tried to "go up in the stack" and look at the `take_screenshot` callers (e.g. `Wallaby.find`) but also at their level the context wasn't available.

Just to clarify our investigations were aimed to automatically gave bette

[2017-06-11 13:32] keathley commented on #110
@fusillicode take a look at #156. The idea in that implementation is that we could pass the name of the test in as an optional param when starting the session.

[2017-06-14 08:23] jameslong commented on #224
As a Ubuntu 16.04 user with phantomjs-prebuilt 2.1.1 and Wallaby 0.17 I am seeing this issue. Sorry I don't have time to address this myself but it would be great to have a fix.

[2017-06-14 09:48] jameslong opened #263 "Usage question: should we rebind session after each query?"
Currently, our tests pass even without rebinding session e.g.

[code]

However, this is counterintuitive: each query function returns a new session struct so you would assume that session needs to be rebound. e.g.

[code]

My question is, going forward can we rely on our tests working without the rebinding? i.e. will the session struct continue to be a simple proxy to the driver process?

And if s

[2017-06-15 13:58] keathley commented on #224
@aaronrenner Check out some of the changes I'm making to `run_command.sh` in my chromedriver branch. We may be able to resolve these issues that way.

[2017-06-15 14:03] keathley commented on #263
The session is very rarely changed. I believe the only time we'll return a new session struct is after a screenshot (we add the path to each screenshot to the `screenshots:` list on the session struct).

Currently the only reason to return the session struct is to allow chaining. Its been suggested before that we should hide that session from the tests all-together. I haven't been convinced by tho

[2017-06-15 14:18] jameslong commented on #263
@keathley Thanks. Just to clarify, the recommendation is not to rebind session for now?

[2017-06-15 15:08] #263 closed

[2017-06-15 23:13] vanderhoop commented on #211
OH YEAHHHHHHHHHHHHH!

[2017-06-15 23:13] vanderhoop commented on #211
OH FUCK YEAHHHHHHH!

[2017-06-16 16:26] GildedHonour opened #265 ""PhantomJS has crashed" -- for any url"
Code:
[code]

Error:
[code]

PhantomJS 2.1.1
geckodriver 0.16.1

[2017-06-16 16:41] PragTob commented on #265
Hm looks like phantom wasn't started correctly? Also looks a bit like it was using `sh` and not `bash` to run the script which might or might not be intended :thinking:

are you running max or Linux?

I also run phantomjs 2.1.1 so it should work...

[2017-06-16 17:06] GildedHonour commented on #265
arch linux

[2017-06-16 17:54] keathley commented on #265
Is your phantom installed through npm or through something like pacman? Typically those sorts of errors. What is the specific url that you're trying to navigate to? My hunch is that this is a bug with phantom.

[2017-06-16 17:54] keathley commented on #258
@jacobw56 I'm going to close this for now. If you have other issues feel free to re-open.

[2017-06-16 17:54] #258 closed

[2017-06-16 19:28] PragTob commented on #265
yeah maybe some sort of installation error... if you installed via npm/pacman maybe try the other route and try use the wallaby config for the phantom path to point to the correct one (I usually use the phantom package which is phantomjs-prebuilt or something)

[2017-06-17 01:03] GildedHonour commented on #265
installed by pacman
any url
no installation error

[2017-06-17 02:19] keathley commented on #265
Do you have any other configuration that would be important to see here? Can you run strace to see if its doing anything funky? Have you tried using phantom-prebuilt from npm? Let me know if you have any other input for reproducing this bug.

[2017-06-19 00:24] juddey commented on #176
Hello! I know this is a closed issue but I thought I would share what I found this morning wrestling with react components and phantomjs and wallaby:

**tldr**; Update `phantomjs` to the latest development build (2.5.0), available here: https://bitbucket.org/ariya/phantomjs/downloads/

Longer:
I had similiar issues as gpad with my components not rendering. Tried several things (including installin

[2017-06-19 07:41] PragTob commented on #176
@juddey thanks for the work digging in and letting us know.

As a side note, I'm not sure that ES6 is a feature as lots of browsers don't support ES6 yet so transpiling is still a must imo :)

[2017-06-19 22:37] juddey commented on #176
Yep, I wasn't questioning transpiling. If you're lucky (like me) you won't need to support older browsers so this might be all you need. I'll leave this issue as is and won't PR into the readme - it'll just have to be taken out again at a later state.
:wave:

[2017-06-29 06:35] knewter opened #266 "It would be nice to pretty-print a `Wallaby.Element`"
Right now I can do this if I pipe it and get the `outerHTML`:

[code]

but it's not so pretty :) Would be neat to get a nice output of "what exactly did I grab here?" for debugging purposes. Only added this issue because @PragTob suggested it, otherwise I'd feel like I was piling on personal wishlist features :)

[2017-06-30 03:21] viniciussbs commented on #109
@NobbZ [You can pass more than one repo to `metadata_for`](https://github.com/phoenixframework/phoenix_ecto/blob/master/lib/phoenix_ecto/sql/sandbox.ex#L50-L58). This should work:

[code]

[2017-06-30 11:01] ahmetabdi opened #267 "fill_in doesn't work when a input is hidden is this intended?"
If it is intended is there a way to populate the hidden field?

`<input id="table_column_id" name="table[column_id]" type="hidden">`

`fill_in(session, css("#table_column_id"), with: column.id)`

Error:

`** (Wallaby.QueryError) Expected to find 1, visible element that matched the css '#table_column_id' but 0, visible elements were found.`

[2017-06-30 11:08] PragTob commented on #267
It is intended for hidden inputs not to be found, that's also why the error message says "visible element". You can check out the [Query Options](https://hexdocs.pm/wallaby/0.16.1/Wallaby.Query.html#module-query-options) - you can pass in `visible: false` to your query (`css`) and then it should work.

[2017-06-30 11:08] #267 closed

[2017-06-30 17:39] GeorgeKaraszi opened #268 "Authentication cookie-session setting?"
Hello,

I'm in the process of learning elixir, phoenix, and wallaby for feature testing. But there is one consistent issue that I cannot find any answers to.

Its setting a session variable to login or to keep a user logged in.

Right now I have UeberAuth Github as my authentication package.

The way that I can ensure the user is still logged in, is that I set a session as
[code]

Later this is re

[2017-06-30 18:54] PragTob commented on #268
Hey you can use [`set_cookie/3`](https://hexdocs.pm/wallaby/Wallaby.Browser.html#set_cookie/3). Alternatively, you can also provide a specific controller end point that just exists in the test and development environment that logs you in as whoever you want without a password check. I use that in one of my apps.

[2017-06-30 18:54] #268 closed

[2017-07-04 22:04] viniciussbs opened #269 "Wallaby does not close Chrome after tests - using Selenium"
I'm using Chrome with Selenium and Wallaby does not close the browsers after the tests finish running.

I have `selenium-server` running and I start my test suit with `WALLABY_DRIVER=selenium mix test`.

This is how I start sessions:

[code]

I've tried to call `Wallaby.end_session(opts)` on `on_exit` but ended up facing DB ownership issues.

[2017-07-05 00:16] viniciussbs opened #270 "Can't visit "about:blank" when using base URL"
I'm using base URL. When I visit "about:blank", Wallaby appends it to the base URL.

[2017-07-07 01:59] philliplongman opened #271 "Small default window size"
The default PhantomJS window size is 480 x 800, which isn't terribly useful for taking screenshots.

I added a line in my FeatureCase to resize the window, but maybe it would be a good idea to increase the default size.

[2017-07-07 03:05] philliplongman opened #272 "attach_file only works on visible file inputs"
I've got a test like this. It works fine as long as `#file` is visible.
[code]
But I set it to `display: none`, I get an error—even if I pass `visible: false`
[code]

[2017-07-07 13:35] keathley commented on #271
Thanks @philliplongman! There's an open issue about this here: #152. If you would like to submit a PR for this then that would be great. I'd be more then happy to discuss the necessary steps with you. Otherwise I'll probably won't get to it until after I finish the work to support chromedriver.

[2017-07-07 13:35] #271 closed

[2017-07-07 13:37] keathley commented on #272
Thanks for the writeup @philliplongman.

Its interesting that you're getting an httpoison error for this. I'll try to re-create this on my machine and see if I can figure out whats going on.

[2017-07-07 15:30] philliplongman commented on #272
I have to admit, I don't understand why an HTTP request is involved at all. But I'm still a newer developer, and I assume I just don't understand how a headless driver works.

Here's my repo at it's current commit: https://github.com/philliplongman/csv-reader-elixir/tree/50ca7c634b18522360c1f6df80a74f8938994480

I'm using webpack instead of Brunch. I think that was mentioned in another issue about

[2017-07-07 16:25] keathley commented on #272
Thanks for the repo! I'll take a look.

The reason we need to make an http request is due to how we communicate with the browser. We use a technology called WebDriver. WebDriver is a spec that browser can implement which allows for controlling a browser via a set of http calls. In theory it allows for a single interface to be able to drive multiple types of browser. In practice...well, these are b

[2017-07-07 22:19] philliplongman commented on #271
Well, I actually thought I'd take a stab at this. I forked the project and cloned it. But when I run `mix test.all` every test in the third set fails with `** (MatchError) no match of right hand side value: {:error, %HTTPoison.Error{id: nil, reason: :econnrefused}}`. Tried uninstalling PhantomJS and reinstalling it via npm, but that didn't help.

[2017-07-08 08:23] PragTob commented on #271
:wave:

The README might not be too clear on it but it might very well be because you don't have chromedriver installed to run the selenium tests :)

[2017-07-08 19:22] philliplongman commented on #271
Well, I just brew installed chromedriver and they still all fail. So I thought it might need me to start it before running the tests, but no dice.

[2017-07-10 13:14] keathley commented on #271
Have you installed `selenium-standalone` and `geckodriver`? You'll need both of those for the selenium tests. You shouldn't need chromedriver yet since thats not merged to master atm. We definitely need to update the docs on how to get started doing development for wallaby.

In the meantime you should be able to run something like: `WALLABY_DRIVER=phantom mix test` which should run the integration

[2017-07-13 10:40] stevegrossi opened #274 "localStorage persisting across sessions"
In the latest version of Walaby (0.17.0), I believe I'm seeing the contents of `localStorage` persist across Wallaby's phantomjs sessions, despite [PR #93](https://github.com/keathley/wallaby/pull/93) which intended to separate localStorage between phantomjs sessions.

I've created a minimal test case in this repo: https://github.com/stevegrossi/wallaby_test

## Steps to Reproduce

I generated a b

[2017-07-13 13:29] keathley commented on #274
Thanks for the great writeup @stevegrossi :+1:. I'll take a look and see if I can reproduce this locally.

[2017-07-13 14:17] stevegrossi commented on #274
Thanks! I should mention I have a perfectly valid workaround in my app: simply logging out after each feature test so that the `token` I persist in `localStorage` goes away.

And thanks for your hard work on Wallaby!

[2017-07-13 14:23] keown opened #275 "wallaby does not stop phantom after a test run"
hi,
every time i run a `mix test` some phantomjs processes remain alive and they eventually kill my memory/cpu.

my configuration is pretty standard

phoenix 1.3rc
wallaby 0.17.0
phantomjs 2.1.7 (installed via yarn in the `assets/node_modules` folder)

[code]

any ideas?

[2017-07-13 14:23] keown commented on #275
maybe could be some way related to https://github.com/keathley/wallaby/issues/269

[2017-07-13 14:45] keown commented on #275
[code]

sometimes at the end of a test run these lines (or similar ones) are printed in my shell

[2017-07-14 08:04] keown commented on #275
i'm gonna close this. duplicate of https://github.com/keathley/wallaby/issues/224

[2017-07-14 08:04] #275 closed

[2017-07-17 23:24] #211 closed

[2017-07-17 23:29] keathley opened #276 "Allow users to override chrome version"
Right now we rely on chromedriver to select the correct chrome version. This should be configurable and allow users to specify whatever chrome installation they want.

[2017-07-17 23:30] keathley opened #277 "Handle alerts in chrome"
We need to support the same alert functionality that we use for phantomjs in chrome.

[2017-07-17 23:31] keathley opened #278 "Capture JS logs in chrome"
It would be good to capture js errors and logs in chromedriver the same way that we do for phantom. I believe we should be able to do this from the chromedriver verbose logs. If not then we'll have to find a way to capture them somehow.

[2017-07-17 23:35] keathley commented on #270
To make this work we would have to provide a conditional case to the `visit` logic that checked to see if you were trying to navigate to "about:blank" and not prepend the base url in that case. I'm not sure that this is a common enough use case to warrant adding that kind of logic. Can you talk a little bit about your use case for this?

[2017-07-17 23:39] keathley commented on #269
This isn't fixed for selenium or phantom yet but if you use the chrome driver: https://github.com/keathley/wallaby#drivers this should be fixed.

You get db connection issues when an internal process has access to your db connection still. This can sometimes be remedied by forcing the browser to block until those processes have closed.

[2017-07-17 23:40] keathley commented on #265
I'm going to close this for now since I'm not sure how to reproduce it. If you manage to figure anything out feel free to re-open.

[2017-07-17 23:40] #265 closed

[2017-07-17 23:43] keathley commented on #241
I'm going to close this for now. If anyone wants to provide a PR for `current_params` I would love to take a look at it.

[2017-07-17 23:43] #241 closed

[2017-07-17 23:45] keathley commented on #227
I've added more details to the README that explain how to setup the other drivers. Going to close this for now.

[2017-07-17 23:45] #227 closed

[2017-07-18 01:45] tk8817 commented on #276
@florinpatrascu - feel like picking this up for fun?

[2017-07-18 01:46] tk8817 commented on #277
@florinpatrascu - feel like picking this up for fun? we handle this gracefully in `watir` http://watir.github.io/docs/javascript-dialogs/

[2017-07-18 10:52] viniciussbs commented on #270
When people connect to my site they connect to a channel and they loose connection on exit. I have a logic running on channel terminate event. That's what is happening:

- Wallaby starts a new session
- test runs
- Wallaby ends the session
- logic on channel's terminate event starts running
- I get a DB ownership error

To handle this situation, I need to simulate people disconnecting my site so c

[2017-07-18 12:41] keathley commented on #277
We had to build an api for making this work in phantom. It should be much easier with chrome.

[2017-07-18 13:12] keathley commented on #270
I see. Thanks for the explanation. I think you might be able to get around this by having your "user" visit your sites 404 page. It'll depend on how you've set up your channel connection stuff but that might work. If you find a good pattern for this feel free to post it here. Dealing with db connection issues can be tricky and it would probably be worth writing about some different solutions.

[2017-07-18 13:12] #270 closed

[2017-07-18 15:22] florinpatrascu commented on #277
trying to get my head wrapped around this :)

[2017-07-18 15:29] keathley commented on #277
@florinpatrascu awesome thanks! If you have specific questions feel free to ask them here or on the elixir slack/irc. I'm `keathley` on both.

[2017-07-18 15:38] florinpatrascu commented on #277
I am quite new to this, learning to deal with the chromedriver (in Elixir/Wallaby). My team here is using it in heavy-duty mode for many projects (Ruby/Watir), but we also have newer projects where we're starting to use Wallaby :)

[2017-07-18 15:46] keathley commented on #277
Oh rad! Just let me know if I can help in any way.

[2017-07-18 21:09] opsb opened #280 "Misleading {:error, :obscured}"
I got

[code]

when trying to run a test with the selenium driver. In the selenium logs I got the error

[code]

indicating there's a problem with my installed drivers rather than an element being obscured. WebDriver is returning error `13` which is currently mapped to obscured at https://github.com/keathley/wallaby/blob/df1210215c76dd26499559c2db2f884894b3d8f3/lib/wallaby/httpclient.ex#L64.

[2017-07-19 01:52] #269 closed

[2017-07-19 01:56] keathley opened #281 "use metadata in chromedriver"
We aren't appending the metadata to the chrome useragent string. It needs to be included to work correctly with ecto.

[2017-07-19 14:42] #281 closed

[2017-07-20 13:01] viniciussbs opened #283 "No function clause matching in Wallaby.Query.ErrorMessage.method/2"
When I call `assert_has(session, Query.text("my text"))` and Wallaby doesn't find an element with the text, I see this error:

[code]

When I change the call to:

[code]

I see the expected error message:

[code]

Seems like `lib/wallaby/query/error_message.ex` is lacking these:

[code]

[2017-07-20 13:55] keathley commented on #283
Thanks @viniciussbs. I've submitted a PR which fixes this.

[2017-07-20 14:00] keathley commented on #174
Closing sessions automatically when tests end has been merged and released.

[2017-07-20 14:00] #174 closed

[2017-07-20 14:04] keathley commented on #131
This should be resolved now that #279 has been merged.

[2017-07-20 14:04] #131 closed

[2017-07-20 14:06] keathley commented on #102
I just wanted to follow up on this to see if anyone had had any luck getting wallaby to work on windows. I also didn't know if it might be easier now that we are supporting chrome and chromedriver.

[2017-07-21 13:04] #283 closed

[2017-07-23 00:58] StevenXL commented on #109
@viniciussbs that suggestion didn't work for me; maybe there are other steps that need to change that we are not considering?

In the meantime, any solution to this? I myself have an app structured like @NobbZ mentioned, with multiple repos.

[2017-07-23 09:48] NobbZ commented on #109
I didn't follow up on this. Shortly after posting the issue I decided to do it the classic way without umbrella. So I do only have a single Repo.

[2017-07-27 14:30] keathley commented on #277
Closing this now that #285 has been merged.

[2017-07-27 14:30] #277 closed

[2017-07-31 12:39] viniciussbs commented on #109
@StevenXL You need to checkout connections:

[code]

I don't remember if there are more steps to follow because I'm not using this anymore. But, if you have Phoenix Channels, check this [issue](https://github.com/phoenixframework/phoenix_ecto/issues/72).

[2017-08-10 02:56] keathley opened #289 "Publishing automation"
What do y'all think about using something like https://github.com/wojtekmach/shipit for publishing new versions of wallaby? Anyone used it before?

[2017-08-10 05:33] PragTob commented on #289
Hm, didn't use it before. From what I can see it adds some checks and some git automation. Not sure if it's worth the overhead although doing the tag creation etc. manually always seems a bit error prone.

[2017-08-10 11:22] rickclare opened #290 "Upgrading from v0.18.1 to v0.19.0 errors with `failed to start child: Wallaby.Experimental.Chrome.Chromedriver` (macOS only, no issues with Linux)"
After upgrading Wallaby from **v0.18.1** to **v0.19.0** our test suite no longer starts, **but only on macOS**.

I'm using the following setup:
* macOS Sierra v10.12.6
* Google Chrome v60.0.3112.90
* chromedriver v2.31.488774
* Erlang OTP 20.0
* Elixir 1.5.1

_Note: We are *not* encountering this issue when running on Linux (test suite runs successfully with 	Ubuntu 16.04.3 LTS in a docker contain

[2017-08-10 19:01] keathley commented on #289
Yeah automating a lot of this seems really nice. Just not sure if we couldn't do it as a shell script or something similar.

[2017-08-12 01:59] keathley commented on #290
Thanks for the detailed report @rickclare. I'm trying to reproduce this locally but so far I haven't had any luck. I'm running the same versions as you are so I'm not sure whats up yet. Did you install chromedriver through brew?

[2017-08-12 02:29] keathley commented on #290
@rickclare finally managed to figure something out. Looks like when wallaby is downloaded the script that we wrap chromedriver in doesn't have execute permissions. I'm guessing something either went wrong when we published to hex or hex has changed the way it handles these files. I'll try to follow up tomorrow to see whats going on. The fact that its still working on linux seems to indicate that i

[2017-08-12 10:38] rickclare commented on #290
That's great, thanks for your work on this @keathley. Let me know if I can help with debugging further

[2017-08-12 10:53] rickclare commented on #290
@keathley I can confirm that updating wallaby to *v0.19.0* and executing the following resolves that issue locally.

[code]

Well spotted, that must have been a pain to find!  Hope you find a fix that gets around the potential _hex_ problem. Very strange that this worked for me in v0.18.0 and v0.18.1, I wonder what has changed in hex?

[2017-08-13 15:04] keathley commented on #290
This is the related issue on hex: https://github.com/hexpm/hex/issues/404. Looks like its been fixed. I'll try to push a new version and make sure things are looking OK.

[2017-08-13 15:17] rickclare commented on #290
Hi @keathley

Unfortunetely v0.19.1 _hasn't fixed the issue:

[code]

[2017-08-13 15:22] keathley commented on #290
@rickclare can you rm -rf your deps and try again? Should be fixed now.

[2017-08-13 15:56] rickclare commented on #290
@keathley Yes, a `rm -rf deps` fixes it.   Excellent, thanks for your help and persistence on this.  Should I close this issue, or would you prefer to close it?

[2017-08-13 16:00] keathley commented on #290
No problem. I had accidentally published 0.19.1 with the incorrect hex version. Had to do a quick cleanup and re-publish before I missed my window. I can close it for now. If something else crops up feel free to re-open :+1:.

[2017-08-13 16:00] #290 closed

[2017-08-21 04:41] QwertyJack opened #292 "Input box filled wrongly"
`fill_in(text_field("User"), with: "123456")` may fill User with '12456', especially with a long text.

[2017-08-21 04:41] QwertyJack opened #293 "Chrome driver won't take screenshot when failure"
When using chrome driver, wallaby says 'write file error' when taking screenshot after test failure.
Chrome 60, chromedriver 2.31

[2017-08-21 04:43] QwertyJack opened #294 "Phantomjs may fail to load some large js and css"
The chrome driver works fine.

[2017-08-21 13:33] naps62 opened #295 "Fails if phantomjs is not installed globally"
I have this in my config, as specified in the docs:

[code]

However, the app still fails until I globally install phantomjs as well (`npm install phantomjs -g`)
Looking at the internal code, it seems that my custom path is still used, but the `Wallabe.Phantom` crashes if a global one does not exist, regardless of the configuration

Is this intended for some reason, or an oversight?

Changing this

[2017-08-21 15:16] keathley commented on #292
@QwertyJack can you give me an example of long text that isn't working? Does this happen for all text input fields? Is there any javascript involved? What browser are you using?

[2017-08-21 15:17] keathley commented on #295
One other thing that you might need to do is change your spelling of `wallaby` from `wallabe`. Not sure if thats your issue though :smile:

[2017-08-21 15:19] keathley commented on #293
@QwertyJack what operating system are you on? Is there any other configuration options you've changed for wallaby? If you set `screenshot_dir: ` in your configuration to a specific directory do you still have this error?

[2017-08-21 15:27] keathley commented on #294
@QwertyJack can you give me an example of a large js / css file to work with? Phantom is working fine with our application's assets and I would count them as "large". I think the more likely scenario is you're having an issue with phantom loading files from a cdn or phantom isn't properly shimmed to handle the version of javascript that you're using. But without more information its impossible to

[2017-08-21 15:37] naps62 commented on #295
@keathley I picked that up later on :smile:
but no, my issue was still valid regardless of the typo

[2017-08-21 17:17] naps62 opened #297 "PhantomJS crashes. Error message doesn't explain much"
I just opened another issue & PR related to phantomJS, but this one is actually unrelated

Regardless of using a global phantomjs installation or a local one, I get this error:

[code]

I can't really figure out what to do here.
In the meantime, switching to use headless chrome seems to work, but since support for that is only experimental, I didn't want to rely on it so much

[2017-08-21 17:46] keathley commented on #297
Whats happening is that your page is throwing a JS error, wallaby is capturing that js error, and its failing your test. This is actually working as intended. Wallaby fails tests when it detects a JS error so that you don't accidentally ship code with errors that might cause regressions for your users. If you want to disable this you can set `js_errors: false` in your config. :+1:

[2017-08-21 17:46] #297 closed

[2017-08-22 01:43] #295 closed

[2017-08-22 05:38] QwertyJack commented on #294
You are right.

[2017-08-22 05:38] #294 closed

[2017-08-22 05:59] QwertyJack commented on #293
Those weird behavior comes together and the system is quite complicated so that I am not sure what's wrong with it.
I will soon build a toy model to reproduce the error, together with issue #292 .

[2017-08-22 10:12] naps62 commented on #297
Thanks. I actually figured that was the case, but couldn't find any reference to that `js_errors: false` option

After a quick look a the readme again I realise that it's there, and I just missed it

[2017-08-23 14:26] VEkh commented on #278
+1 👍

[2017-08-23 18:00] st23am commented on #109
@viniciussbs  do you check the repos before after the config you listed previous?

[2017-09-06 12:51] QwertyJack commented on #293
After upgrade pheonix to v1.3 and wallaby to 0.19 the problem disappear.

[2017-09-06 12:51] #293 closed

[2017-09-06 13:12] keathley commented on #292
@QwertyJack Just wanted to see if you were still having issue with this.

[2017-09-06 13:33] QwertyJack commented on #292
I think the js is so heavy that input is filled with error text.

[2017-09-06 15:05] #292 closed

[2017-09-06 15:10] QwertyJack opened #298 "Phantomjs remains running after test is finished."
I have to `killall phantomjs` to free memory.

[2017-09-07 16:47] QwertyJack commented on #278
I wonder how to hide JS log for phantomjs.

[2017-09-07 16:49] QwertyJack commented on #298
OMG duplicate with issue #224

[2017-09-07 16:49] #298 closed

[2017-09-07 18:16] keathley commented on #278
@QwertyJack You can change your config: https://github.com/keathley/wallaby#javascript-logging-and-errors

[2017-09-08 03:55] QwertyJack commented on #278
Get it, thx.

[2017-09-08 12:15] devonestes opened #299 "Proposal: Options for testing JSON responses"
Howdy!

First off, thanks for this wonderful library! It's really nice.

So, today I've been working on refactoring a Phoenix 1.2 app to move to 1.3, including moving to Contexts. While doing that, I wanted to test the top level integration of all my contexts, and to do that I want to write some feature specs that actually go through HTTP (including the router) instead of just using Controller tes

[2017-09-08 17:56] keathley commented on #299
This is something thats come up before. Right now there isn't a good way for us to capture the response from a json api because its not something that the browsers exposes. We'd have to use something like HTTPoison (which is already a dependency) and then expose an api for testing apis with that. Would that actually solve for your use case @devonestes?

[2017-09-08 19:09] devonestes commented on #299
This may be my ignorance of browsers speaking, but I've seen that when you hit an API endpoint in pretty much every browser, it does render the response. For example, https://jsonplaceholder.typicode.com/posts/1 displays in my browser (Chrome).

The reason I thought it might be possible is because I can currently do the following, and it works!

[code]

So, somewhere in there it's able to see that

[2017-09-08 20:56] keathley commented on #299
I see. I didn't understand that you meant to just visit the api endpoint. A work around might be to do something like this:

[code]

I'll do some thinking about what an actual api for this might look like.

[2017-09-09 10:51] PragTob commented on #299
:wave:

If it's all about testing APIs (that's what I understood) then I don't feel like wallaby is the right tool. It's main point is browser testing and for testing an API we don't even need a browser, something that just uses HTTPoison itself and then asserts things on it is much more suitable there I feel. Sort of like controller specs, but going through the whole stack. Or am I missing some c

[2017-09-10 18:55] devonestes commented on #299
Yeah, I can see how this might be outside the intended scope of this project. Makes total sense. In the absence of any other tool, though, I wanted to see if you all felt like this might be a good addition to this library so it could be a sort of "complete solution" for testing your applications in whichever way a real user might interact with them, be it through HTML or JSON. I thought that the t

[2017-09-10 19:26] PragTob commented on #299
If we could share the wallaby parallel testing setup, if useful, that would be a cool thing to do. Maybe I'm not too familiar yet though, but I wouldn't hope that it's the biggest hurdle. Personally I'd have nothing against a `wallaby-api` or whatever, but it might be better left to another project. Not sure :)

[2017-09-11 14:28] keathley commented on #299
@PragTob I agree that testing apis is a bit outside of wallaby's responsibilities. Not sure if my opinion has changed but I can certainly see the value in being able to re-use Wallaby's concurrent test setup. This is something I've been thinking about for a bit so I'm going to investigate a bit. It would be nice to have concurrent api tests with a really declarative api. Having a separate package

[2017-09-12 23:11] jamonholmgren opened #302 "Headless Chrome -- best way to install?"
What's the best/easiest/quickest way to install headless chrome for use with Wallaby? Both on a Mac for development as well as Linux for CI.

[2017-09-13 02:14] aaronrenner commented on #302
For OS X, you can run:
[code]
This currently installs version 2.32 (2.31+ is required). Then you can either run `chromedriver` when  needed or have it always start with `brew services start chromedriver`. As long as you have Chrome 60+ installed, it should "just work".

As for running on Linux, here are the lines we added to our build script to get headless chrome running on Travis: https://github

[2017-09-15 00:40] jamonholmgren commented on #302
@aaronrenner You're a collab on this project?? Nice! Thanks for the help, man, and great to see you last week at ElixirConf.

[2017-09-15 01:41] aaronrenner commented on #302
@jamonholmgren Happy I could help. Feel free to reopen this issue of you have any other questions.

[2017-09-15 01:41] #302 closed

[2017-09-18 03:22] aaronrenner opened #305 "Support Selenium 3.5.x"
It appears that selenium 3.5.x has changed their API responses and now we're getting test failures like this:

[code]

I didn't see anything in the [selenium changelog](https://github.com/SeleniumHQ/selenium/blob/master/javascript/node/selenium-webdriver/CHANGES.md), but it seems like they've started putting UUIDs in the element responses. I've confirmed that everything still works fine on Seleniu

[2017-09-18 13:32] keathley commented on #305
Is there a clean way of supporting selenium 3.4 and 3.5? Or does this mean we would start to drop selenium 3.4?

[2017-09-18 13:36] keathley opened #306 "xpath selectors need to use exact text for label fields."
This is based on #257. Currently our xpath selectors for label text use `contains(#{actual_text})`. This can lead to "Multiple Element Errors" if 2 different fields have similar label texts. I think it would be good to match against the exact label text for an element instead of using `contains()`. This change would require users to use a fully qualified label text but, anecdotally, thats all I've

[2017-09-18 13:50] keathley commented on #289
I'm going to close this for now. If this is something that we want then we can write a few shell scripts to make it happen.

[2017-09-18 13:50] #289 closed

[2017-09-24 11:00] #255 closed

[2017-10-03 20:48] andrewhao opened #312 "Suggest an execute_script that returns script value"
After the change in https://github.com/keathley/wallaby/pull/183, `execute_script` now returns the session instead of the script value. Accessing the script value is now done in a callback.

I have a use case where it would be nice to return the script value - @keathley may be familiar with this app :) In this app, we use page modules with nice helper functions to derive various facts about a page

[2017-10-04 14:44] PragTob commented on #312
:wave: and thanks for the report!

So, I fear we might have to supply a variant that does what you want some time as I can see how other people might want that.

As for a higher order function, I fail to come up with a simple way right now :| As we can't access the return value of the callback directly we probably would have to work with processes/agents which isn't exactly ideal.

while I thought

[2017-10-04 23:28] andrewhao commented on #312
Thanks for the quick reply, @PragTob!

Yeah, the fix I've settled on now simply refactors our upstream calling functions to also use callbacks. It's not super ideal, but it works.

Suggest a name like `execute_script_and_return`? or perhaps `evaluate_script`, which may imply that the script is expected to return a value?

[2017-10-05 20:07] nathanl commented on #266
This issue helped me a lot with debugging.

I had a test with `assert_has(css("some_selector"))` that was failing, and I wanted to figure out why.

I tried using `take_screenshot/1` to see the page, but it appeared that the element I wanted had been rendered.

I tried using `page_source/2` to see the HTML, but that showed me the page before JavaScript did any DOM manipulation, and I was looking fo

[2017-10-06 09:46] PragTob commented on #312
I like `evaluate_script` :)

[2017-10-06 12:38] keathley commented on #266
One solution for this would be to use the inspect protocol. I'm not sure how I feel about having side-effects in there or if the results would end up being surprising to folks. Otherwise we could have something like `Element.inspect/1`. What do y'all think?

[2017-10-06 12:41] PragTob commented on #266
Definitely no side effects in the inspect protocol please. A separate function to inspect elements is highly preferred to my mind :)

[2017-10-06 13:18] keathley commented on #312
I'm on the fence about this. Honestly, I'm just leery about adding new functions to the api at this point :wink:. I'll try to explain a bit of my thinking and express the problem as I see it. Please tell me if I'm misrepresenting or misunderstanding any of the nuances.

Its currently possible to solve this issue using `execute_script/2` but it requires you to write code like this:

[code]

There a

[2017-10-06 14:15] dsdshcym commented on #276
Hi, there!

I saw this issue from Elixir Starter and did some investigation.

It turns out to be hard for an Elixir library to control which chrome for chromedriver to use:
1. There is no argument for chromedriver to specify the chrome version (neither versions like 59 or 60, nor channels like stable, beta, or canary)
2. The official recommended way to use another version of chrome is to pass in t

[2017-10-07 14:27] PragTob commented on #312
:wave:

Thanks for your thoughts! I definitely see the danger and I definitely want to avoid adding more functions that pipe and don't pipe :D

In the case mentioned above, where the value is returned from the script and then processed further before hitting any assertion it seems to make some sense. Feels a bit peculiar to cram all of this into one callback of the `execute_script` function.

Albe

[2017-10-09 14:49] johnmosesman commented on #266
@keathley Not sure if this fits within `take_screenshot/1` or not, but it would be great to have an option to save the output as an HTML file. The image works well for visually seeing if the elements are there, but there are many times when I want to inspect the HTML structure.

[2017-10-09 18:15] PragTob commented on #266
@johnmosesman I think it should be a different function call, like `dump_html` or whatever. I have a helper function somewhere to at least print it for myself :)

[2017-10-09 20:14] nathanl opened #317 "Can I get a fuller JS stacktrace?"
I have a test failure right now like this:

[code]

This doesn't tell me much. The JS line it points to is some framework code, and the error doesn't happen in dev mode.

Is it possible to get a fuller JavaScript stacktrace out of Wallaby? (I'm using the PhantomJS driver.)

[2017-10-09 21:41] nathanl commented on #317
OK, actually this *does* happen in development, I just wasn't reproducing it correctly. 😆 Not Wallaby's fault!

[2017-10-10 00:22] andrewhao commented on #312
Yeah - I talked with @keathley about this and I'm (personally) OK with keeping the current API. Perhaps there will be more feedback about this approach in the future.

[2017-10-10 11:35] nathanl commented on #266
I've added this to my `FeatureCase`:

[code]

I use it like:

[code]

[2017-10-10 17:28] keathley commented on #317
@nathanl I'll double check this but unfortunately iirc we're returning everything we get from phantom. So its probably a limitation on phantom's side. Headless chrome might be able to return more info but its still experimental in wallaby at the moment.

[2017-10-26 16:41] RobinClowers commented on #236
I suspect I ran into a similar problem with this code: `find(session, button("SIGN OUT"))`. The button has type="button", yet I get this error:

[code]

[2017-10-27 00:18] RobinClowers opened #327 "Can't find Phantomjs"
I just upgraded from 0.15.0 to 0.19.1, and after updating my tests to match the new api, wallaby fails to start on my CI server with this error:

[code]

We are using phantom-prebuilt, here is the config for wallaby:

[code]

This is running on Elixir 1.5 with Erlang 20.0.

[2017-10-27 02:55] aaronrenner commented on #327
@RobinClowers I see what you mean. It turns out that `System.find_executable/1` doesn't like relative paths. I think there's a few options for a workaround.

1. Update your config to use `Path.expand/1`
[code]
2. Add phantomjs to your PATH before running the command and use the following config:
[code]
3. Use an absolute path:
[code]
Thanks for pointing this out and it seems like this warrants a c

[2017-10-27 03:07] aaronrenner commented on #327
@RobinClowers I just tried it out and this issue has been fixed on master (#296).

[2017-10-27 03:07] #327 closed

[2017-10-27 10:46] bernardobelchior commented on #248
+1

[2017-10-27 14:15] keathley commented on #248
I'm not sure if I'll have time to go through and submit PRs for these but I'm available if you need to know about each query and what it will select on :+1:

[2017-10-27 14:29] keathley commented on #276
@dsdshcym This should be possible once #309 is merged.

[2017-10-27 19:45] #317 closed

[2017-10-28 00:44] dsdshcym commented on #276
@keathley cool, thanks for notifying me!

[2017-10-28 08:04] PragTob commented on #248
Minus the usage example a lot of this is already implemented on master :)

[2017-10-29 13:48] PragTob commented on #164
:wave:

With the new benchee version with hooks I could finally benchmark hound vs. wallaby and yup we are indeed slower :'( Full results/benchmarks at https://github.com/PragTob/acceptance_test_speed

This is the direct comparison result:

[code]

-> For my simplish scenarios we are ~2 to 4 times slower than hound. Especially a find operation seems to be expensive.  We are a lot slower there than

[2017-10-31 15:34] aaronrenner opened #330 "Add docs for compiling phoenix assets before running tests"
I just ran across [this thread](https://elixirforum.com/t/how-do-i-compile-my-javascript-assets-with-webpack-for-wallaby-feature-tests/9735) on ElixirForum where someone was trying to figure out how to compile their Phoenix assets before running their wallaby test suite. I'm not quite sure what needs to be done, but it would be nice if we provided some guidance in the README.

[2017-11-05 12:23] jeroenhouben commented on #224
Why was this issue closed? I'm still seeing phantomjs processes. And the list grows when I run the tests multiple times.

I'm on OSX high sierra, installed phantomjs through homebrew

[2017-11-05 15:08] aaronrenner commented on #224
It should be fixed in 0.19.2. Are you still seeing the issue with the latest release?

[2017-11-05 15:34] jeroenhouben commented on #224
Yes I have `0.19.2` in my mix.lock

[2017-11-09 04:31] aaronrenner commented on #224
@jeroenhouben I just tested on OSX 10.11.6 using phantomjs installed through homebrew and didn't see any zombie processes left behind. I'm upgrading my wife's computer to High Sierra to see if I can recreate the issue.

[2017-11-09 12:47] jeroenhouben commented on #224
ok thanks for investigating! should i upload a anigif or st of my "situation" would that help?

i see lots of phantoms booting, than tests run, then mosts phantoms disappear except for 2 or 3. repeating this i can see the number of phantomjs processes grow larger and larger

[2017-11-09 14:56] aaronrenner commented on #224
Yeah, that would be helpful. The more info you can provide, the better. I'll reopen this issue.

[2017-11-10 15:01] jeroenhouben commented on #224
FYI This a project generated with `mix phx.new --umbrella`

[2017-11-10 15:03] aaronrenner commented on #224
@jeroenhouben Would it be possible to make a sample project that illustrates the same issue? I just ran `mix test` and `WALLABY_DRIVER=phantom mix test` (for the integration tests) on OS X 10.13.1 with Erlang 20.1 and Elixir 1.5.2 and did not see the issue.

[2017-11-15 01:46] aaronrenner commented on #224
@jeroenhouben I've created a sample project and can recreate the issue you're seeing. I'll look into it.

[2017-11-15 09:13] jeroenhouben commented on #224
Thanks @aaronrenner that is awesome.

[2017-11-21 09:13] terenceponce opened #331 "How do I get through Basic Authentication?"
I'm new to Elixir and this is my first time trying out Wallaby.

I'm already stuck because a page that I have to test requires Basic Authentication to go through.

How do I make Wallaby fill out the form in the dialog box that appears when visiting the page for the first time? Is this possible?

[2017-11-21 19:20] PragTob commented on #331
Huh... I'm not sure. @keathley

Most of what we do interacts with the DOM, not sure if that functionality is there. However, if you test your own application you should be able to deactivate the basic auth for testing, shouldn't you? :)

[2017-12-06 08:35] zedtux opened #332 "Could not compile dependency :mimerl"
I am new to Exilir/Phoenix/Cabbage/Wallaby and I have the issue that when I add the following to my `mix.exs` file:

[code]

I have the following error when I run `docker-compose exec app mix test`:

[code]

I don't know if I'm opening the issue at the right place, but as it happens to me when adding the dependency, I guess it could be interesting to have it here, but if not, feel free to guide me

[2017-12-06 18:08] keathley commented on #332
The root issue is that your docker container isn't possible to compile the `mimerl` package. `mimerl` is a dependency of `hackney` which is a dependency of `httpoison` which is what wallaby uses to talk to different webdrivers (and presumably hound as well). I would suspect it has something to do with your docker container or something similar.

[2017-12-06 18:14] zedtux commented on #332
Thank you @keathley for your comment.

The `mimerl` package is install at Docker image build time, but also I did run `mix deps.get` and all packages are fine.
I have also ran `mix deps.update mimerl` as recommended in the error message, I have a positive output, but running again the `mix test` shows me the same error.

I will investigate more about it ... but when I have installed `cabble`, I di

[2017-12-08 10:59] zedtux commented on #332
I have solved this issue but not 100% sure which solved the problem ... What I did is described in this SO: https://stackoverflow.com/questions/47671356/could-not-compile-dependency-mimerl-when-adding-wallaby-to-my-elixir-phoenix-pr

[2017-12-08 10:59] #332 closed

[2017-12-08 13:29] zedtux opened #333 "Example of usage with white-bread/cabbage"
I'm completely new to Elixir/Phoenix and I'd like to use something like white-bread/cabbage in order to test my application but I'm lost on how to mix then with Wallaby.

Is there any kind of example project or guide somewhere I could have in order to figure this out?

[2017-12-08 13:48] keathley commented on #333
I haven't used cabbage or white-bread before so I'm not exactly sure if this will be correct. But looking at the docs you should be able to do something like this:

[code]

If that works then we should think about adding an explanation to the wiki or something similar.

[2017-12-08 13:57] zedtux commented on #333
Thank you @keathley for this quick help!! I will try it immediately.

[2017-12-12 08:01] zedtux commented on #332
@keathley I finally figured out was what the issue with rebar3: proxy!

I have a company proxy configured on my machine and unsetting all the environment variables and the docker 4 mac proxy settings too solved my issue.

[2017-12-12 10:25] zedtux commented on #333
@keathley I tried it but got some incomprehensible error in my console and I'm too new to the stack to get ride it of it so I decided to go only with Wallaby ...

I still think that the documentation should cover this case so I let you decide what you want to do with this ticket. 😉

[2017-12-12 13:45] zedtux commented on #306
@keathley what about this issue? I'm facing exactly the issue as @jeffdeville in my application (`Password` and `Password confirmation`) and I'm looking for a solution.

[2017-12-12 13:48] keathley commented on #333
Thanks @zedtux. I'll see if I can get a demo application set up and work through the issues. If that all works I'll write a wiki entry for it.

[2017-12-12 13:48] #333 closed

[2017-12-12 13:51] keathley commented on #332
Glad you figured it out 👍

[2017-12-12 13:52] keathley commented on #306
For now you should be able to use the id of the element like `text_field("password")` and `text_field("password_confirmation")`.

[2017-12-12 14:01] zedtux commented on #306
Thank you @keathley it is working 👍 but still do you have an idea when this could be addressed?

[2017-12-12 14:38] keathley commented on #306
I'll try to prioritize this fix.

[2017-12-13 03:11] sabondano commented on #269
@keathley you mentioned above that you can sometimes remedy the db connection issues by forcing the browser to block until those processes have closed. Is there a way for Wallaby users to do this?

[2017-12-13 10:04] zedtux commented on #266
@keathley That would be great to have both the HTML and image screenshot on error so that debugging is easier.

[2017-12-13 10:41] zedtux commented on #152
[code]

is resizing the window in a strange way. I'm using bootstrap and I'm working on registering an account using a sign up button from the navbar, but my navbar is always blank because the CSS class `collapse` (having a media query) is hidding it.
Increasing the window size doesn't fix the issue, even with a width of `2000`.

To test it, I removed the CSS for the navbar responsiveness and used

[2017-12-13 13:59] keathley commented on #152
@zedtux which browser are you using?

[2017-12-13 14:44] zedtux commented on #152
The second screenshot has been done with Firefox 57.0.1 and the first one is from Wallaby.

[2017-12-13 14:49] keathley commented on #152
I'm wondering if this is a phantom bug. You might try with chrome to see what that does. Phantom has issues with new-ish css and such.

[2017-12-14 13:32] joshuataylor commented on #331
Can't you set the url to http://foo:bar@example.com?

[2017-12-22 22:08] adamniedzielski opened #335 "Random segmentation faults with headless Chrome"
Thanks for this great library, I was honestly surprised how easy it was to configure it and start using in a project 👍 👍 👍

My setup:
- Wallaby 0.19.2
- Elixir 1.5.3
- OTP 20.1
- Chrome 63
- Chromedriver 2.31
- macOS High Sierra

I'm experiencing random segmentation faults that look like this:

[code]

So far I couldn't identify any pattern when it happens. I'm using headless Chrome in another pro

[2017-12-24 10:44] PragTob commented on #335
:wave:

Hellooo :)

That's interesting... support is still experimental but obviously this shouldn't happen :D Not sure why this happens, seems it originates in our helper script that is supposed to shut down all the processes iirc

Do you have any other error log maybe from chromedriver itself?

Maybe @aaronrenner has an idea (he built the bulk of the chrome driver support).

Happy holidays :sant

[2017-12-26 16:43] drapergeek commented on #335
We're running into the same problem. It's intermittent.

I've attached the chromedriver log below. I apologize for the lengthy log but hopefully it's helpful. If I can get anything else to you, please let me know!

[chromedriver.log](https://github.com/keathley/wallaby/files/1587609/chromedriver.log)

[2017-12-29 02:41] sergiotapia opened #337 "Wallaby is too fast for React to do it's changes. Aside from timer.sleep, any suggestions?"
I have a form that shows up when someone clicks a button. This also hides the invocation button.

This is done using simple setState's to show/hide visible elements.

---

The test fails saying it cannot find the form, after the button click. However if I add the button click call multiple times, it then says it cannot find the button (so it's changing to the form).

If I add a timer.sleep, the te

[2017-12-29 23:28] keathley commented on #337
Can you post the test? Most operations should block until the query is valid or the test times out.

[2018-01-04 02:11] keathley commented on #337
@sergiotapia were you able to resolve this?

[2018-01-04 02:17] keathley commented on #335
I've seen errors like this:
[code]

In wallaby's own test suite. Its an issue in how phantom is being managed by our shell script. I think @aaronrenner had a fix for it the last time I talked to him. I think the root of the issue is that wallaby is killing chromedriver by sending too many requests to it too quickly which can cause requests to fail. We try to account for this by retrying commands u

[2018-01-04 02:24] keathley commented on #331
I'm...actually not sure how to do this 🙃 .

If I remember correctly phantom requires you to pass in the auth into the settings when you start a session. We don't expose that for the session so that might be tricky. You can't directly interact with the alert because phantom doesn't let you.

If you use chromedriver then you should be able to interact with the dialog directly using `accept_prompt/3`

[2018-01-04 02:32] keathley commented on #330
Yeah its probably a good idea to add a something to the docs. What if we add a "Phoenix Setup" section or similar and we can provide some information there.

For our production apps we just run `brunch build` if we're testing against the UI. We considered adding a step in our `mix test` alias to build assets but we felt like it would make our test workflow too slow. I guess we can at least present

[2018-01-04 02:40] keathley commented on #312
Going to close this for now. Happy to revisit in the future.

[2018-01-04 02:40] #312 closed

[2018-01-06 09:03] PragTob commented on #330
Sounds like a great idea and worthwhile improvement @keathley ! :)

[2018-01-08 14:25] keathley opened #339 "Remove deprecated function in session"
I guess we missed this in the cleanup of deprecated functions: https://github.com/keathley/wallaby/blob/master/lib/wallaby/session.ex#L17

[2018-01-08 14:34] keathley commented on #337
@sergiotapia I'm going to go ahead and close this for now. If you are still experiencing issues feel free to re-open this. If you could also provide an example test case that would help in the debugging a great deal :+1:.

[2018-01-08 14:34] #337 closed

[2018-01-08 14:35] keathley commented on #331
@terenceponce were you able to work through this?

[2018-01-08 15:34] keathley commented on #330
Opened a PR for this.

[2018-01-09 17:57] #330 closed

[2018-01-10 23:48] marcdel opened #341 "attach_file/3 doesn't set the input value in a phoenix project"
I've been trying to test a file upload element in an existing project but it never seems to change the value of the component. I thought maybe it was some unrelated html/css/etc. interfering so I created an empty phoenix project, added wallaby, and added a single file input and a corresponding test. I've tried a bunch of different ways of calling `attach_file`, but obviously I'm still doing someth

[2018-01-11 15:09] #339 closed

[2018-01-11 15:54] keathley commented on #341
@marcdel Thanks for the detailed report! That helps a ton.

I noticed in your demo app that you're using an umbrella. When you run your tests are you running them from the root of the umbrella or from the web app directory?

[2018-01-11 16:11] keathley commented on #341
Actually, nvm on any of that. I figured out the issue. When wallaby attaches a file it uses the absolute path of the file with `:filename.absname(path)`. So when you use `has_value?(relative_path)` it doesn't end up matching.

You can get your tests to pass by doing something like this:

[code]

There might be a better api for this but I'm not sure what it would look like right now.

[2018-01-11 18:05] marcdel commented on #341
You know what, I noticed that the test asserts started with “C://“ but my screenshot didn’t show the value getting filled in, so I assumed it was the `attach_file` rather than the assert. In my original project I was also logging the params coming into the controller on submit and that param was missing (but wasn’t when submitting manually). I’ll add a form to this example project and see if that’

[2018-01-11 20:06] keathley commented on #341
Yeah a little more context in that test failure would have made all the difference. Feel free to submit a PR :+1:

[2018-01-12 00:55] marcdel commented on #341
I updated my test to do a string comparison of the element value. Turns out it actually is blank 😞

[code]

[code]

[2018-01-12 01:21] keathley commented on #341
I think the issue is that you're piping `find(session, photo_field) |> Wallaby.Element.value()` which actually pipes the session into `Wallaby.Element.value`. If you wanna get the value for the element you'll have to use the callback like `find(session, photo_field, & assert Wallaby.Element.value(&1) == "test/support/photo.png")`.

[2018-01-12 01:47] marcdel commented on #341
Oh, whoops. I forgot everything is chainable (which is generally v convenient).
Still no dice using a callback though. Either like that or the longer form you posted earlier:
[code]

Somewhat unrelated: I'm having trouble running `integration_test/cases/browser/file_test.exs` in the wallaby repo. If I run `mix test`, all the tests pass. Though nothing I do in that file seems to change that and `IO

[2018-01-12 13:06] keathley commented on #341
This works fine for me with you repo:

[code]

Wallaby has 2 test suites; a unit suite and an integration suite. In order to run the integration tests you have to specify which browser you want to run against. So it would be something like: `WALLABY_DRIVER=phantom mix test integration_test/cases/browser/file_test.exs`. Also the tag jumping works for me in neovim but I have no idea why it would be

[2018-01-12 17:52] marcdel commented on #341
That's super weird, so it's gotta be something to do with my webdriver setup or something. At least that narrows down the problem. I'll fiddle with it some more and see if I can get it working. I'll update this issue if/when I do.

Thanks for your help debugging!

[2018-01-16 03:57] mcasper opened #344 "Query.text errors on single quotes"
It looks like `Query.text` currently errors if you give it any string with single quotes in it:

[code]

This seems to be caused by the fact that `Wallaby.Query.Xpath.text/1` uses single quotes as the delimiter for the selector, and doesn't escape the single quotes in any way.

It seems like it's probably more common to have single quotes in valid text than double quotes, so is there any harm in c

[2018-01-19 14:19] keathley commented on #344
We should probably work out a way to escape these correctly since it may be a problem for other selectors as well.

[2018-01-24 03:13] danielfoxp2 commented on #333
Same here. I want to use White_Bread to describe my app behaviour with Wallaby to implement the steps. But Wallaby seems to be too much dependent of ExUnit configurations and therefore a real pain (to me) to configure with White_Bread.

I do not want to use Cabbage, so I didn't test your suggested approach above. Can't you tell me if it is possible to make Wallaby work with White_Bread?

Thanks.

[2018-01-24 03:45] sergiotapia opened #346 "fill_in with emoji value doesn't fill in the input."
Screenshot of failing test:

![image](https://user-images.githubusercontent.com/686715/35313568-1fa73170-008f-11e8-8f01-f84adcc0bf77.png)

Code:

[code]

How can I fill in an input with an emoji? I'm trying to write a test for our validation that prevents emojis from being in the first name and last name fields.

Thanks!

[2018-01-24 14:51] keathley commented on #346
@sergiotapia which browser are you using? Chromedriver doesn't handle emoji correctly. We might need to figure out a work around for that in the same way gitlab did: https://about.gitlab.com/2017/12/19/moving-to-headless-chrome/. The TL;DR is that they created a javascript function to fill in the text and fire off DOM events.

[2018-01-24 15:59] keathley commented on #333
@danielfoxp2 There's nothing in wallaby that is tied to ExUnit. You could use wallaby from iex or any other process. Its not even specific to testing. You could use Wallaby to scrape webpages if you wanted to. Wallaby just drives browsers. We provide a setup for ExUnit since thats far and away the most popular test runner for Elixir. If you want to use an alternative test runner then thats perfect

[2018-01-24 16:22] sergiotapia commented on #346
I'm using chromedriver. I'll take a look at Gitlabs workaround and see how I can apply it to our project, then generalize it for Wallaby.

[2018-01-24 16:49] danielfoxp2 commented on #333
I am reaally grateful by the example you gave. Thank you.

About the ExUnit dependent, I apologize. On elixir apps configurations I still struggle a lot. I was following the docs and not having a good time. I should've stated that it was a problem with my knowledge.

There is where I fell short.

Thank you to take the time to put the effort needed to do the example.

[2018-01-24 19:51] keathley commented on #333
@danielfoxp2 No worries :)

[2018-02-01 18:11] josuehenrique opened #349 "How can I connect in remote phantomjs host:port?"

[2018-02-07 22:53] sparta-developers opened #350 "version 0.19.2 is much slower than 0.19.1"
After upgrading to 0.19.2 from 0.19.1, our test startup time got much much longer.

We created a very simple Phoenix app with `mix phx.new`. We added Wallaby but didn't add any Wallaby tests. Without Wallaby, the tests take 0.0557s. With Wallaby 0.19.1, the tests take 0.925s. With Wallaby 0.19.2, the tests take 14.418s. Here's the repo for that simple app: https://github.com/sparta-science/wallaby

[2018-02-08 00:22] keathley commented on #350
I just tested this on my macbook air running sierra 10.12.6. I definitely see an increase in start-up time. Not nearly as bad as 14 seconds though.

Here's what I'm getting:

[code]

Those times are pretty consistent on my machine. I'll try to get a system trace to see whats going on. I also suspect that its related to phantomjs startup. We changed that in 0.19.2 to try to fix some issues with zom

[2018-02-12 14:04] #224 closed

[2018-03-01 08:55] marnen opened #351 "HTTPoison issue on any URL"
I'm running Wallaby 0.19.2 on a Debian Jessie Docker container (hosted on Mac OS X) with Elixir 1.6. Whenever I do `session |> visit(any URL whatsoever)`, I get the following error:

[code]

HTTPoison seems to be retrieving the pages just fine, but I believe the problem is that Wallaby is attempting to decode the resulting HTML as if it were JSON (see https://github.com/keathley/wallaby/blob/v0.19

[2018-03-01 09:01] marnen commented on #351
On reflection, I'm not sure I'm right about the JSON issue, since I suppose Wallaby would have to be making requests to the PhantomJS endpoint, not directly to the desired HTML page. But I definitely can't get Wallaby to visit _any_ page successfully, even though those pages can successfully be seen by a client such as HTTPoison.

[2018-03-01 09:03] marnen commented on #351
Oh, and I'm using PhantomJS 2.1.1 and setting QT_QPA_PLATFORM=offscreen as recommended [here](https://github.com/ariya/phantomjs/issues/14376).

[2018-03-01 09:15] marnen commented on #351
I think I was wrong about the root cause here:

[code]

So for some reason the session URL (that's the PhantomJS endpoint, right?) is timing out on POST but not on GET.

[2018-03-01 17:11] marnen commented on #351
I think there was a twofold problem.

* I was using the PhantomJS installation from jessie-backports, which doesn't appear to work with Wallaby. I switched to the NPM phantom-prebuilt package.
* I was also setting `QT_QPA_PLATFORM=offscreen` as [required for PhantomJS 2.1.3](https://github.com/ariya/phantomjs/issues/14376). Unfortunately, 2.1.1 (which both backports and the Node package use) don't

[2018-03-01 22:55] PragTob commented on #351
@marnen thanks for the investigation. It might be worth specifying what version of phantomjs we expect, yes :)

[2018-03-05 14:40] SherSpock opened #352 "Session details aren't surfaced in test failures"
It would be helpful if it were possible to surface session details in test failures. Some friends and I just resolved a snag in our project where having some more detailed insight into the DOM state at failure time would have helped a lot.

[code]

[2018-03-05 14:45] keathley commented on #352
What sort of details would have made it easier for you to diagnose the issue?

[2018-03-05 14:53] SherSpock commented on #352
@keathley A little embarrassing, but it was a letter capitalized in our assertion code that was lower-case in the view. We missed it for longer than was really reasonable. If we could have seen that element in the failure we could have potentially caught it instantly.

[2018-03-05 14:57] keathley commented on #352
We could potentially return the text from the elements that matched the css so its easier to compare the results.